<md-content>
    <div class="widget">
        <div class="widget-header ">
            <button style="float:right; margin-top: 2px; margin-right: 2px;" ng-disabled="BoDanhGia.IsLock" ng-click="New()" class="btn btn-primary"><i class="fa fa-plus"></i>Thêm</button>
            <button style="float:right; margin-top: 2px; margin-right: 2px;" ng-disabled="BoDanhGia.IsLock" ng-click="Lock()" class="btn btn-primary">Khóa</button>
            <button style="float:right; margin-top: 2px; margin-right: 2px;" ng-disabled="!BoDanhGia.IsLock" ng-click="UnLock()" class="btn btn-primary"><i ng-click="UnLock()" class="fa fa-lock fa-xs"></i>Mở Khóa</button>
        </div>
        <div class="widget-body">
            <div>
                <div class="text-align-center"><h4>{{BoDanhGia.MoTa}}</h4></div>
                <table class="table table-hover" border="1" style="border-color:lightgrey">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên tiêu chí</th>
                            <th style="width:100px">Điểm tối đa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListTieuChiDanhGia">
                            <td><b ng-if="item.IsChildren">{{item.STT}}</b><span ng-if="!item.IsChildren">{{item.STT}}</span></td>
                            <td ng-bind-html="item.TenTieuChi" ng-click="Edit(item)" style="cursor:pointer"></td>
                            <td>{{item.DiemToiDa}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-hide="BoDanhGia.LoaiBoDanhGiaTenLoai == 'Đồng nghiệp'">
                <div class="col-lg-3 col-12"></div>
                <div class="col-lg-6 col-12">
                    <form class="form-horizontal" name="KetQuaXepLoaiForm" role="form" novalidate>
                        <table class="table "  border="1" style="border-color:lightgrey">
                            <caption class="text-align-center"><h4 style="font-weight:bold">KẾT QUẢ TỰ PHÂN LOẠI:</h4></caption>
                            <thead>
                                <tr>
                                    <th>Phân loại mức độ hoàn thành nhiệm vụ</th>
                                    <th>Điểm Từ</th>
                                    <th>Đến</th>
                                    <th  ng-hide="BoDanhGia.IsLock"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="BoDanhGia.IsLock">
                                    <td>
                                        <md-input-container style="width:100%"><input style="width:100%" type="text" ng-model="ObjXepLoai.TenXepLoai" /></md-input-container>
                                    </td>
                                    <td style="width:100px"><md-input-container><input type="number" min="0" max="99" step="1" style="width:80px; font-size:14px" ng-model="ObjXepLoai.FromScore"></md-input-container></td>
                                    <td style="width:100px"><md-input-container><input type="number" min="{{ObjXepLoai.FromScore + 1}}" max="100" step="1" style="width:80px; font-size:14px" ng-model="ObjXepLoai.ToScore"></md-input-container></td>
                                    <td style="width:100px"><md-input-container><button class="btn btn-primary" ng-click="NewKetQuaXepLoai(ObjXepLoai)" ng-disabled="KetQuaXepLoaiForm.$invalid || BoDanhGia.IsLock"><i class="fa fa-plus"></i></button></md-input-container></td>
                                </tr>
                                <tr ng-repeat="item in ListKetQuaXepLoai">
                                    <td><span>{{item.TenXepLoai}}</span></td>
                                    <td><span>{{item.FromScore}}</span></td>
                                    <td><span>{{item.ToScore}}</span></td>
                                    <td  ng-hide="BoDanhGia.IsLock"><md-input-container><md-button style="min-height: 10px !important; line-height:unset !important" ng-click="DeleteKetQuaXepLoai(item.Id)"  ng-disabled="BoDanhGia.IsLock"><i  style="color:red" class="fa fa-minus"></i></md-button></md-input-container></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-lg-3 col-12"></div>
            </div>
        </div>
        <div class="widget-header ">
            <button style="float:right; margin-top: 2px; margin-right: 2px;" ng-disabled="BoDanhGia.IsLock" ng-click="New()" class="btn btn-primary"><i class="fa fa-plus"></i>Thêm</button>
            <button style="float:right; margin-top: 2px; margin-right: 2px;" ng-disabled="BoDanhGia.IsLock" ng-click="Lock()" class="btn btn-primary">Khóa</button>
        </div>
    </div>
</md-content>