<style>
    label {
        font-weight: bold;
    }
</style>
<form name="departmentDetailForm" role="form" class="form-horizontal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': departmentDetailForm.name.$invalid}">
            
            <label for="inputFirstName" class="col-md-4 control-label">Tên</label>
                <div class="col-md-6">
                    <input type="text" disabled class="form-control" name="name" placeholder="Enter name here ..." required ng-model="obj.Name">
                    <div class="col-md-2">
                        <span ng-show="departmentDetailForm.name.$error.required" class="help-block">*</span>
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label for="selectType" class="col-md-4 control-label">Nhân viên</label>
            <div class="col-md-6">
                <select class="form-control" name="StaffSelect" ng-model="obj.StaffId" ng-options="listObj.Id as listObj.Name for listObj in staffs">
                    <option value="">Chọn nhân viên ...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="selectType" class="col-md-4 control-label">Chức vụ</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="obj.StaffRoleId" ng-change="changedValue(obj.StaffRoleId,obj.Id)" name="StaffRoleSelect" ng-options="listRole.Id as listRole.Name for listRole in staffRoles">
                    <option value="">Chọn chức vụ ...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="departmentDetailForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>