<html>
<head runat="server">
</head>
<body>
    <div>
        <div class="hrm_clear">
        </div>
        <div class="hrm_content" style="width: 1000px !important">
            <table width="100%" border="1" style="border-collapse: collapse">
                <tr class="backGroundTitle" style="height: 40px;">
                    <th class="textToCenter" style="width: 80px"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.NGAY_QD">Ngày QĐ</span></th>
                    <th class="textToCenter" style="width: 80px"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.SO_QD">Số QĐ</span></th>
                    <th class="textToCenter" style="width: 200px"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.NOI_DUNG">Nội dung</span></th>
                    <th style="width: 80px" class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.TU_NGAY">Từ ngày</span></th>
                    <th style="width: 80px" class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.DEN_NGAY">Đến ngày</span></th>
                    <th class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.NGACH_LUONG">Ngạch lương</span></th>
                    <th class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.BAC_LUONG">Bậc lương</span></th>
                    <th class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.LUONG_CB">Lương CB</span></th>
                    <th class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.LUONG_KD">Lương KD</span></th>
                    <th class="textToCenter"><span data-i18n="CAC_QUA_TRINH.DIEN_BIEN_LUONG.TONG_PC">Tổng PC</span></th>
                </tr>
                <tbody data-bind="foreach: DanhSach_DienBienLuong">
                    <tr>
                        <td data-bind="text: NgayQuyetDinh == null ? '' : formatDate(new Date(NgayQuyetDinh))" class="textToCenter"></td>
                        <td data-bind="text: SoQuyetDinh" class="textToCenter"></td>
                        <td data-bind="text: NoiDung" class="textToCenter"></td>
                        <td data-bind="text: TuNgay == null ? '' : formatDate(new Date(TuNgay))" class="textToCenter"></td>
                        <td data-bind="text: DenNgay == null ? '' : formatDate(new Date(DenNgay))" class="textToCenter"></td>
                        <td data-bind="text: NgachLuong" class="textToCenter"></td>
                        <td data-bind="text: BacLuong" class="textToCenter"></td>
                        <td data-bind="text: LuongCoBan" class="textToCenter"></td>
                        <td data-bind="text: LuongKinhDoanh" class="textToCenter"></td>
                        <td data-bind="text: TongPhuCap" class="textToCenter"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
