<script type="text/javascript">
    var session= {};
    function ViewModel() {
        var self = this;
        self.password = ko.observable();
        self.confirmPassword = ko.observable();
    }
    ViewModel.prototype =
    {
        validate: function () {
            var self = this;
            return $.trim(self.password()).length != 0 && $.trim(self.confirmPassword()).length != 0 && self.password() == self.confirmPassword();
        },
        save: function () {
            var self = this;
            if (!self.validate())
                return;

            $.ajax({
                type: 'POST',
                url: '/WebServices/ChangePassword_WebUser',
                async: false,
                data: JSON.stringify({ webUserId: session.UserId, passWord: self.password() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function (result) {
                    alert("Lưu thành công !!");
                    $("#popupChangePassword").data("kendoWindow").close();
                }
            });
        }
    };

    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        ko.applyBindings(new ViewModel(), document.getElementById('userChangePassword'));
    });
</script>
<div id="userChangePassword">

    <div id="userDetail">
        <div>
            <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0;">
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-blue">
                        <span class="widget-caption">ĐỔI MẬT KHẨU</span>
                    </div>
                    <div class="widget-body">
                        <div class="form-horizontal form-bordered">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Mật khẩu <span class="validate" data-bind="visible: $.trim(password()).length == 0 || confirmPassword() != password()">(*)</span></label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" style="padding-top: 0; padding-bottom: 0;" data-bind="value: password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Xác nhận mật khẩu <span class="validate" data-bind="visible: $.trim(confirmPassword()).length == 0 || confirmPassword() != password()">(*)</span></label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" style="padding-top: 0; padding-bottom: 0;" data-bind="value: confirmPassword" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="text-align: center;">
                                    <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: save">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
