
<style type="text/css">
    .formGroup {
        padding: 10px 0px 0px 0px;
        margin: 0 auto;
    }

        .formGroup label {
            float: left;
            width: 200px;
        }

        .formGroup span {
            padding: 0px 10px;
        }

    .container {
        border: solid 1px #7F9DB9;
        width: 100%;
        height: 300px;
        overflow-y: scroll;
    }

    .form_checkbox {
        padding: 0 5px;
        width: 500px;
    }

    h3 {
        color: #3B6097;
    }

    .formEvent {
        float: right;
    }

        .formEvent a {
            color: #3B6097;
            width: 50px;
            float: left;
        }

    .validate {
        color: red;
    }

    table tr td {
        padding-bottom: 8px;
    }
</style>
<script type="text/javascript">

    $(function () {

        var session = {};
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../default.html";
        //}

    });
</script>
<script type="text/javascript">
    function ViewModel(datagrid) {
        var self = this;
        //
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        self.userName = ko.observable();
        self.passWord = ko.observable();
        self.fullName = ko.observable();
        self.email = ko.observable();
        self.emailhdqt = ko.observable();
        self.emailht = ko.observable();
        self.emailtp = ko.observable();
        self.accountList = ko.observableArray();
        self.accountSelected = ko.observable('00000000-0000-0000-0000-000000000001');
        self.status = ko.observable('true');
        self.departments = ko.observableArray(null);
        self.companys = ko.observableArray(null);
        self.departmentSelected = ko.observableArray();
        self.companySelected = ko.observableArray();
        self.departments_role = ko.observableArray(null);
        self.department_role_selected = ko.observableArray();
        self.datagrid = datagrid;
        self.items = ko.observableArray();
        self.allSelected = ko.observable();
        //
        self.grid_hosonhanvien = ko.observableArray();
        self.departmentSelected_nhansu = ko.observable(null);
        //
        self.departmentSelected_nhansu.subscribe(function (newValue) {
            if (newValue == undefined) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/WebServices/HoSoNhanVienBy_MaBoPhan',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({ maBoPhan: newValue, company: self.companySelected() }),
                async: false,
                success: function (result) {
                    var obj = result;
                    obj.push({ Oid: null, MaQuanLy: null, HoTen: '' /*, Ten: ''*/ });
                    self.grid_hosonhanvien(obj);
                }
            });

            var source =
            {
                localdata: self.grid_hosonhanvien(),
                datafields:
                [
                    { name: 'Oid', type: 'string' },
                    { name: 'MaQuanLy', type: 'string' },
                    { name: 'HoTen', type: 'string' },
                    //{ name: 'Ten', type: 'string' }
                ],
                datatype: "json"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            // initialize jqxGrid
            $("#jqxdropdownbutton").jqxDropDownButton({ width: 150, height: 25 });
            $("#jqxgrid_hosonhanvien").jqxGrid(
                {
                    width: 250,
                    source: dataAdapter,
                    pageable: true,
                    autoheight: true,
                    autorowheight: true,
                    columnsresize: true,
                    showfilterrow: true,
                    filterable: true,
                    columns: [
                        { text: dataLocalize("QUAN_LY_USER_ADMIN.HO_SO_NHAN_VIEN.MA_QUAN_LY"), datafield: 'MaQuanLy', width: 90, },
                        { text: dataLocalize("QUAN_LY_USER_ADMIN.HO_SO_NHAN_VIEN.HO_TEN"), datafield: 'HoTen', width: 160, },
                        //{ text: 'Tên', datafield: 'Ten', columntype: 'textbox', width: 70, },
                    ]
                });
            $("#jqxgrid_hosonhanvien").on('rowselect', function (event) {
                var args = event.args;
                var row = $("#jqxgrid_hosonhanvien").jqxGrid('getrowdata', args.rowindex);
                if (row == undefined)
                    return;
                var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + row['HoTen'] /*+ ' ' + row['Ten']*/ + '</div>';
                $("#jqxdropdownbutton").jqxDropDownButton('setContent', dropDownContent);
            });
            var rows = $('#jqxgrid_hosonhanvien').jqxGrid('getrows');
            $("#jqxgrid_hosonhanvien").jqxGrid('selectrow', rows.length - 1);
        });

        //Lấy danh sách trường
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.companys(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });

        //Lấy danh sách phòng ban phân quyền
        $.ajax({
            type: 'POST',
            url: '/WebServices/BoPhan_LayTatCaBoPhan',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.departments_role(obj);
            }
        });

        function GetDanhSachBoPhanTheoCongTy() {
            //Lấy danh sách phòng ban thuộc trường
            $.ajax({
                type: 'POST',
                url: '/WebServices/GetDanhSachBoPhanTheoCongTy',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({ congTy: self.companySelected() }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.departments(obj);
                    //
                    if (obj[0] != null)
                        self.departmentSelected(obj[0].Oid);
                    else
                        self.departmentSelected(null);
                }
            });
        }
        GetDanhSachBoPhanTheoCongTy();

        //Lấy danh sách phòng ban thuộc trường
        self.companySelected.subscribe(function (newValue) {
            if (newValue == undefined) {
                return;
            }
            GetDanhSachBoPhanTheoCongTy();
        });

        //
        self.source =
        {
            id: 'Id',
            datafields: [
               { name: 'Oid', type: 'string' },
               { name: 'SoHieuCongChuc', type: 'string' },
               { name: 'UserName', type: 'string' },
               { name: 'HoVaTen', type: 'string' },
               { name: 'Email', type: 'string' },
               { name: 'HoatDong', type: 'bool' },
               { name: 'TenBoPhan', type: 'string' },
               { name: 'LoaiTaiKhoan', type: 'string' }
            ],
            datatype: "json",
            // localdata: self.items()
            url: "/WebServices/GetList_QuanLyUserQuanTri",
            formatdata: function (data) {
                //
                return {
                    webgroupid: session.WebGroupId
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
        {
            source: self.dataAdapter,
            width: '100%',
            selectionmode: 'checkbox',
            pageable: true,
            pagesize: 20,
            sortable: true,
            filterable: true,
            autorowheight: true,
            autoheight: true,
            theme: "darkBlue",
            columns: [
                {
                    text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.STT"), columntype: 'number', width: 45, editable: false, cellsrenderer: function (row, column, value) {

                        return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                    }
                },
                { text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.MA_NHAN_SU"), datafield: 'SoHieuCongChuc', width: 120, align: 'center' },
                {
                    text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.TEN_USER"), datafield: 'UserName', width: 100, align: 'center',
                    cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties) {
                        var item = self.datagrid.jqxGrid('getrowdata', row);

                        return "<div style='padding-left:5px;text-align:left;' class='jqx-grid-cell-child'><a href='/#/kpi/userDetail?Id=" + item.Oid + "' style=''>" + cellvalue + "</a></div>";
                    }
                },
                { text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.HO_TEN"), datafield: 'HoVaTen', width: 150, align: 'center' },
                { text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.TEN_BO_PHAN"), datafield: 'TenBoPhan', width: 250, align: 'center' },
                { text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.LOAI_TAI_KHOAN"), datafield: 'LoaiTaiKhoan', width: 120, align: 'center' },
                { text: 'Email', datafield: 'Email', width: 150, align: 'center' },
                {
                    text: dataLocalize("QUAN_LY_USER_ADMIN.TABLE.TRANG_THAI"), datafield: 'HoatDong', width: 100, columntype: 'checkbox', align: 'center', cellsalign: "middle"
                }
            ]
        });
        self.datagrid.jqxGrid('rendered', function () {
            self.datagrid.jqxGrid('localizestrings', jqxLocalization());
        });
    }
    ViewModel.prototype = {
        refreshObj: function () {
            var self = this;
            self.userName("");
            self.passWord("");
            self.accountSelected("00000000-0000-0000-0000-000000000001");
            self.status('true');
            self.departmentSelected_nhansu(undefined);
            self.allSelected(false);
        },
        selectAll: function () {
            var self = this;

            //Cập nhật data
            ko.utils.arrayForEach(self.departments_role(), function (val) {
                //val.Chon(!self.allSelected());
                val.Chon = ko.observable(!self.allSelected());
            });

            //Cập nhật phía người dùng
            var checkboxes = document.getElementsByName("checkbox");
            for (var i = 0; i < checkboxes.length; i++) {
                //
                checkboxes[i].checked = !self.allSelected();
            };

            return true;
        },
        validate: function () {
            var self = this;
            return $.trim(self.userName()).length != 0 && $.trim(self.passWord()).length != 0;
        },
        validateUsernameExist: function (webUserId, userName) {
            var temp;
            $.ajax({
                type: 'POST',
                url: '/WebServices/WebUsers_KiemTraTrungUsername',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({ webUserId: webUserId, userName: userName }),
                async: false,
                success: function (result) {
                    temp = result;
                }
            });
            return temp;
        },
        save: function () {
            var self = this;
            if (!self.validate()) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.TEN_DANG_NHAP_VA_MAT_KHAU_KHONG_DUOC_TRONG"));
                return;
            }
            if (self.validateUsernameExist(null, self.userName())) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.TEN_DANG_NHAP_DA_TON_TAI"));
                $("#txtUserName").focus();
                return;
            }
            if (self.emailht() != "" && self.emailht() != undefined && !isEmail(self.emailht())) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.EMAIL_HIEU_TRUONG_KHONG_HOP_LE"));
                $("#emailht").focus();
                return;
            }
            if (self.emailhdqt() != "" && self.emailhdqt() != undefined && !isEmail(self.emailhdqt())) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.EMAIL_HOI_DONG_QUAN_TRI_KHONG_HOP_LE"));
                $("#emailhdqt").focus();
                return;
            }
            if (self.emailtp() != "" && self.emailtp() != undefined && !isEmail(self.emailtp())) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.EMAIL_TRUONG_PHONG_KHONG_HOP_LE"));
                $("#emailtp").focus();
                return;
            }
            //
            var getselectedrowindexes = $('#jqxgrid_hosonhanvien').jqxGrid('getselectedrowindexes');
            if (getselectedrowindexes != undefined)
                var selectedrow_hsnhanvien = $('#jqxgrid_hosonhanvien').jqxGrid('getrowdata', getselectedrowindexes[0]);

            //
            if (self.accountSelected() != "00000000-0000-0000-0000-000000000001" &&
                self.departmentSelected_nhansu() == undefined) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.CHON_NHAN_VIEN"));
                return;
            }
            //
            var obj =
            {
                ThongTinNhanVien: self.departmentSelected_nhansu() == undefined ? null : selectedrow_hsnhanvien.Oid,
                UserName: self.userName(),
                Password: self.passWord(),
                HoatDong: self.status(),
                DanhSachDTO_BoPhan: self.department_role_selected(),
                WebGroupID: self.accountSelected() == undefined ? null : self.accountSelected(),
                EmailHT: self.emailht(),
                EmailHDQT: self.emailhdqt(),
                EmailTP: self.emailtp(),
                BoPhanId: self.departmentSelected_nhansu()
            };
            $.ajax({
                type: 'POST',
                data: JSON.stringify({ obj: obj }),
                contentType: "application/json; charset=utf-8",
                url: '/WebServices/Save_QuanLyUser',
                async: false,
                dataType: "json",
                success: function (result) {
                    alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.LUU_THANH_CONG"));
                    $("#jqxgrid").jqxGrid('updatebounddata');
                    $('#popupWindow').data("kendoWindow").close();
                    //
                    location.reload();
                }
            });
        },
        createNew: function () {
            var self = this;

            //
            $.get('/app/views/chamcong/User/AddNew.html', function (data) {
                $('#popupWindow').html(data);
                ko.cleanNode($('#popupWindow')[0]);
                $('#popupWindow').kendoWindow({
                    width: "60%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    }

                });
                //Lấy dữ liệu Loại tài khoản
                var sourceLoaiTaiKhoan =
                {
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    datafields: [
                        { name: 'Oid' },
                        { name: 'Name' }
                    ],
                    url: "/WebServices/WebGroup_GetList",
                    async: false,
                    id: 'Oid'
                };
                var dataAdapter = new $.jqx.dataAdapter(sourceLoaiTaiKhoan);
                //
                $("#jqxComboBox_LoaiTaiKhoan").jqxComboBox({ source: dataAdapter, displayMember: "Name", valueMember: "Oid", width: '300px', height: '25px' });
                $("#jqxComboBox_LoaiTaiKhoan").jqxComboBox('selectItem', "00000000-0000-0000-0000-000000000001");
                //
                $("#truong").hide();
                $("#phanquyendonvi").hide();
                $("#departmentnhanvien").hide();
                $("#danhsachnhanvien").hide();
                //
                $("#emailht").hide();
                $("#emailhdqt").hide();
                $("#emailtp").hide();
                //
                $('#jqxComboBox_LoaiTaiKhoan').on('select', function (event) {
                    var args = event.args;
                    if (args != undefined) {
                        var item = event.args.item;
                        //
                        if (item != null) {
                            //
                            if (item.value == "00000000-0000-0000-0000-000000000001") {
                                $("#phanquyendonvi").hide();
                                $("#truong").hide();
                                $("#departmentnhanvien").hide();
                                $("#danhsachnhanvien").hide();
                                //
                                $("#emailht").hide();
                                $("#emailhdqt").hide();
                                $("#emailtp").hide();
                            }
                            else if (item.value == "00000000-0000-0000-0000-000000000009") {
                                $("#truong").show();
                                $("#phanquyendonvi").show();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").hide();
                                $("#emailhdqt").hide();
                                //
                                $("#emailtp").hide();
                            }
                            else if (item.value == "00000000-0000-0000-0000-000000000008") {
                                $("#truong").show();
                                $("#phanquyendonvi").hide();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").hide();
                                $("#emailhdqt").hide();
                                //
                                $("#emailtp").show();
                            }
                            else if (item.value == "00000000-0000-0000-0000-000000000006"
                                     || item.value == "00000000-0000-0000-0000-000000000007") {
                                $("#truong").show();
                                $("#phanquyendonvi").show();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").show();
                                $("#emailhdqt").hide();
                                //
                                $("#emailtp").hide();
                            }
                            else if (item.value == "00000000-0000-0000-0000-000000000004"
                                     || item.value == "00000000-0000-0000-0000-000000000005") {
                                $("#truong").show();
                                $("#phanquyendonvi").show();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").hide();
                                $("#emailhdqt").show();
                                //
                                $("#emailtp").hide();
                            }
                            else if (item.value == "00000000-0000-0000-0000-000000000002"
                                     || item.value == "00000000-0000-0000-0000-000000000003") {
                                $("#truong").show();
                                $("#phanquyendonvi").show();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").hide();
                                $("#emailhdqt").hide();
                                //
                                $("#emailtp").hide();
                            }
                            else {
                                $("#truong").show();
                                $("#phanquyendonvi").show();
                                $("#departmentnhanvien").show();
                                //
                                $("#emailht").show();
                                $("#emailhdqt").show();
                                //
                                $("#emailtp").hide();
                            }
                            //
                            self.accountSelected(item.value);

                            //
                            ko.utils.arrayForEach(self.departments_role(), function (val) {
                                val.Chon = ko.observable(val.Chon);
                            });
                        }
                    }
                });
                function checkedNodeIds(nodes, checkedNodes) {
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].checked) {
                            checkedNodes.push(nodes[i]);
                        }

                        if (nodes[i].hasChildren) {
                            checkedNodeIds(nodes[i].children.view(), checkedNodes);
                        }
                    }
                }
                function onCheck() {
                    var checkedList = [];
                    checkedNodeIds($('#phanquyendonvi_treeview').data("kendoTreeView").dataSource.view(), checkedList);
                    var flatDepartments = self.departments_role().flatBy("items");
                    var resultList = checkedList.map(q => Object.assign({}, q));
                    for (var i = 0; i < checkedList.length; i++) {
                        var item = checkedList[i];
                        if (item.BoPhanCha && item.BoPhanCha != "") {
                            var index = flatDepartments.findIndex(q => q.Oid == item.BoPhanCha);
                            if (index > -1)
                                resultList.push(Object.assign({}, flatDepartments[index]));
                        }
                    }
                    resultList = resultList.distinctBy("Oid");
                    resultList = resultList.map(q => {
                        return { Oid: q.Oid, Chon: true };
                    });
                    self.department_role_selected(resultList);
                }
                $('#phanquyendonvi_treeview').kendoTreeView({
                    dataSource: new kendo.data.HierarchicalDataSource({
                        data: self.departments_role(),
                        schema: {
                            model: {
                                fields: {
                                    checked: { from: "Chon", type: "boolean" }
                                },
                                hasChildren: function (data) {
                                    if (data.items && data.items.length > 0) {
                                        return true;
                                    }
                                    else {
                                        return false;
                                    }
                                },
                                children: "items"
                            }
                        }
                    }),
                    checkboxes: {
                        checkChildren: true
                    },
                    check: onCheck,
                    dataBound: function () {
                        this.expand(".k-item");
                        this.collapse(".k-item");
                        onCheck();
                    },
                    dataTextField: ["TenBoPhan"]
                });
                //
                $('#popupWindow').data("kendoWindow").open();
                ko.applyBindings(self, document.getElementById('popupWindow'));
                self.departmentSelected_nhansu(self.departmentSelected);
            });

        },
        xoa: function () {
            var self = this;
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.CHUA_CO_DONG_NAO_DUOC_CHON"));
                return;
            }
            var r = confirm(dataLocalize("QUAN_LY_USER_ADMIN.CONFIRM.BAN_CO_CHAC_CHAN_XOA_HAY_KHONG"));
            if (r == true) {
                var selectedRecords = new Array();
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    selectedRecords.push({
                        Oid: row.Oid
                    });
                }
                if (selectedRecords.length > 0) {

                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/WebUsers_XoaUsers',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            userList: selectedRecords,
                            khoa: true
                        }),
                        success: function (result) {
                            alert(dataLocalize("QUAN_LY_USER_ADMIN.ALERT.XOA_THANH_CONG"));
                            self.datagrid.jqxGrid('updatebounddata');
                            self.datagrid.jqxGrid('clearselection');

                        }
                    });
                }
            } else {
                return;
            }
        }
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#userManage")[0]);
    });

    //
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
</script>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
            <div class="row">
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: createNew">
                        <i class="btn-label glyphicon glyphicon-ok"></i><span data-i18n="QUAN_LY_USER_ADMIN.TAO_MOI">Tạo mới</span>
                    </a>
                </div>
                <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: edit">
                        <i class="btn-label glyphicon glyphicon-ok"></i>Chỉnh sửa
                    </a>
                </div>-->
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: xoa">
                        <i class="btn-label glyphicon glyphicon-remove"></i><span data-i18n="QUAN_LY_USER_ADMIN.XOA">Xóa</span>
                    </a>
                </div>

                <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#/" class="btn btn-info" style="width: 158px;">
                        <i class="btn-label glyphicon glyphicon-chevron-left"></i>Trở về
                    </a>
                </div>-->

            </div>
        </div>
    </div>
</div>
<div style="padding: 10px 0px 0px 0px;">
    <div id="jqxgrid"></div>
</div>
<div id="popupWindow"></div>
