<html>
<head>
</head>
<body>
    <div id="HoSo_ThongTinLuong">
        <div class="hrm_content">
            <div class="hrm_clear">
            </div>
            <div class="hrm_subtitle1">
                <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.THONG_TIN_NGACH_BAC">Thông Tin Lương</span>
            </div>
            <div class="hrm_line">
            </div>
            <!--<div class="hrm_box">
                <div class="hrm_left">
                    Mã ngạch lương:
                </div>
                <div class="hrm_right"
                     data-bind="text: MaNgach">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tên ngạch lương:
                </div>
                <div class="hrm_right"
                     data-bind="text: TenNgach">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Nhóm ngạch lương:
                </div>
                <div class="hrm_right"
                     data-bind="text: NhomNgachLuong">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày bổ nhiệm ngạch:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayBoNhiemNgach">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Bậc lương:
                </div>
                <div class="hrm_right"
                     data-bind="text: BacLuong">
                </div>
            </div>
            <div class="hrm_clear">
            </div>-->
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.TONG_THU_NHAP">Tổng thu nhập</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: LuongGop">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.LUONG_CHINH">Lương chính</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: LuongCoBan">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.LUONG_BO_SUNG">Lương bổ sung (bao gồm các khoản hỗ trợ)</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: LuongKinhDoanh">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.NGAY_HUONG_LUONG">Ngày hưởng lương</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayHuongLuong">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.MOC_NANG_LUONG_LAN_SAU">Mốc nâng lương lần sau</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: MocNangLuong">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THONG_TIN_NGACH_BAC.%_MUC_LUONG_DUOC_HUONG">% mức lương được hưởng</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: MucLuongDuocHuong">
                </div>
            </div>
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_subtitle1">
                Phụ Cấp
            </div>
            <div class="hrm_line">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Chức vụ:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapChucVu">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày hưởng PC chức vụ:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayHuongChucVu">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Kiêm nhiệm:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapKiemNhiem">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Trách nhiệm:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapTrachNhiem">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Đảng:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapChucVuDang">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Đoàn:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapChucVuDoan">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Điện thoại:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapDienThoai">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp xăng xe:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapTienXang">
                </div>
            </div>    
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tiền ăn ca:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapTienAn">
                </div>
            </div>   
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Phụ cấp Khác:
                </div>
                <div class="hrm_right"
                     data-bind="text: PhuCapKhac">
                </div>
            </div>--> 
            <div class="hrm_clear">
            </div>
            <div class="hrm_subtitle1">
                <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THUE_TNCN.THUE_TNCN">Thuế TNCN</span>
            </div>
            <div class="hrm_line">
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THUE_TNCN.MA_SO_THUE">Mã số thuế</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: MaSoThue">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THUE_TNCN.NGAY_CAP">Ngày cấp</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayCapMST">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THUE_TNCN.SO_NGUOI_PHU_THUOC">Số người phụ thuộc</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: SoNguoiPhuThuoc">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.THUE_TNCN.SO_THANG_GIAM_TRU">Số tháng giảm trừ</span>:
                </div>
                <div class="hrm_right"
                     data-bind="text: SoThangGiamTru">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div>
                <div class="hrm_subtitle">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.TAI_KHOAN_NGAN_HANG.TAI_KHOAN_NGAN_HANG">Tài khoản ngân hàng</span>
                </div>
                <div class="hrm_line">
                </div>
                <div>
                    <table width="100%" border="1" style="border-collapse: collapse">
                        <tr class="backGroundTitle">
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.TAI_KHOAN_NGAN_HANG.SO_TAI_KHOAN">Số tài khoản</span></th>
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.TAI_KHOAN_NGAN_HANG.NGAN_HANG">Ngân hàng</span></th>
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.TAI_KHOAN_NGAN_HANG.TAI_KHOAN_CHINH">Tài khoản chính</span></th>
                        </tr>
                        <tbody data-bind="foreach: DanhSach_TaiKhoanNganHang">
                            <tr>
                                <td data-bind="text: SoTaiKhoan" class="textToCenter"></td>
                                <td data-bind="text: NganHang" class="textToCenter"></td>
                                <td class="textToCenter">
                                    <input type="checkbox" data-bind="checked: TaiKhoanChinh" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div>
                <div class="hrm_subtitle">
                    <span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.DANH_SACH_NGUOI_PHU_THUOC.DANH_SACH_NGUOI_PHU_THUOC">Danh sách người phụ thuộc</span>
                </div>
                <div class="hrm_line">
                </div>
                <div>
                    <table width="100%" border="1" style="border-collapse: collapse">
                        <tr class="backGroundTitle">
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.DANH_SACH_NGUOI_PHU_THUOC.HO_TEN">Họ tên</span></th>
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.DANH_SACH_NGUOI_PHU_THUOC.QUAN_HE">Quan hệ</span></th>
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.DANH_SACH_NGUOI_PHU_THUOC.TU_NGAY">Từ ngày</span></th>
                            <th class="textToCenter"><span data-i18n="HO_SO_NHAN_SU.THONG_TIN_LUONG.DANH_SACH_NGUOI_PHU_THUOC.DEN_NGAY">Đến ngày</span></th>
                        </tr>
                        <tbody data-bind="foreach: DanhSach_NguoiPhuThuoc">
                            <tr>
                                <td data-bind="text: HoTen" class="textToCenter"></td>
                                <td data-bind="text: QuanHe" class="textToCenter"></td>
                                <td data-bind="text: TuNgay == null ? '' : formatDate(new Date(TuNgay))" class="textToCenter"></td>
                                <td data-bind="text: DenNgay == null ? '' : formatDate(new Date(DenNgay))" class="textToCenter"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hrm_clear">
            </div>
        </div>
    </div>
</body>
</html>
