<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../Default.html";
        //}
    });
</script>
<script type="text/javascript">
    function ViewModel(datagrid) {
        var conditionArr = [
            { Id: -1, Name: "Tất cả trạng thái" },
            { Id: 0, Name: "Chưa chấm công" },
            { Id: 1, Name: "Đã chấm công" }
        ];
        var diHocArr = [
            { Id: null, Name: "Tất cả trạng thái" },
            { Id: false, Name: "Làm việc" },
            { Id: true, Name: "Đi học" }
        ];
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.day = ko.observable(new Date().getDate()),
        self.month = ko.observable(new Date().getMonth() + 1);
        self.year = ko.observable(new Date().getFullYear());
        self.condition = ko.observableArray(conditionArr);
        self.conditionSelected = ko.observable(-1);
        self.diHoc = ko.observableArray(diHocArr);
        self.diHocSelected = ko.observable(null);
        self.name = ko.observable("");
        self.department = ko.observableArray();
        self.departmentSelected = ko.observable(null);
        self.loaiNhanSu = ko.observableArray();
        self.loaiNhanSuSelected = ko.observable();
        self.status = ko.observableArray();
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUser',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.department(obj);
                self.departmentSelected(obj[0].Oid);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetListHinhThucNghi',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                obj.push({ Oid: 0, TenHinhThucNghi: 'Làm cả ngày' });
                var data = $.Enumerable.From(obj).OrderBy(function (x) {
                    return x.TenHinhThucNghi;
                }).ToArray();
                self.status(data);
                //self.categoriesJson = JSON.stringify(data);
            }
        });
        self.checkChot = function (month, year) {
            var check;

            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_CheckChot',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: month,
                    nam: year,
                    boPhanId: self.departmentSelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    check = result;
                }
            });
            return check;
        }
        self.categoriesSource =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid' },
                { name: 'TenHinhThucNghi' }
            ],
            localdata: self.status
        };
        self.categoriesAdapter = new $.jqx.dataAdapter(self.categoriesSource, { contentType: 'application/json; charset=utf-8', autoBind: true });
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_LoaiNhanSu',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.loaiNhanSu(obj);
                //self.loaiNhanSuSelected(obj[0].Oid);
            }
        });
        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'SoHieuCongChuc', type: 'string' },
                { name: 'MaNhanSu', type: 'string' },
                { name: 'HoTen', type: 'string' },
                { name: 'TenPhongBan', type: 'string' },
                { name: 'IDHinhThucNghi', type: 'string' },
                { name: 'TrangThaiList', value: 'IDHinhThucNghi', values: { source: self.categoriesAdapter.records, value: 'Oid', name: 'TenHinhThucNghi' } },
                { name: 'Ngay', type: 'date' },
                { name: 'DaChamCong', type: 'bool' }
            ],
            id: 'Id',
            //sortcolumn: 'HoTen',
            sortdirection: 'asc',
            url: "/WebServices/QuanLyChamCong_Find",
            formatdata: function (data) {
                return {
                    ngay: self.day(),
                    thang: self.month(),
                    nam: self.year(),
                    bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    trangthaichamcong: self.conditionSelected(),
                    diHoc: self.diHocSelected(),
                    maNhanSu: self.name(),
                    webUserId: session.UserId,
                    idLoaiNhanSu: self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected(),
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                width: '100%',
                editable: true,
                selectionmode: 'checkbox',
                pageable: true,
                pagesize: 5,
                sortable: true,
                filterable: true,
                rowsheight: 80,
                autorowheight: true,
                autoheight: true,
                theme: "darkBlue",
                columns: [
                    {
                        text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                            return "<div style='text-align:center;margin-top:30px;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: 'Mã nhân sự', datafield: 'MaNhanSu', width: 100, align: 'center', cellsalign: "middle", editable: false
                    },
                    {
                        text: 'Họ tên', datafield: 'HoTen', align: 'center', editable: false
                    },
                    {
                        text: 'Ngày', datafield: 'Ngay', width: 100, align: 'center', cellsformat: 'd/M/yyyy', cellsalign: "middle", editable: false
                    },
                    {
                        text: 'Phòng ban', datafield: 'TenPhongBan', width: 200, align: 'center', editable: false
                    },
                    {
                        text: 'Trạng thái', datafield: 'IDHinhThucNghi', displayfield: 'TrangThaiList', columntype: 'dropdownlist', width: 150, cellsalign: "middle", sortable: false, align: 'center',
                        cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties) {
                            var str = cellvalue == "" ? "<div style='text-overflow: ellipsis; overflow: hidden; padding-bottom: 2px; text-align: center; margin-top: 32px;'>Làm cả ngày</div>" : "<div style='text-overflow: ellipsis; overflow: hidden; padding-bottom: 2px; text-align: center; margin-top: 32px;'>" + cellvalue + "</div>";
                            return str;
                        },
                        createeditor: function (row, value, editor) {
                            editor.jqxDropDownList({ source: self.categoriesAdapter, displayMember: 'TenHinhThucNghi', valueMember: 'Oid', autoDropDownHeight: true });
                        }
                    },
                    {
                        text: 'Chấm công', datafield: 'DaChamCong', align: 'center', columntype: 'checkbox', width: 100, editable: false
                    }

                ]
            });
    }
    ViewModel.prototype = {
        daysInMonth: function (month, year) {
            return new Date(year, month, 0).getDate();
        },
        validate: function () {
            var self = this;
            if (isNaN(self.day()) || self.day() < 0 || self.day() > parseInt(self.daysInMonth(self.month(), self.year()))) {
                alert("Ngày không hợp lệ !!");
                return true;
            } else if (isNaN(self.month()) || self.month() < 0 || self.month() > 12) {
                alert("Tháng không hợp lệ !!");
                return true;
            }
            else if (isNaN(self.year()) || self.year() < 0) {
                alert("Năm không hợp lệ !!");
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        save: function () {
            var self = this;
            var selectedRecords = new Array();
            var rows = self.datagrid.jqxGrid('getrows');
            $(self.returnData).each(function (index, value) {
                $(rows).each(function (index1, value1) {
                    value1.IDHinhThucNghi = value1.IDHinhThucNghi == 0 ? null : value1.IDHinhThucNghi;
                    if (value.IDHinhThucNghi != value1.IDHinhThucNghi && value.Oid == value1.Oid)
                        selectedRecords.push({
                            Oid: value1.Oid,
                            IDHinhThucNghi: value1.IDHinhThucNghi == 0 ? null : value1.IDHinhThucNghi,
                            DaChamCong: true
                        });
                });
            });
            if (selectedRecords.length == 0) {
                alert("Chưa có dữ liệu nào thay đổi !!");
                return;
            }

            if (selectedRecords.length > 0) {
                if (self.checkChot(self.month(), self.year())) {
                    alert('Tháng này đã chốt chấm công rồi !!');
                    return;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/QuanLyChamCong_Save',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            userList: selectedRecords
                        }),
                        success: function (result) {
                            alert("Lưu thành công !!");
                            self.datagrid.jqxGrid('updatebounddata');
                            self.datagrid.jqxGrid('clearselection');

                        }
                    });
                }
            }
        },
        remove: function () {
            var self = this;
            var selectedRecords = new Array();
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var r = confirm("Bạn có chắc hủy hay không ?");
            if (r == true) {
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    selectedRecords.push({
                        Oid: row.Oid
                    });
                }
                if (selectedRecords.length > 0) {
                    if (self.checkChot(self.month(), self.year())) {
                        alert('Tháng này đã chốt chấm công rồi !!');
                        return;
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/WebServices/QuanLyChamCong_Save',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            async: false,
                            data: ko.toJSON({
                                userList: selectedRecords
                            }),
                            success: function (result) {
                                alert("Hủy thành công !!");
                                self.datagrid.jqxGrid('updatebounddata');
                                self.datagrid.jqxGrid('clearselection');
                            }
                        });
                    }

                }
            } else {
                return;
            }
        },
        detail: function () {
            var self = this;
            if (self.departmentSelected() == undefined) {
                alert("Vui lòng chọn phòng ban !!");
                return;
            }
            $.get('/app/views/chamcong/QuanLyChamCong/Detail.html', function (data) {
                $('#popupWindowManageDetail').html(data);
                ko.cleanNode($('#popupWindowManageDetail')[0]);
                $('#popupWindowManageDetail').kendoWindow({
                    width: "80%",
                    //title: "Chi tiết chấm công",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    }

                });
                $('#popupWindowManageDetail').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_ChamCongThang',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected(),
                        maNhanSu: self.name(),
                        idLoaiNhanSu: self.loaiNhanSuSelected(),
                    }),
                    async: false,
                    success: function (result) {
                        var model = new viewModel(result, self.departmentSelected(), self.month(), self.year());
                        ko.applyBindings(model, document.getElementById('popupWindowManageDetail'));
                    }
                });
            });

        },
        detailAll: function () {
            var self = this;
            $.get('/app/views/chamcong/QuanLyChamCong/detailAll.html', function (data) {
                $('#popupWindowManageDetailAll').html(data);
                ko.cleanNode($('#popupWindowManageDetailAll')[0]);
                $('#popupWindowManageDetailAll').kendoWindow({
                    width: "80%",
                    //title: "Chi tiết chấm công",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    }

                });
                $('#popupWindowManageDetailAll').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_ChamCongThangAll',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year()
                    }),
                    async: false,
                    success: function (result) {
                        var model = new viewModel(result, self.month(), self.year());
                        ko.applyBindings(model, document.getElementById('popupWindowManageDetailAll'));
                    }
                });
            });

        },
        chart: function () {
            var self = this;
            if (self.departmentSelected() == undefined) {
                alert("Vui lòng chọn phòng ban !!");
                return;
            }
            $.get('/app/views/chamcong/QuanLyChamCong/Chart.html', function (data) {
                $('#popupWindowManageChart').html(data);
                ko.cleanNode($('#popupWindowManageChart')[0]);
                $('#popupWindowManageChart').kendoWindow({
                    width: "80%",
                    //height: "70%",
                    //title: "Biểu đồ chấm công",
                    actions: [
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    },
                    close: function (e) {
                        $(this.element).empty();
                    }
                });
                $('#popupWindowManageChart').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/GetPhongBan_ById',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: self.departmentSelected() }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        self.TenPhongBan = obj.TenBoPhan;
                    }
                });

                //Quét 2 lần
                //$.ajax({
                //    type: 'POST',
                //    url: '/WebServices/QuanLyChamCong_BieuDo',
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    data: ko.toJSON({
                //        ngay: self.day(),
                //        thang: self.month(),
                //        nam: self.year(),
                //        bophanId: self.departmentSelected()
                //    }),
                //    async: false,
                //    success: function (result) {
                //        self.chartData = result;
                //        $(self.chartData).each(function (index, value) {
                //            value.HoTen = value.HoTen + " (" + value.SoHieuCongChuc + ") ";
                //            if (value.GioVao == null && value.GioRa == null)
                //                return;
                //            value.GioVao = value.GioVao == null ? null : formatHour(value.GioVao);
                //            value.GioRa = value.GioVao != null && value.GioRa == null ? value.GioVao : formatHour(value.GioRa);
                //        });

                //    }
                //});

                //Quét 4 lần
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_BieuDo',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        ngay: self.day(),
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected()
                    }),
                    async: false,
                    success: function (result) {
                        self.chartData = result;
                        $(self.chartData).each(function (index, value) {
                            value.HoTen = value.HoTen + " (" + value.SoHieuCongChuc + ") ";
                            var gioVaoSang = value.GioVaoSang;
                            var gioRaSang = value.GioRaSang;
                            var gioVaoChieu = value.GioVaoChieu;
                            var gioRaChieu = value.GioRaChieu;

                            if (gioVaoSang != null) {
                                value.GioVaoSang = formatHour(gioVaoSang);
                            } else if (gioVaoSang == null && gioRaSang != null)
                            {
                                value.GioVaoSang = formatHour(gioRaSang);
                            }

                            if (gioRaSang != null)
                            {
                                value.GioRaSang = formatHour(gioRaSang);
                            }
                            else if (gioRaSang == null && gioVaoSang != null)
                            {
                                value.GioRaSang = formatHour(gioVaoSang);
                            }

                            if (gioVaoChieu != null) {
                                value.GioVaoChieu = formatHour(gioVaoChieu);
                            }
                            else if (gioVaoChieu == null && gioRaChieu != null)
                            {
                                value.GioVaoChieu = formatHour(gioRaChieu);
                            }

                            if (gioRaChieu != null) {
                                value.GioRaChieu = formatHour(gioRaChieu);
                            } else if (gioRaChieu == null && gioVaoChieu != null)       
                            {
                                value.GioRaChieu = formatHour(gioVaoChieu);
                            }
                        });

                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/GetPhongBan_ById',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: self.departmentSelected() }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        self.phongban = obj.TenBoPhan;
                    }
                });
                $("#popupWindowManageChart").css("height", $(window).height() - ($(window).height() * 30 / 100));
                var model = new chart_Model(self.chartData, self.phongban, self.day(), self.month(), self.year());
                ko.applyBindings(model, document.getElementById('popupWindowManageChart'));

            });
        },
        update: function () {
            var self = this;
            if (self.departmentSelected() == undefined) {
                alert("Vui lòng chọn phòng ban !!");
                return;
            }
            $.get('/app/views/chamcong/QuanLyChamCong/Update.html', function (data) {
                $('#popupWindowManageUpdate').html(data);
                ko.cleanNode($('#popupWindowManageUpdate')[0]);
                $('#popupWindowManageUpdate').kendoWindow({
                    width: "85%",
                    //height: "100%",
                    //title: "Chấm công theo tháng",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    },
                    close: function (e) {
                        $(this.element).empty();
                    }
                });
                $('#popupWindowManageUpdate').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_ChamCongThang',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected(),
                        maNhanSu: self.name(),
                        idLoaiNhanSu: self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected()
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        self.data_update = result;
                    }
                });
                //$("#popupWindowManageUpdate").css("height", $(window).height() - ($(window).height() * 30 / 100));
                var model = new viewModel_Update(self.data_update, self.departmentSelected(), self.name(), self.loaiNhanSuSelected(), self.month(), self.year());
                //validate invalid characters
                ko.bindingHandlers.rename = {
                    update: function (element, valueAccessor, AllBindings, data) {
                        data["OldValue"] = valueAccessor();
                        var value = ko.observable(valueAccessor());
                        var interceptor = ko.computed({
                            read: function () {
                                return value();
                            },
                            write: function (newValue) {
                                var validate = $.Enumerable.From(model.HinhThucNghiList()).Count(function (x) {
                                    return x == newValue;
                                });
                                if (validate == 0) {
                                    alert("Ký hiệu không hợp lệ !!");
                                    $(element).focus();
                                    value(null);
                                } else {
                                    value(newValue);
                                }
                                value.valueHasMutated();
                            }
                        }).extend({ notify: 'always' });
                        ko.applyBindingsToNode(element, {
                            value: interceptor
                        });
                    }
                };
                ko.applyBindings(model, document.getElementById('popupWindowManageUpdate'));
            });
        }
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#quanlychamcong")[0]);
    });
</script>
<div id="quanlychamcong">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: save">
                            <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: remove">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Hủy chấm công
                        </a>
                    </div>
                    <div class=" col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" style="width: 158px;" data-bind="click: chart">
                            <i class="btn-label glyphicon glyphicon-stats"></i>Biểu đồ
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: update">
                            <i class="btn-label glyphicon glyphicon-upload"></i>Chấm công tháng
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: detail">
                            <i class="btn-label glyphicon glyphicon-th-list"></i>Chi tiết
                        </a>
                    </div>
                    <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" style="width: 158px;" data-bind="click: detailAll">
                            <i class="btn-label glyphicon glyphicon-th-list"></i>Xuất báo cáo tổng
                        </a>
                    </div>-->
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="javascript:history.back()" class="btn btn-labeled btn-blue" style="width: 158px;">
                            <i class="btn-label glyphicon glyphicon-chevron-left"></i>Trở về
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <input type="text" placeholder="ngày" data-bind="value:day" style="width: 50px;height:32px; text-align: center;" maxlength="2" />
        -
        <input type="text" placeholder="tháng" data-bind="value:month" style="width: 50px; height:32px;text-align: center" maxlength="2" />
        -
        <input type="text" placeholder="năm" data-bind="value:year" style="width: 50px; height:32px;text-align: center" maxlength="4" />
        <!--<select style="width: 150px" data-bind="options: department, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected, optionsCaption: 'Tất cả phòng ban'"></select>-->
        <select style="width: 150px" data-bind="options: department, optionsText: function (type) { return type.STT + '. '+ type.TenVietTatThongTinTruong + type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected"></select>
        <select data-bind="options:condition, optionsText: 'Name', optionsValue: 'Id',value:conditionSelected"></select>
        <select data-bind="options:diHoc, optionsText: 'Name', optionsValue: 'Id',value:diHocSelected"></select><br />
        <select data-bind="options:loaiNhanSu, optionsText: 'TenLoaiNhanSu', optionsValue: 'Oid',value:loaiNhanSuSelected,optionsCaption:'Tất cả loại nhân sự'"></select>
        <input type="text" placeholder="Mã nhân sự" data-bind="value:name" style="width: 110px;padding-left:5px; height:32px;" />
        <input type="button" value="Tìm" data-bind="click:search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
</div>
<div id="popupWindowManageDetail"></div>
<div id="popupWindowManageDetailAll"></div>
<div id="popupWindowManageChart"></div>
<div id="popupWindowManageUpdate"></div>