<div class="widget ng-scope">

    <form class="form-horizontal" name="KetQuaDanhGiaForm" role="form" novalidate>
        <div class="widget-header">
            <span class="widget-caption">ĐỒNG NGHIỆP ĐÁNH GIÁ</span>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div>
                    <h3 class="text-align-center">ĐÁNH GIÁ VÀ ĐÓNG GÓP Ý KIẾN CỦA ĐỒNG NGHIỆP</h3>
                    <h4 class="text-align-center">{{"Kỳ đánh giá: " + KetQua.KyDanhGiaTen}}</h4>
                </div>
                <div ng-show="Loadding" class="d-flex align-items-center text-align-center">
                    <strong>Loading... <i class="fa fa-circle-o-notch fa-spin"></i></strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                </div>
                <div ng-show="(ListChiTietKetQua == null || !ChiTietNhanVienDanhGia.isLock)&&!(StaffDanhGia == null)" class="d-flex align-items-center text-align-center">
                    <strong  style="color:red">(Đồng nghiệp chưa khóa đánh giá)</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                </div>
                <div ng-show="StaffDanhGia == null &&!Loadding" class="d-flex align-items-center text-align-center">
                    <strong style="color:red">(Chọn Đồng nghiệp)</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                </div>
                <div ng-hide="Loadding" class="row">
                    <div class="col-sm-3 col-12">
                        <div class="text-align-center">
                            <label>Tìm kiếm</label>
                            <md-input-container><input ng-model="SearchText" /></md-input-container>
                        </div>
                        <div style="height: 500px; overflow: auto">
                            <a class="btn text-align-left" ng-repeat="item in ListStaff | filter: SearchText " ng-click="ClickedStaff([item])" style="width: 100%; background-color:lightgray; border-bottom: 1px solid white">{{item.StaffProfileName}}</a>
                        </div>
                    </div>
                    <div ng-hide="ListChiTietKetQua == null || !ChiTietNhanVienDanhGia.isLock" class="col-sm-9 col-12">
                        <div ng-show="BodyLoadding" class="d-flex align-items-center text-align-center">
                            <strong>Loading... <i style="font-size: 30px;" class="fa fa-circle-o-notch fa-spin"></i></strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                        <div ng-hide="BodyLoadding">
                            <div>
                                <h4>{{"Họ và tên nhân viên đánh giá: " + StaffDanhGia.StaffProfileName}}</h4>
                                <h4>{{"Chức vụ: "+ StaffDanhGia.StaffInfoPositionName}}</h4>
                            </div>
                            <div class="widget-body">
                                <table class="table" border="1" style="border-color:lightgrey">
                                    <thead>
                                        <tr style="text-align:center">
                                            <th class="text-align-center">STT</th>
                                            <th>Tiêu chí đánh giá</th>
                                            <th style="width: 90px;">Điểm tối đa</th>
                                            <th style="width: 130px;">Điểm đánh giá</th>
                                            <th>Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-align:center" ng-repeat="row in ListChiTietKetQua">
                                            <td class="text-align-left"><span ng-bind-html="row.TieuChiDanhGiaSTT"></span></td>
                                            <td><span class="text-align-left" ng-bind-html="row.TieuChiDanhGiaTenTieuChi"></span></td>
                                            <td>
                                                <span class="text-align-left">
                                                    <b ng-if="row.IsChildren">{{row.TieuChiDanhGiaDiemToiDa}}</b>
                                                    <span ng-if="!row.IsChildren">{{row.TieuChiDanhGiaDiemToiDa}}</span>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-hide="row.IsChildren">{{row.Diem}}</span>
                                                <md-input-container class="padding-bottom-10" ng-if="row.TieuChiDanhGiaParentChildSelectOne">
                                                    <div style="width:50px; text-align:center">
                                                        <input type="radio" name="{{row.TieuChiDanhGiaParentId}}" value="{{row.TieuChiDanhGiaId}}" ng-click="ChangeRadioScore(row)" ng-checked="row.IsChecked" ng-disabled="!row.IsChecked || !ObjKetQua.isLock" />
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td><span ng-hide="row.IsChildren">{{row.GhiChu}}</span></td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td></td>
                                        <td><span><b>TỔNG CỘNG (I+II+III)</b></span></td>
                                        <td></td>
                                        <td class="text-align-center"><span>{{ChiTietNhanVienDanhGia.TongDiem}}</span></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="widget-body margin-top-5">
                                <div class="widget-caption">
                                    <h4><b>Ý KIẾN ĐÓNG GÓP CỤ THỂ CỦA ĐỒNG NGHIỆP</b></h4>
                                </div>
                                <div>
                                    <textarea style="width:100%; height:100px" ng-model="ChiTietNhanVienDanhGia.YKienDongGop" ng-disabled="ChiTietNhanVienDanhGia.isLock">{{ChiTietNhanVienDanhGia.YKienDongGop}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>