<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
    });
</script>

<script type="text/javascript">

    function ViewModel(datagrid) {
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.department = ko.observableArray();
        self.departmentSelected = ko.observable(null);
        self.company = ko.observableArray();
        self.companySelected = ko.observable(null);
        self.WebGroupId = ko.observable(session.WebGroupId.toUpperCase());
        self.IsAdmin = ko.observable(0);
        self.nienDoTaiChinh = ko.observableArray();
        self.nienDoTaiChinhSelected = ko.observable();
        //
        if (self.WebGroupId() == "00000000-0000-0000-0000-000000000001"
            || self.WebGroupId() == "00000000-0000-0000-0000-000000000009"
            || self.WebGroupId() == "00000000-0000-0000-0000-000000000010") {
            self.IsAdmin = 1;
            //
        }
        //Phòng ban
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser_New',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.company(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });
        function GetDepartmentsOfUserAndCompany() {
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUserAndCompany',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({ userId: session.UserId, company: self.companySelected() }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    if (obj.length > 1)
                        obj.unshift({ Oid: '00000000-0000-0000-0000-000000000000', STT: 0, TenBoPhan: 'Tất cả' });
                    self.department(obj);
                    if (obj.length > 0) {
                        self.departmentSelected(obj[0].Oid);
                    }
                }
            });
        }
        GetDepartmentsOfUserAndCompany();
        self.companySelected.subscribe(function (value) {
            if (value != null) {
                GetDepartmentsOfUserAndCompany();
                GetNienDoTaiChinh();
            }
        });

        function GetNienDoTaiChinh() {
            // Niên độ tài chính
            $.ajax({
                type: 'POST',
                url: '/WebServices/GetNienDoTaiChinhList',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.nienDoTaiChinh(obj);
                    if (obj.length > 0) {
                        self.nienDoTaiChinhSelected(obj[0].Oid);
                    }
                }
            });
        }
        GetNienDoTaiChinh();

        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'MaQuanLy', type: 'string' },
                { name: 'HoTen', type: 'string' },
                { name: 'TenPhongBan', type: 'string' },
                { name: 'NgayVaoCoQuan', type: 'date' },
                { name: 'SoPhepHe', type: 'string' },
                { name: 'ChucDanh', type: 'string' }
            ],
            id: 'Id',
            url: "/WebServices/QuanLyPhepHe_Find",
            formatdata: function (data) {
                return {
                    nienDoTaiChinh: self.nienDoTaiChinhSelected() == undefined ? null : self.nienDoTaiChinhSelected(),
                    bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    webGroup: self.WebGroupId,
                    congTy: self.companySelected()
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                width: '100%',
                selectionmode: 'checkbox',
                pageable: true,
                pagesize: 10,
                sortable: true,
                rowsheight: 50,
                //columnsheight: 50,
                filterable: true,
                autorowheight: true,
                autoheight: true,
                theme: "darkBlue",
                columns: [
                    {
                        text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                            return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: 'Mã nhân sự', datafield: 'MaQuanLy', width: 140, align: 'center', cellsalign: "middle"
                    },
                    {
                        text: 'Họ tên', datafield: 'HoTen', width: 220, align: 'center'
                    },
                    {
                        text: 'Đơn vị', datafield: 'TenPhongBan', width: 250, align: 'center'
                    },
                    {
                        text: 'Ngày vào cơ quan', datafield: 'NgayVaoCoQuan', width: 160, align: 'center', cellsalign: "middle", cellsformat: 'd/M/yyyy'
                    },
                    {
                        text: 'Số phép hè', datafield: 'SoPhepHe', width: 100, align: 'center', cellsalign: "middle"
                    },
                    {
                        text: 'Chức danh', datafield: 'ChucDanh', align: 'center', cellsalign: "middle", width: 100
                    }
                ]
            });
    }
    ViewModel.prototype = {
        search: function () {
            var self = this;
            self.datagrid.jqxGrid('updatebounddata');
        },
        chotphephe: function () {
            var self = this;

            var message = confirm("Bạn có chắc chốt hay không ?");
            if (message == false) { return; }
           //
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyPhepHe_ChotPhepHe',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    nienDoTaiChinh: self.nienDoTaiChinhSelected(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    //
                    if (obj.message == 'success') {
                        alert("Thành công !!");
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                    else {
                        alert("Thất bại !!");
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                }
            });
        },
        excel: function () {
            var self = this;
            this.datagrid.jqxGrid('exportdata', 'xls', 'QuanLyPhepHe', true);
        }
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#QuanLyPhepHe")[0]);
    });
</script>
<div id="QuanLyPhepHe">
    <div class="alert alert-info" style="height:36px; background-color:#00234e; border-color:#000000"><h4>QUẢN LÝ PHÉP HÈ</h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div data-bind="if:IsAdmin == '1'">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: chotphephe">
                            <i class="btn-label glyphicon glyphicon-tags"></i>Chốt phép hè
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: excel">
                        <i class="btn-label glyphicon glyphicon-random"></i>Xuất Excel
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <select data-bind="options:nienDoTaiChinh, optionsText: 'TenNienDo', optionsValue: 'Oid',value:nienDoTaiChinhSelected"></select>
        <!-- ko if: company().length > 1 -->
            <select style="width: 250px" data-bind="options: company, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: companySelected"></select>
        <!-- /ko -->
        <select style="width: 300px" data-bind="options: department, optionsText: function (type) { return type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected"></select>
        <input type="button" value="Tìm" data-bind="click:search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
</div>

