<style type="text/css">
    .td1 {
        width: 30%;
    }

    .th1 {
        text-align: center;
        vertical-align: baseline;
    }

    .title {
        font-family: 'Times New Roman';
        font-weight: bold !important;
        margin-top: 10px !important;
    }

   textarea {
        /*padding: 4px;*/
        background-color: white;
        color: black;
        resize: none;
        /*border: 0px;*/
        text-align: justify;
        width: 100%;
    }

    input{
        width: 100%;
    }

    .header1 {
        background: #0572ad;
        color: #fff;
    }

              .overlay {
        display: table;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: white;
        opacity: 0.7;
        z-index: 2;
    }

    .inner {
        font-family: sans-serif;
        font-size: 18px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-blue">
        <span class="widget-caption"><b> {{planName}} - {{staffResultDetaitObject.StaffDTO.Name}}</b></span> 
    </div>
    <div class="widget-body">
        <div class="overlay" loading>
            <div class="inner">
                <img height="60" src="/Images/loader.gif" /><br />
                Đang xử lý ...
            </div>
        </div>
        <div style="text-align:center;">
            <div style="float:right;width:200px;"><b>MẪU 04/ĐGĐV</b></div><br />
            <h3 class="title">BẢN ĐÁNH GIÁ KẾ HOẠCH HOẠT ĐỘNG CÁ NHÂN NĂM HỌC</h3>
            <h4 class="title">Áp dụng cho Trưởng đơn vị và tập thể Khoa/Viện/Trường</h4>
        </div>
        <form name="planDetailKPIForm" role="form" class="form-horizontal" novalidate>
            <div>
                <table class="table table-striped table-bordered" style="width: 100%">
                    <tbody>
                        <tr>
                            <td class="td1">Khoa</td>
                            <td>{{staffResultDetaitObject.StaffDTO.Department.Name}}</td>
                        </tr>
                        <!--<tr>
                            <td class="td1">Bộ môn</td>
                            <td>{{staffResultDetaitObject.StaffDTO.Subject.Name}}</td>
                        </tr>-->
                        <tr>
                            <td class="td1">Người lập</td>
                            <td>{{staffResultDetaitObject.StaffDTO.Name}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Vị trí</td>
                            <td>Trưởng khoa</td>
                        </tr>
                        <tr>
                            <td class="td1">Cấp trên trực tiếp</td>
                            <td>Ban Giám hiệu</td>
                        </tr>
                        <tr>
                            <td class="td1">MSNV</td>
                            <td>{{staffResultDetaitObject.StaffDTO.UserName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr><td style="text-align: center" class="header1"><h4>Phần 1: Đánh giá chi tiết</h4></td></tr>
                </thead>
                <tbody ng-repeat="tg in staffResultDetaitObject.TargetGroupRatingDTOs">
                    <tr>
                        <td>
                            <table class="table  table-bordered">
                                <thead style="color:white">
                                    <tr>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;" rowspan="2">STT</th>

                                        <th ng-if="tg.TargetGroupDetailTypeId == 0" ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;" rowspan="2">Mục tiêu</th>

                                        <th ng-if="tg.TargetGroupDetailTypeId == 1 || tg.TargetGroupDetailTypeId == 6 || tg.TargetGroupDetailTypeId == 7" ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;" rowspan="2">Mục tiêu</th>

                                        <th ng-if="tg.TargetGroupDetailTypeId == 1 || tg.TargetGroupDetailTypeId == 6 || tg.TargetGroupDetailTypeId == 7" ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;" rowspan="2">Kết quả thực hiện</th>

                                        <th ng-if="tg.TargetGroupDetailTypeId == 1 || tg.TargetGroupDetailTypeId == 6 || tg.TargetGroupDetailTypeId == 7" ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;" rowspan="2">Trọng số</th>

                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" ng-if="tg.TargetGroupDetailTypeId == 6 || tg.TargetGroupDetailTypeId == 7" colspan="3 ">NMT#{{$index +1}} : {{tg.Name}}</th>

                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" ng-if="tg.TargetGroupDetailTypeId==0" colspan="5">NMT#{{$index +1}} : {{tg.Name}}</th>

                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" ng-if="tg.TargetGroupDetailTypeId==1" colspan="3">NMT#{{$index +1}} : {{tg.Name}}</th>
                                    </tr>
                                    <!--Loại thường-->
                                    <tr ng-if="tg.TargetGroupDetailTypeId==0">
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Điểm tối đa</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Chỉ tiêu đăng ký</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Kết quả thực hiện</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Điểm đánh giá</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Diễn giải</th>
                                    </tr>
                                    <tr ng-if="tg.TargetGroupDetailTypeId ==1">
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Điểm tự đánh giá</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Điểm cấp trên đánh giá</th>
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center;">Điểm trung bình của từng tiêu chí</th>
                                    </tr>
                                    <tr ng-if="tg.TargetGroupDetailTypeId ==6 || tg.TargetGroupDetailTypeId ==7">
                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center">Điểm tự đánh giá</th>

                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center">Điểm cấp trên đánh giá</th>

                                        <th ng-style="{'background-color': TABLECOLORS[$index] }" style="vertical-align:middle; text-align:center">Điểm trung bình của từng tiêu chí</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="tg.TargetGroupDetailTypeId==0" ng-repeat="rd in tg.ResultDetailDTOs track by $index">
                                        <td style="text-align:center; width:50px;">{{$index +1}}</td>
                                        <td style="width:280px;">{{rd.CriterionName}}</td>
                                        <td style="text-align:center;width:80px;">{{rd.MaxRecord}}</td>
                                        <td style="width:230px;">
                                            <textarea ng-auto-expand disabled ng-model="rd.RegisterTarget" style="border:0;"></textarea>
                                        </td>
                                        <td style="width:250px;">
                                            <input style="width:90%;" ng-if="rd.CriterionTypeId==2" ng-disabled="staffResultDetaitObject.IsSupervisor" kendo-numeric-text-box k-options="numericOptions" k-ng-model="rd.CurrentResult" class="col-xs-12" />
                                            <span ng-if="rd.CriterionTypeId==4 || rd.IdDanhGiaChiTiet == 1">{{rd.CurrentResult}}</span>
                                            <textarea ng-auto-expand ng-if="rd.CriterionTypeId==1 || tg.TargetGroupDetailTypeId==4" ng-disabled="staffResultDetaitObject.IsSupervisor" ng-attr-tooltip="{{rd.Tooltip}}" required class="col-xs-12" ng-model="rd.CurrentResult"></textarea>
                                            <select class="form-control col-md-12" ng-if="rd.CriterionTypeId==3 && rd.IdDanhGiaChiTiet == 2 && rd.CriterionId!='751b5eaa-c48a-4849-ba10-1555c60dd422' && rd.CriterionId!='9dcd919b-7bbe-40ab-819a-f72a69092913'" name="selectTarget" ng-disabled="!staffResultDetaitObject.IsSupervisor" ng-change="criterionDictionaryUpdate(rd.CurrentResult,tg.Id,rd.PlanKPIDetailId)" required ng-model="rd.CurrentResult" ng-options="listobj.Id as listobj.Name for listobj in rd.CriterionDictionaries">
                                                <option value="">...Chọn tiêu chí...</option>
                                            </select>
                                        </td>
                                        <td style="text-align:center;width:90px;">
                                            <div ng-if="staffResultDetaitObject.IsSupervisor">
                                                <span class="error" style="color: red" ng-show="rd.SupervisorRecord>rd.MaxRecord">
                                                    Điểm tối đa: {{rd.MaxRecord}}
                                                </span>
                                                <textarea style="text-align:center" ng-auto-expand lower-than="{{rd.MaxRecord}}" class="col-xs-12" ng-model="rd.SupervisorRecord" ng-change="rd.Record = rd.SupervisorRecord"></textarea>
                                            </div>
                                            <div style="text-align:center" ng-if="!staffResultDetaitObject.IsSupervisor">
                                                <b>{{rd.SupervisorRecord}}</b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tg.TargetGroupDetailTypeId==4" ng-repeat="rd in tg.ResultDetailDTOs track by $index">
                                        <td style="text-align:center; width:50px;">{{$index +1}}</td>
                                        <td style="width:50%">{{rd.CurrentResult}}</td>
                                        <td style="width:25%">
                                            <div  style="text-align:center">
                                                <b>{{rd.Record}}</b>
                                            </div>
                                        </td>
                                        <td style="width:25%">
                                            <div style="text-align:center;">
                                                {{rd.SupervisorRecord}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tg.TargetGroupDetailTypeId==5" ng-repeat="rd in tg.ResultDetailDTOs track by $index">
                                        <td style="text-align:center; width:50px;">{{$index +1}}</td>
                                        <td style="width:50%">{{rd.CurrentResult}}</td>
                                        <td style="width:25%">                                           
                                            <div  style="text-align:center">
                                                <b>{{rd.Record}}</b>
                                            </div>
                                        </td>
                                        <td style="width:25%">
                                            <div style="text-align:center;">
                                                {{rd.SupervisorRecord}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tg.TargetGroupDetailTypeId==1 || tg.TargetGroupDetailTypeId==6 || tg.TargetGroupDetailTypeId==7" ng-repeat="rd in tg.ResultDetailDTOs track by $index">
                                        <td style="text-align:center; width:50px;">{{$index +1}}</td>
                                        <td style="width:20%">{{rd.ResultName}}</td>
                                        <td style="width:22%">
                                            <div style="text-align:center">
                                                <textarea type="text" required ng-model="rd.PreviousResult" />

                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" required ng-model="rd.MaxRecord" max="100" min="0" />
                                        </td>
                                        <td style="width:15%">
                                            <div style="text-align:center">
                                                <!--<b>{{rd.Record}}</b>-->
                                                <input type="number" name="Record" required ng-model="rd.Record" max="100" min="0" />

                                            </div>
                                        </td>
                                        <td style="width:15%">
                                            <div style="text-align:center;">
                                                <!--{{rd.SupervisorRecord}}-->
                                                <input type="number" ng-model="rd.SupervisorRecord" max="100" min="0" />
                                            </div>
                                        </td>
                                        <td>
                                            <span>{{(rd.Record + rd.SupervisorRecord)/2}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td ng-if="tg.TargetGroupDetailTypeId==0" colspan="5" style="text-align: right;">Tổng cộng</td>
                                        <td ng-if="tg.TargetGroupDetailTypeId==1" colspan="4" style="text-align: right;">Tổng cộng</td>
                                        <td ng-if="tg.TargetGroupDetailTypeId==6 || tg.TargetGroupDetailTypeId==7" colspan="4" style="text-align: right;">Tổng cộng</td>
                                        <td style="text-align:center;" ng-if="tg.TargetGroupDetailTypeId==1 || tg.TargetGroupDetailTypeId==6 || tg.TargetGroupDetailTypeId==7"><b>{{sumResult(tg.ResultDetailDTOs,'Record')}}</b></td>
                                        <td style="text-align:center;" ng-if="tg.TargetGroupDetailTypeId==1 || tg.TargetGroupDetailTypeId==6 || tg.TargetGroupDetailTypeId==7"><b>{{sumResult(tg.ResultDetailDTOs,'SupervisorRecord')}}</b></td>

                                        <td style="text-align:center;" ng-if="tg.TargetGroupDetailTypeId==1 || tg.TargetGroupDetailTypeId==6 || tg.TargetGroupDetailTypeId==7"><b>{{sumTotalResult(tg.ResultDetailDTOs,'SupervisorRecord')}}</b></td>

                                        <td ng-if="tg.TargetGroupDetailTypeId==0" style="text-align:center;" colspan="2"><b>{{sumProfessors(tg.ResultDetailDTOs,'SupervisorRecord')}}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>                     
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center" colspan="6" class="header1">
                            <h4> Phần 2: Đánh giá tổng hợp</h4>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">STT</th>
                        <th rowspan="2">Nhóm mục tiêu</th>
                        <th rowspan="2">Tỷ trọng</th>
                        <th colspan="3" style="text-align: center;">Điểm đánh giá</th>
                    </tr>
                    <tr>
                        <th>Nhân viên tự đánh giá trung bình</th>
                        <th>Cấp trên đánh giá trung bình</th>
                        <th>Điểm trung bình </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tg in staffResultDetaitObject.TargetGroupRatingDTOs">
                        <td>{{$index +1}}</td>
                        <td>{{tg.Name}}</td>
                        <td>{{tg.Density}}%</td>
                        <td ng-if="tg.TargetGroupDetailTypeId!= 0">{{sumResult(tg.ResultDetailDTOs,'Record')}}</td>
                        <td ng-if="tg.TargetGroupDetailTypeId!= 0">{{sumResult(tg.ResultDetailDTOs,'SupervisorRecord')}}</td>
                        <td ng-if="tg.TargetGroupDetailTypeId!= 0">{{sumTotalResult(tg.ResultDetailDTOs,'SupervisorRecord')}}</td>
                        <td ng-if="tg.TargetGroupDetailTypeId == 0">{{sumProfessors(tg.ResultDetailDTOs,'Record')}}</td>
                        <td ng-if="tg.TargetGroupDetailTypeId == 0">{{sumProfessors(tg.ResultDetailDTOs,'SupervisorRecord')}}</td>
                        <td ng-if="tg.TargetGroupDetailTypeId == 0">{{sumtotalProfessors(tg.ResultDetailDTOs,'SupervisorRecord')}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Tổng cộng điểm(làm tròn)</td>
                        <td colspan="2" style="text-align:center" ng-if="staffResultDetaitObject.TotalRecordSecond<=0"><b>{{totalsumProfessor()}}</b></td>
                        <td style="text-align:center" ng-if="staffResultDetaitObject.TotalRecordSecond>0"><b><span style="font-weight:bold">{{staffResultDetaitObject.TotalRecordSecond}}</span> <span style="color:red">(Điểm đã được chỉnh sửa)</span></b></td>
                    </tr>
                    <tr>
                        <td colspan="5">Xếp loại</td>
                        <td style="text-align:center; font-weight:bold">
                            <span ng-if="staffResultDetaitObject.TotalRecordSecond<=0">
                                <b>Loại {{rank()}}</b>
                            </span>
                            <span ng-if="staffResultDetaitObject.TotalRecordSecond>0">
                                <b>Loại {{rankSecondRecord(staffResultDetaitObject.TotalRecordSecond)}}}</b>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="row" ng-if="!staffResultDetaitObject.IsViewer">
                <div style="float: right; margin-right: 30px;">
                    <button class="btn btn-primary" ng-click="save()" ng-disabled="!staffResultDetaitObject.IsSupervisor && staffResultDetaitObject.IsLocked ">Lưu</button>
                    <button class="btn btn-success" ng-click="unlock()" ng-if="staffResultDetaitObject.IsSupervisor && staffResultDetaitObject.IsLocked ">Mở khóa</button>
                </div>
            </div>
        </form>
    </div>
</div>
