
<div class="col-lg-12 col-xs-12 col-sm-12">
    <form role="form">
        <div class="form-horizontal form-bordered">
            <div style="font-family: sans-serif; font-size: 24px; color: cadetblue; text-align: center;">Chi tiết nghỉ phép</div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tổng số ngày phép:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" style="height:20px; width:200px" id="TongSoNgayPhep">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Số ngày phép cộng thêm:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" style="height:20px; width:200px" id="SoNgayPhepCongThem">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Số ngày phép đã nghỉ:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" style="height:20px; width:200px" id="SoNgayPhepDaNghi">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Số ngày phép còn lại:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" style="height:20px; width:200px" id="SoNgayPhepConLai">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Ghi chú:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" style="height:20px; width:200px" id="GhiChu">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"></label>
                <div class="col-sm-7">
                    <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: update">
                        <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
                    </a>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
    </form>
</div>