<script type="text/javascript">
    function ViewModel(datagrid) {
        var self = this;
        var session = {};
        //
        $("#jqxTuNgay").jqxDateTimeInput({ width: '150px', height: '25px' });
        $("#jqxDenNgay").jqxDateTimeInput({ width: '150px', height: '25px' });
        $.ajax({
            type: 'POST',
            url: '/WebServices/KyChamCong_GetTuNgayDenNgay_ByNgay',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ko.toJSON({ ngay: $('#jqxTuNgay').jqxDateTimeInput('getDate') }),
            async: false,
            success: function (result) {
                if (result != null) {
                    $("#jqxTuNgay").jqxDateTimeInput('setDate', result.TuNgay);
                    $("#jqxDenNgay").jqxDateTimeInput('setDate', result.DenNgay);
                }
            }
        });

        self.SoNgayHieuTruongDuyet = ko.observable(0);
        self.SoNgayHieuTruongDuyetString = ko.observable("0");
        self.HDQTDuyetPhepTruongDonVi = ko.observable();
        $.ajax({
            type: 'POST',
            url: '/WebServices/CauHinhChamCong_Find',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.SoNgayHieuTruongDuyet(obj.SoNgayHieuTruongDuyet);
                self.SoNgayHieuTruongDuyetString(obj.SoNgayHieuTruongDuyet.toString().padStart(2, "0"));
                self.HDQTDuyetPhepTruongDonVi(obj.HDQTDuyetPhepTruongDonVi);
            }
        });
        //
        self.Id = ko.observable();
        self.UserId = ko.observable();
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
                self.Id(session.Id);
                self.UserId(session.UserId);
            }
        });

        //
        var buoiArr = [
            { Id: 1, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.CA_NGAY") },
            { Id: 2, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.SANG") },
            { Id: 3, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.CHIEU") }
        ];
        //
        var trangthaiArr = [
            { Id: 2, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.TAT_CA") },
            { Id: -1, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.CHO_XET") },
            { Id: 0, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.KHONG_CHAP_NHAN") },
            { Id: 1, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.CHAP_NHAN") }
        ];
        var donXinNghiArr = [
            { Id: 1, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.DON_XIN_NGHI") },
            { Id: 2, Name: dataLocalize("DANG_KY_NGAY_NGHI.JS.DON_XIN_NGHI_VIEC_RIENG") }
        ];
        self.returnData = [];
        self.datagrid = datagrid;
        //self.month = ko.observable(new Date().getMonth() + 1);
        //self.year = ko.observable(new Date().getFullYear());
        self.trangthaiList = ko.observableArray(trangthaiArr);
        self.trangthaiSelected = ko.observable(-1);
        self.donXinNghiList = ko.observableArray(donXinNghiArr);
        self.donXinNghiSelected = ko.observable(-1);
        self.HinhThucNghiList = ko.observableArray();
        self.hinhThucNghiSelected = ko.observable();
        self.buoiList = ko.observableArray(buoiArr);
        self.buoiSelected = ko.observable(1);

        self.TenHinhThucNghi = ko.observable();
        self.HoTen = ko.observable();
        self.NgaySinhString = ko.observable();
        self.ChucDanh = ko.observable();
        self.TenPhongBan = ko.observable();
        self.NamNghiPhep = ko.observable();
        self.SoNgay = ko.observable();
        self.TuNgayString = ko.observable();
        self.DenNgayString = ko.observable();
        self.NoiNghiPhep = ko.observable();
        self.DienGiai = ko.observable();
        self.DienThoai = ko.observable();
        self.Email = ko.observable();
        self.DiaChiLienHe = ko.observable();
        self.TenGiayXinPhep = ko.observable();
        self.LoaiNghiPhep = ko.observable();
        //
        self.SoHieuCongChuc = ko.observable();
        self.ChucVu = ko.observable();
        self.DonVi = ko.observable();
        self.Khoi = ko.observable();
        self.NguoiBanGiao = ko.observable();
        //
        self.SoNgay = ko.observable();
        //
        self.SoNgayPhepNam = ko.observable();
        self.SoNgayPhepDaDung = ko.observable();
        self.SoNgayPhepThucTe = ko.observable();
        //
        self.SoNgayConKetHonToiDa = ko.observable();
        self.SoNgayConKetHonThucTe = ko.observable();
        self.SoNgayKetHonToiDa = ko.observable();
        self.SoNgayKetHonThucTe = ko.observable();
        self.SoNgayTangToiDa = ko.observable();
        self.SoNgayTangThucTe = ko.observable();
        //
        self.SoNgayOmDNToiDa = ko.observable();
        self.SoNgayOmDNThucTe = ko.observable();
        self.SoNgayOmNNToiDa = ko.observable();
        self.SoNgayOmNNThucTe = ko.observable();
        self.SoNgayConOmToiDa = ko.observable();
        self.SoNgayConOmThucTe = ko.observable();
        self.SoNgayKhamThaiToiDa = ko.observable();
        self.SoNgayKhamThaiThucTe = ko.observable();
        self.SoNgaySayThaiToiDa = ko.observable();
        self.SoNgaySayThaiThucTe = ko.observable();
        self.SoNgaySinhConToiDa = ko.observable();
        self.SoNgaySinhConThucTe = ko.observable();
        self.SoNgayDuongSucToiDa = ko.observable();
        self.SoNgayDuongSucThucTe = ko.observable();
        //
        self.SoNgayKhongLuongToiDa = ko.observable();
        self.SoNgayKhongLuongThucTe = ko.observable();
        //

        self.NgayThang = ko.observable(dataLocalize("DANG_KY_NGAY_NGHI.JS.NGAY_THANG_NAM", { ngay: new Date().getDate(), thang: (new Date().getMonth() + 1), nam: new Date().getFullYear() }));
        $.ajax({
            type: 'POST',
            url: '/WebServices/ChamCongNgayNghi_GetListHinhThucNghi',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.HinhThucNghiList(obj);
            }
        });
        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'MaQuanLy', type: 'string' },
                { name: 'HoTen', type: 'string' },
                { name: 'TenPhongBan', type: 'string' },
                { name: 'HinhThucNghi_Name', type: 'string' },
                { name: 'TuNgay', type: 'date', format: 'dd-MM-yyyy' },
                { name: 'DenNgay', type: 'date' },
                { name: 'NgayTao', type: 'date' },
                { name: 'Buoi', type: 'string' },
                { name: 'SoNgay', type: 'decimal' },
                { name: 'DienGiai', type: 'string' },
                { name: 'TrangThai_TP', type: 'int' },
                { name: 'TrangThai_HT', type: 'int' },
                { name: 'TrangThai_HDQT', type: 'int' },
                { name: 'IDNhanVien', type: 'string' },
                { name: 'LaTruongPhong', type: 'string' },
                { name: 'LaBanGiamHieu', type: 'string' },
                { name: 'PhanHoi_TP', type: 'string' },
                { name: 'PhanHoi_Admin', type: 'string' },
                { name: 'PhanHoi_HT', type: 'string' },
                { name: 'PhanHoi_HDQT', type: 'string' }
            ],
            id: 'Id',
            url: "/WebServices/DangKyChamCongNgayNghi_Find",
            formatdata: function (data) {
                //
                var date = $('#jqxTuNgay').jqxDateTimeInput('getDate');
                var tuNgay = $.jqx.dataFormat.formatdate(date, 'd');
                var date = $('#jqxDenNgay').jqxDateTimeInput('getDate');
                var denNgay = $.jqx.dataFormat.formatdate(date, 'd');
                //
                return {
                    tungay: tuNgay,
                    denngay: denNgay,
                    idNhanVien: self.Id()
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid({
            source: self.dataAdapter,
            width: '100%',
            selectionmode: 'checkbox',
            pageable: true,
            pagesize: 10,
            sortable: true,
            autoheight: true,
            autorowheight: true,
            theme: "darkBlue",
            columns: [
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.STT"), columntype: 'number', width: 45, editable: false, cellsrenderer: function (row, column, value) {
                         return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                     }
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.TRUONG_PHONG"), datafield: 'TrangThai_TP', align: 'center', cellsalign: "middle", width: 140,
                     cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties, rowdata) {
                         var str = "";
                         //
                         if (!rowdata.LaBanGiamHieu && !rowdata.LaTruongPhong) {
                             if (cellvalue == -1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/InfoSmall.jpg' /></div>";
                             }
                             if (cellvalue == 1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_yes.png' /></div>";
                             }
                             if (cellvalue == 0) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_no.png' /></div>";
                             }
                         }
                         return str;
                     }
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.HIEU_TRUONG"), datafield: 'TrangThai_HT', align: 'center', cellsalign: "middle", width: 80,
                     cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties, rowdata) {
                         var str = "";

                         if ((rowdata.SoNgay > self.SoNgayHieuTruongDuyet() && !rowdata.LaTruongPhong)
                               || (rowdata.LaTruongPhong && self.HDQTDuyetPhepTruongDonVi() == false)) {
                             if (cellvalue == -1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/InfoSmall.jpg' /></div>";
                             }
                             if (cellvalue == 1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_yes.png' /></div>";
                             }
                             if (cellvalue == 0) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_no.png' /></div>";
                             }
                         }
                         return str;
                     }
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.HDQT"), datafield: 'TrangThai_HDQT', align: 'center', cellsalign: "middle", width: 120,
                     cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties, rowdata) {
                         var str = "";
                         if (rowdata.LaBanGiamHieu || (rowdata.LaTruongPhong && self.HDQTDuyetPhepTruongDonVi() == true)) {
                             if (cellvalue == -1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/InfoSmall.jpg' /></div>";
                             }
                             if (cellvalue == 1) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_yes.png' /></div>";
                             }
                             if (cellvalue == 0) {
                                 str = "<div class='jqx-grid-cell-child'><img src='/Images/TT_no.png' /></div>";
                             }
                         }
                         return str;
                     }
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NGAY_NGHI_TU_NGAY"), datafield: 'TuNgay', width: 130, align: 'center', cellsalign: "middle", columnGroup: 'NgayCongTac', cellsformat: 'd/M/yyyy'
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NGAY_NGHI_DEN_NGAY"), datafield: 'DenNgay', width: 130, align: 'center', cellsalign: "middle", columnGroup: 'NgayCongTac', cellsformat: 'd/M/yyyy'
                 },
                {
                    text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.BUOI"), datafield: 'Buoi', width: 80, align: 'center', cellsalign: "middle",
                },
                {
                    text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.SO_NGAY"), datafield: 'SoNgay', width: 120, align: 'center', cellsalign: "middle",
                },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.HINH_THUC_NGHI"), datafield: 'HinhThucNghi_Name', width: 250, cellsalign: "left", sortable: false, align: 'center',
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NOI_DUNG"), datafield: 'DienGiai', align: 'center', cellsalign: "left", width: 300
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NGAY_TAO"), datafield: 'NgayTao', width: 130, align: 'center', cellsalign: "middle", cellsformat: 'd/M/yyyy'
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NHAN_VIEN"), datafield: 'IDNhanVien', width: 100, align: 'left', hidden: true
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.PHAN_HOI_TP"), datafield: 'PhanHoi_TP', width: 200, align: 'center', cellsalign: "middle"
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.PHAN_HOI_HT"), datafield: 'PhanHoi_HT', width: 200, align: 'center', cellsalign: "middle"
                 },
                 {
                     text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.PHAN_HOI_HDQT"), datafield: 'PhanHoi_HDQT', width: 200, align: 'center', cellsalign: "middle"
                 }
            ],
            columnGroups: [
               { text: dataLocalize("DANG_KY_NGAY_NGHI.TABLE.NGAY_NGHI"), cellsAlign: 'center', align: 'center', name: 'NgayCongTac' }
            ]
        });
        self.datagrid.jqxGrid('rendered', function () {
            self.datagrid.jqxGrid('localizestrings', jqxLocalization());
        });

    }
    //================
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.month()) || self.month() < 0 || self.month() > 12) {
                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.THANG_KHONG_HOP_LE"));
                return true;
            }
            else if (isNaN(self.year()) || self.year() < 0) {
                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.NAM_KHONG_HOP_LE"));
                return true;
            }
            return false;
        },
        validateFromDateToDate: function (chamCongNgayNghiOid, tuNgay, denNgay, nhanVienID) {
            var check;
            var self = this;
            $.ajax({
                type: 'POST',
                url: '/WebServices/ChamCongNgayNghi_KiemTraTuNgayDenNgayCoHopLe',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: ko.toJSON({
                    chamCongNgayNghiOid: chamCongNgayNghiOid,
                    tuNgay: tuNgay,
                    denNgay: denNgay,
                    nhanVienID: nhanVienID,
                    buoi: self.buoiSelected()
                }),
                success: function (result) {
                    check = result;
                }
            });
            return check;
        },
        Create: function () {
            var self = this;

            //Kiểm tra từ ngày đến ngày hợp lệ
            if ($('#jqxFromDate').jqxDateTimeInput('getDate') > $('#jqxToDate').jqxDateTimeInput('getDate')) {
                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.TU_NGAY_DEN_NGAY_KHONG_HOP_LE"));
                return;
            }

            if (self.validateFromDateToDate(null, $('#jqxFromDate').jqxDateTimeInput('getDate'), $('#jqxToDate').jqxDateTimeInput('getDate'), self.Id())) {
                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.THOI_GIAN_DANG_KY_BI_TRUNG"));
                return;
            }

            //Kiểm tra số ngày nghỉ có vượt mức cho phép hay ?
            if (KiemTraSoNgay()) return;
            //

            $.ajax({
                type: 'POST',
                url: '/WebServices/ChamCongNgayNghi_TaoMoi',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    nhanVienId: self.Id(),
                    noiDung: $("#txtContent").val(),
                    nguoibangiao: $("#txtnguoibangiao").val(),
                    tenDonXinNghi: "",
                    //tenDonXinNghi: $("#TenDonXinNghi").val(),
                    diaChiLienHe: "",
                    idHinhThucNghi: self.hinhThucNghiSelected(),
                    loaiDonXinNghi: 1,
                    tuNgay: $('#jqxFromDate').jqxDateTimeInput('getDate'),
                    denNgay: $('#jqxToDate').jqxDateTimeInput('getDate'),
                    webUserId: self.UserId(),
                    buoi: self.buoiSelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    if (obj.message == 'success') {
                        alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.LUU_THANH_CONG"));
                        self.datagrid.jqxGrid('updatebounddata');
                        $("#popupWindow").jqxWindow('close');
                    }
                    else {
                        alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.LUU_THAT_BAI"));
                        self.datagrid.jqxGrid('updatebounddata');
                        $("#popupWindow").jqxWindow('close');
                    }
                }
            });
        },
        search: function () {
            var self = this;
            //if (self.validate())
            //    return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        add: function () {
            var self = this;
            //
            $("#popupWindow").on('open', function () {
                $("#txtContent").val('');
                $("#txtnguoibangiao").val('');
                $("#txtsongayhople").val('');
                $("#jqxComboBox_HinhThucNghi").val('');
            });
            $("#Save").jqxButton({ theme: "darkBlue" });
            //
            var offset = $("#jqxgrid").offset();
            $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 120, y: parseInt(offset.top) - 120 } });
            $("#jqxFromDate").jqxDateTimeInput({ width: '100px', height: '25px' });
            $("#jqxToDate").jqxDateTimeInput({ width: '100px', height: '25px' });
            $("#popupWindow").jqxWindow('open');

            //Lấy dữ liệu hình thức nghỉ
            var sourceHinhThucNghi =
            {
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                datafields: [
                    { name: 'Oid' },
                    { name: 'TenHinhThucNghi' }
                ],
                url: "/WebServices/ChamCongNgayNghi_GetListHinhThucNghi",
                async: false,
                id: 'Oid'
            };
            var dataAdapter = new $.jqx.dataAdapter(sourceHinhThucNghi);
            //
            $("#jqxComboBox_HinhThucNghi").jqxComboBox({ source: dataAdapter, displayMember: "TenHinhThucNghi", valueMember: "Oid", width: '300px', height: '25px' });
            $('#jqxComboBox_HinhThucNghi').on('select', function (event) {
                var args = event.args;
                if (args != undefined) {
                    var item = event.args.item;
                    if (item != null) {


                        //Lấy số ngày phép còn lại
                        $.ajax({
                            type: 'POST',
                            url: '/WebServices/ChamCongNgayNghi_SoNgayHopLe',
                            contentType: "application/json; charset=utf-8",
                            data: ko.toJSON({
                                hinhThucNghi: item.value,
                                nhanVien: self.Id(),
                                tuNgay: $('#jqxFromDate').jqxDateTimeInput('getDate')
                            }),
                            dataType: "json",
                            async: false,
                            success: function (result) {
                                var obj = result;
                                //
                                $('#txtsongayhople').val(obj);
                                //
                                self.hinhThucNghiSelected(item.value);
                            }
                        });
                    }
                }
            });
            $("#jqxFromDate").on('change', function (event) {
                //Lấy nhân viên
                var args = event.args;
                if (args != undefined) {
                    var date = args.date;
                    if (date != null) {
                        $.ajax({
                            type: 'POST',
                            url: '/WebServices/ChamCongNgayNghi_SoNgayHopLe',
                            contentType: "application/json; charset=utf-8",
                            data: ko.toJSON({
                                hinhThucNghi: self.hinhThucNghiSelected(),
                                nhanVien: self.Id(),
                                tuNgay: date
                            }),
                            dataType: "json",
                            async: false,
                            success: function (result) {
                                var obj = result;
                                $('#txtsongayhople').val(obj);
                            }
                        });
                    }
                }
            });
            //
        },
        remove: function () {
            var self = this;
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.CHUA_CO_DONG_NAO_DUOC_CHON"));
                return;
            }
            var r = confirm(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.BAN_CO_CHAC_XOA_HAY_KHONG"));
            if (r == true) {
                var selectedRecords = new Array();
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    if (row.TrangThai_Admin == '1' || row.TrangThai_TP == '1'
                        || row.TrangThai_HT == '1' || row.TrangThai_HDQT == '1') {
                        alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.BANG_CONG_DA_DUYET_KHONG_DUOC_XOA"));
                        //
                        self.datagrid.jqxGrid('updatebounddata');
                        self.datagrid.jqxGrid('clearselection');
                        //
                        return;
                    }
                    selectedRecords.push({
                        Oid: row.Oid
                    });
                }

                if (selectedRecords.length > 0) {

                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/ChamCongNgayNghi_DeleteList',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            obj: selectedRecords
                        }),
                        success: function (result) {
                            var obj = result;
                            if (obj.message == 'success') {
                                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.XOA_THANH_CONG"));
                                self.datagrid.jqxGrid('updatebounddata');
                            }
                            else {
                                alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.XOA_THAT_BAI"));
                                self.datagrid.jqxGrid('updatebounddata');
                            }
                        }
                    });

                }
            } else {
                return;
            }
        },
        print: function () {
            var self = this;
            var oidlist = '';
            var nhanvien = '';
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            for (var i = 0, l = rows.length; i < l ; i++) {
                var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                //
                oidlist += row.Oid + ';';
                nhanvien = row.IDNhanVien;
            }

            //
            if (oidlist != '') {
                window.open("/ExcelExport/InGiayNghiPhep.ashx?oidlist=" + oidlist + "&nhanvien=" + nhanvien + "&type=true");
            }
        }
    };
    //=============
    $(function () {
        var session = {};
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#quanlycongtac")[0]);
        $("#popupWindow").jqxWindow({
            width: 600, theme: "darkBlue", resizable: true, isModal: false, autoOpen: false
        });
    });


    //
    function KiemTraSoNgay() {
        //var oneDay = 24 * 60 * 60 * 1000;
        var fromDate = $('#jqxFromDate').jqxDateTimeInput('getDate');
        var toDate = $('#jqxToDate').jqxDateTimeInput('getDate');
        //
        //var diffDays = Math.round(Math.abs((start.getTime() - end.getTime()) / (oneDay)));
        var diffDays = getWorkingDay(fromDate, toDate);
        //
        var soNgayHopLe = parseInt($('#txtsongayhople').val());
        if (soNgayHopLe < diffDays) {
            alert(dataLocalize("DANG_KY_NGAY_NGHI.ALERT.SO_NGAY_NGHI_KHONG_HOP_LE") + diffDays);
            return true;
        }
        return false;
    }

    //Hàm lấy số ngày nghỉ trừ t7 và cn
    //var fromDate = new Date("2016-08-14");
    //var toDate = new Date("2016-08-28");
    function getWorkingDay(fromDate, toDate) {
        var diffInMS = toDate - fromDate;
        var diffInDays = (diffInMS / (24 * 3600) / 1000) + 1; // include both start and end day
        var fromDayInWeek = fromDate.getDay();
        fromDayInWeek = fromDayInWeek > 0 ? fromDayInWeek : 7;
        var weeks = Math.floor(diffInDays / 7);
        var extraDays = diffInDays % 7;
        addedDay = 0;
        for (var i = 1; i <= extraDays; i++) {
            var refDayInWeek = fromDayInWeek + i;
            if (refDayInWeek != 7 && refDayInWeek != 8 && refDayInWeek < 11) {
                addedDay++;
            }
        }
        var workingDay = (weeks * 5) + addedDay;
        //
        return workingDay;
    }
</script>

<div id="quanlycongtac">

    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left:15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: add">
                            <i class="btn-label glyphicon glyphicon-ok"></i><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI">Tạo mới</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: remove">
                            <i class="btn-label glyphicon glyphicon-remove"></i><span data-i18n="DANG_KY_NGAY_NGHI.XOA">Xóa</span>
</a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: print">
                            <i class="btn-label glyphicon glyphicon-chevron-left"></i><span data-i18n="DANG_KY_NGAY_NGHI.IN">In</span>
</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 10px; text-align: left" class="row">
        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right" style="padding-top:3px;text-align:left"><span data-i18n="DANG_KY_NGAY_NGHI.TU_NGAY">Từ ngày:</span></label>
            <div class="col-sm-2">
                <div id='jqxTuNgay'></div>
            </div>
            <label class="col-sm-1 control-label no-padding-right" style="padding-top:3px;text-align:left"><span data-i18n="DANG_KY_NGAY_NGHI.DEN_NGAY">Đến ngày:</span></label>
            <div class="col-sm-2">
                <div id='jqxDenNgay'></div>
            </div>
            <div class="col-sm-1">
                <input type="button" data-i18n="[value]DANG_KY_NGAY_NGHI.TIM" value="Tìm" data-bind="click: search" style="width: 60px;height:26px;" />
            </div>
    </div> 
    <div style="padding-top:20px">
        <div id="jqxgrid"></div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 col-sm-4">
                        <img src='/Images/InfoSmall.jpg' />
                        <span data-i18n="DANG_KY_NGAY_NGHI.TABLE.TT_CHO_XET">Chờ xét</span>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-4">
                        <img src='/Images/TT_yes.png' />
                        <span data-i18n="DANG_KY_NGAY_NGHI.TABLE.TT_CHAP_NHAN">Chấp nhận</span>

                    </div>

                    <div class="col-lg-4 col-xs-12 col-sm-4">
                        <img src='/Images/TT_no.png' />
                        <span data-i18n="DANG_KY_NGAY_NGHI.TABLE.TT_KHONG_CHAP_NHAN">Không chấp nhận</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="padding-top:20px;color:#00a6a6">
            <div style="padding-top:15px;font-size:24px;font-weight:bold;text-align:center;text-transform:uppercase"><span data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_DANG_KY_NGHI_PHEP">QUY ĐỊNH ĐĂNG KÝ NGÀY NGHỈ</span></div>
            <div style="padding-left:15px;font-size:14px;font-weight:bold;font-style:italic"><span data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_1">1. Thẩm quyền phê duyệt ngày nghỉ:</span></div>
            <div style="padding-left:15px;">
                <span style="white-space: pre-line;" data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_1_1">
                    - Khi Nhân viên xin nghỉ Trưởng bộ phận/ Quản lý/Ban Giám hiệu phê duyệt.
                    - Đối với Giám đốc và Trưởng bộ phận, việc nghỉ phép sẽ do Phó Tổng Giám đốc phê duyệt.
                    - Đối với Phó Tổng Giám đốc, việc nghỉ phép sẽ do Tổng Giám đốc/ Chủ tịch Hội đồng quản trị phê duyệt.
                </span>
            </div>

            <div style="padding-left:15px;font-size:14px;font-weight:bold;font-style:italic">
                <span data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_2">2. Thời gian báo trước khi nghỉ:</span>
            </div>
            <div style="padding-left:15px;">
                <span style="white-space: pre-line;" data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_2_1">
                    - Số ngày nghỉ dưới 02 ngày: thời gian báo trước khi nghỉ ít nhất là 02 ngày.
                    - Số ngày nghỉ từ 02 ngày đến dưới 04 ngày: thời gian báo trước khi nghỉ ít nhất là 01 tuần.
                    - Số ngày nghỉ từ 04 ngày trở lên: thời gian báo trước khi nghỉ ít nhất là 02 tuần.
                </span>
            </div>

            <div style="padding-left:15px;font-size:14px;font-weight:bold;font-style:italic"><span data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_3">3.	Quy định ngày phép năm:</span></div>
            <div style="padding-left:15px;vertical-align: baseline;">
                <span style="white-space: pre-wrap;" data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.QUY_DINH_3_1">
                    - Nhân viên chỉ được nghỉ phép năm khi đã qua thời gian thử việc.
                    - Nhân viên chỉ được nghỉ phép theo đúng số ngày phép căn cứ trên số tháng làm việc thực tế tại Công ty. Tuy nhiên, trong một số trường hợp, Nhân viên có thể ứng trước ngày phép năm nhưng không quá 03 ngày và tổng số ngày phép năm đã nghỉ không vượt quá số ngày được nghỉ phép của mình.
                    - Ví dụ:
                        • Nếu đang thử việc thì ngày nghỉ được tính không lương.
                        • Nếu qua thời gian thử việc là 02 tháng thì tại tháng thứ 3, Nhân viên sẽ có 03 ngày phép năm.
                        • Nếu Tổng số tháng làm việc trong năm là 03 tháng thì trong một số trường hợp, nhân viên có thể ứng trước phép năm 03 ngày -> Tổng số ngày được xin nghỉ phép năm hợp lệ là 06 ngày. Nếu làm việc đến tháng thứ 4 mà Nhân viên nghỉ việc thì số ngày phép đã ứng trước đó sẽ bị trừ lại.
                    - Nếu có việc đột xuất cần xin nghỉ thì phải báo cho Trưởng bộ phận/ Quản lý/Ban Giám hiệu biết trước giờ vào làm việc ít nhất là 01 tiếng. Sau đó phải đăng kí bổ sung những ngày nghỉ đó chậm nhất là 03 ngày để từ ngày nghỉ đó.
                    - Đến thời điểm kết thúc năm tài chính, Nhân viên chưa nghỉ hết tiêu chuẩn phép trong năm của mình thì được bảo lưu đến hết quý I của niên độ tiếp theo. Từ ngày đầu tiên của quý II niên độ tiếp theo, số Ngày phép còn lại của niên độ trước (nếu có) của CBNV sẽ tự động hết hiệu lực.
                    - Việc chấm công bằng vân tay cần được thực hiện nghiêm túc vì sẽ trực tiếp ảnh hưởng đến dữ liệu chấm công hàng tháng của từng Nhân viên.
                </span>
            </div>
            <div style="padding-left:15px;vertical-align: baseline; padding-top: 10px;">
                <span data-i18n="DANG_KY_NGAY_NGHI.QUY_DINH.LUU_Y">Lưu ý: Việc đăng kí ngày nghỉ chỉ được thực hiện trong kì chấm công, khi đã chốt chấm công thì không được đăng kí.</span>
            </div>
       </div>
    </div>

    <div id="popupWindow">
        <div><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.DANG_KY_NGAY_NGHI">Đăng ký ngày nghỉ</span></div>
        <div style="overflow: hidden;">
            <table>
                <!--<tr>
                    <td align="right" style="height:36px">Loại đơn xin nghỉ: </td>
                    <td align="left" style="padding:5px;"><select data-bind="options: donXinNghiList, optionsText: 'Name', optionsValue: 'Id', value: donXinNghiSelected"></select></td>
                </tr>-->
                <tr>
                    <td align="right" style="height:36px"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.HINH_THUC_NGHI">Hình thức nghỉ: </span></td>
                    <td align="left" style="padding:5px;">
                        <!--<select data-bind="options: HinhThucNghiList, optionsText: 'TenHinhThucNghi', optionsValue: 'Oid', value: hinhThucNghiSelected"></select>-->
                        <div id="jqxComboBox_HinhThucNghi"></div>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="height:36px"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.BUOI">Buổi: </span></td>
                    <td align="left" style="padding:5px;">
                        <select data-bind="options: buoiList, optionsText: 'Name', optionsValue: 'Id', value: buoiSelected"></select>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="height:36px"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.SO_NGAY_HOP_LE">Số ngày hợp lệ: </span></td>
                    <td align="left" style="padding:5px;"><input id="txtsongayhople" disabled style="color:red; width: 100px" /></td>
                </tr>
                <!--<tr>
                    <td align="right"> Tên đơn xin nghỉ:</td>
                    <td align="left" style="padding:5px;"><textarea id="TenDonXinNghi" placeholder="ĐƠN XIN NGHỈ...." style="width: 300px;height: 30px;"></textarea></td>
                </tr>-->
                <tr>
                    <td align="right" style="height:36px"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.TU_NGAY">Từ ngày: </span></td>
                    <td align="left" style="padding:5px;"><div id='jqxFromDate'></div></td>
                </tr>
                <tr>
                    <td align="right" style="height:36px"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.DEN_NGAY">Đến ngày: </span></td>
                    <td align="left" style="padding:5px;"><div id='jqxToDate'></div></td>
                </tr>
                <tr>
                    <td align="right"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.NGUOI_NHAN_BAN_GIAO"> Người nhận bàn giao:</span></td>
                    <td align="left" style="padding:5px;"><input id="txtnguoibangiao" style="width: 300px" /></td>
                </tr>
                <tr>
                    <td align="right"><span data-i18n="DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.NOI_DUNG"> Nội dung:</span></td>
                    <td align="left" style="padding:5px;"><textarea id="txtContent" style="width: 300px;height: 50px;"></textarea></td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;padding-bottom:5px;" colspan="2" align="center">
                        <input style="margin-right: 5px;" type="button" id="Save" data-i18n="[value]DANG_KY_NGAY_NGHI.TAO_MOI_MODAL.SAVE" value="Save" data-bind="click: Create" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="NghiViecRieng" style="display:none">
    <table style="border-collapse:collapse; font-family:'Times New Roman';font-size:13pt;text-align:center">
        <tr>
            <td colspan="3" style="font-weight:bold" align="left">
                TRƯỜNG ĐẠI HỌC
            </td>
        </tr>
        <tr>
            <td colspan="3" align="left">
                <div style="border-top:1px solid;width:200px;text-align:left">   </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="font-size:18pt;font-weight:bold;padding-top:20px">
                ĐƠN XIN NGHỈ PHÉP
            </td>
        </tr>
        <tr>
            <td colspan="3" style="font-size:14pt; padding-top:20px;padding-left:30px;">
                <div style="text-align:left;font-weight:bold">Kính gửi: </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-top:20px;padding-bottom:10px;font-weight:bold">Họ và tên CBNV: <span data-bind="text: HoTen"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Chức vụ: <span data-bind="text: ChucVu"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Phòng/ Bộ phận:  <span data-bind="text: TenPhongBan"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Đơn vị: <span data-bind="text: DonVi"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Khối: <span data-bind="text: Khoi"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Mã số NV: <span data-bind="text: SoHieuCongChuc"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;font-weight:bold;border-bottom:2px solid;">
                Đề nghị được giải quyết nghỉ :
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-weight:bold;font-style:italic;border-bottom:1px solid;">Nội dung</td>
            <td style="text-align:left;padding-top:10px;font-weight:bold;font-style:italic;border-bottom:1px solid" colspan="2">Chi tiết số ngày nghỉ</td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-weight:bold;font-style:italic;border-bottom:1px solid;"> Nghỉ phép có hưởng lương (Phép năm)</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày phép năm: <span data-bind="text: SoNgayPhepNam"></span>  o. Số ngày đã sử dụng: <span data-bind="text: SoNgayPhepDaDung"></span>  <br> o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayPhepThucTe"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-top:10px;font-weight:bold;font-style:italic;border-bottom:1px solid;"> Nghỉ chế độ (hưởng nguyên lương)</td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ Kết hôn</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayKetHonToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayKetHonThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ con Kết hôn</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayConKetHonToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayConKetHonThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ tang</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayTangToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayTangThucTe"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-top:10px;font-weight:bold;font-style:italic;border-bottom:1px solid;"> Nghỉ hưởng BHXH </td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ Ốm ngắn ngày</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayOmNNToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayOmNNThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ Ốm dài ngày (Trên 60 ngày)</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayOmDNToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayOmDNThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ con Ốm</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayConOmToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayConOmThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ khám Thai</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayKhamThaiToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayKhamThaiThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ sảy Thai</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgaySayThaiToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgaySayThaiThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ sinh Con</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgaySinhConToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgaySinhConThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid;">- Nghỉ dưỡng Sức</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayDuongSucToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayDuongSucThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;border-bottom:1px solid;"> Nghỉ không hưởng lương</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid" colspan="2">o. Số ngày tối đa/lần: <span data-bind="text: SoNgayKhongLuongToiDa"></span>  o. Số ngày nghỉ thực tế: <span data-bind="text: SoNgayKhongLuongThucTe"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;border-bottom:1px solid;">Tổng số ngày nghỉ:</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;border-bottom:1px solid">Thời gian nghỉ:</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;border-bottom:1px solid">từ <span data-bind="text: TuNgayString"></span> đến <span data-bind="text: DenNgayString"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;" colspan="3"> Bàn giao công việc trước khi nghỉ phép cho người tiếp nhận</td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;" colspan="3">Người nhận bàn giao: <span data-bind="text: NguoiBanGiao"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;" colspan="3">Nội dung bàn giao: <span data-bind="text: DienGiai"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left; font-style:italic;padding-top:50px">
                Kính đề nghị chấp thuận,
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left; font-style:italic;padding-left:50px;padding-top:20px;">
                Ngày.......tháng......năm 20.....
            </td>
            <td style="text-align:center; font-style:italic;padding-top:20px;">Ngày.......tháng......năm 20.....</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left; font-weight:bold;padding-left:50px;text-decoration:underline">
                Trưởng đơn vị phê duyệt
            </td>
            <td style="text-align:center; font-weight:bold;text-decoration:underline">Người đề nghị</td>
        </tr>
    </table>
</div>

<div id="DonXinNghiNew" style="display:none">
    <table style="width:100px;float:left">
        <tr>
            <td align="left">
                <img src="../../../../Images/Logo_CB.png" />
            </td>
        </tr>
    </table>
    <table style="width:400px;float:right">
        <tr>
            <td style="font-weight:bold;padding-top:40px" align="center">
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;text-decoration:underline" align="center">
                Độc lập - Tự do - Hạnh phúc
            </td>
        </tr>
    </table>
    <table style="border-collapse:collapse; font-family:'Times New Roman';font-size:13pt;text-align:center;clear:both;">
        <tr>
            <td align="center" colspan="4" style="text-align:center;font-weight:bold;font-size:18pt;padding-top:20px;width:800px">
                ĐƠN XIN NGHỈ
            </td>
        </tr>
    </table>
    <table style="border-collapse:collapse; font-family:'Times New Roman';font-size:13pt;text-align:center;clear:both">
        <tr>
            <td colspan="3" style="font-size:14pt; padding-top:20px;padding-left:30px;">
                <div style="text-align:left;font-weight:bold">Kính gửi: </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-top:20px;padding-bottom:10px;font-weight:bold">Họ và tên CBNV: <span data-bind="text: HoTen"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Chức vụ: <span data-bind="text: ChucVu"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Phòng/ Bộ phận:  <span data-bind="text: TenPhongBan"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Đơn vị: <span data-bind="text: DonVi"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Khối: <span data-bind="text: Khoi"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;padding-bottom:10px;font-weight:bold">Mã số NV: <span data-bind="text: SoHieuCongChuc"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;font-weight:bold;border-bottom:2px solid;">
                Đề nghị được giải quyết nghỉ :
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;">Tên hình thức nghỉ:</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;" colspan="2"><span data-bind="text: TenHinhThucNghi"></span></td>
        </tr>

        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;">Tổng số ngày nghỉ: <span data-bind="text: SoNgay"></span></td>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;">Thời gian nghỉ:</td>
            <td style="text-align:left;padding-top:10px;font-style:italic;">từ <span data-bind="text: TuNgayString"></span> đến <span data-bind="text: DenNgayString"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;font-weight:bold;" colspan="3"> Bàn giao công việc trước khi nghỉ phép cho người tiếp nhận</td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;" colspan="3">Người nhận bàn giao: <span data-bind="text: NguoiBanGiao"></span></td>
        </tr>
        <tr>
            <td style="text-align:left;padding-top:10px;font-style:italic;" colspan="3">Nội dung bàn giao: <span data-bind="text: DienGiai"></span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left; font-style:italic;padding-top:10px">
                Kính đề nghị chấp thuận,
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left:30px; font-style:italic;padding-top:20px;">Ngày.......tháng......năm 20......</td>
            <td colspan="2" style="padding-left:60px; font-style:italic;padding-top:20px;">Ngày.......tháng......năm 20......</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-weight:bold;padding-left:30px;text-decoration:underline">
                Trưởng đơn vị phê duyệt
            </td>
            <td style="text-align:center; font-weight:bold;text-decoration:underline;padding-left:60px;">Người đề nghị</td>
        </tr>
    </table>
</div>

</div>