
<script type="text/javascript">
    var session= {};
    $(function () {
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../Default.html";
        //}
    });
</script>
<style type="text/css">
    .formGroup {
        padding: 10px 0px 0px 0px;
        margin: 0 auto;
    }

        .formGroup label {
            float: left;
            width: 120px;
        }

        .formGroup span {
            padding: 0px 10px;
        }

    .container {
        border: solid 1px #7F9DB9;
        width: 400px;
        height: 500px;
        overflow-y: scroll;
    }

    .form_checkbox {
        padding: 0 5px;
    }

    h3 {
        color: #3B6097;
    }

    .formEvent {
        float: right;
    }

        .formEvent a {
            color: #3B6097;
            width: 50px;
            float: left;
        }

    .validate {
        color: red;
    }
</style>
<script type="text/javascript">
    var month, year, status;
    function checkExits_KyChamCong(month, year, congTyId) {
        var check;
        $.ajax({
            type: 'POST',
            url: '/WebServices/CaChamCong_CheckExists',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ thang: month, nam: year, congTy: congTyId }),
            dataType: "json",
            async: false,
            success: function (result) {
                check = result;
            }
        });
        return check;
    }
    function viewModel() {
        var self = this;
        self.Year = ko.observable(new Date().getFullYear());
        self.HinhThucNghiList = ko.observableArray();
        self.hinhThucNghiSelected = ko.observable("");
        self.company = ko.observableArray();
        self.companySelected = ko.observable(null);
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser_New',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.company(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetListHinhThucNghi',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.HinhThucNghiList(obj);

            }
        });
    }
    viewModel.prototype = {
        save: function () {
            var self = this;

            if ($('#ddlMonth').val() == -1) {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.VUI_LONG_CHON_THANG"));
                $('#ddlMonth').focus();
                return;
            }
            if ($('#txtYear').val() == '') {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.VUI_LONG_NHAP_NAM"));
                $('#txtYear').focus();
                return;
            }
            if (isNaN($('#txtYear').val())) {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.NAM_KHONG_HOP_LE"));
                $('#txtYear').focus();
                return;
            }

            if (!checkExits_KyChamCong($('#ddlMonth').val(), $('#txtYear').val(), self.companySelected())) {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.KY_CHAM_CONG_THANG_CHUA_TAO", { thang: $('#ddlMonth').val(), nam: $('#txtYear').val() }));
                return;
            }

            //Mở img lên
            $('#prosess').show();

            setTimeout(function () {
            $.ajax({
                type: 'POST',
                url: '/WebServices/DoDuLieuChamCongThang',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: $('#ddlMonth').val(),
                    nam: $('#txtYear').val(),
                    idHinhThucNghi: self.hinhThucNghiSelected(),
                    webUserId: session.UserId,
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.DO_DU_LIEU_CHAM_CONG_THANH_CONG"));
                    $('#prosess').hide();
                }
            }), 0
            });
        },
        xoa: function () {
            var self = this;
            //
            if ($('#ddlMonth').val() == -1) {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.VUI_LONG_CHON_THANG"));
                $('#ddlMonth').focus();
                return;
            }
            if ($('#txtYear').val() == '') {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.VUI_LONG_NHAP_NAM"));
                $('#txtYear').focus();
                return;
            }
            if (isNaN($('#txtYear').val())) {
                alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.NAM_KHONG_HOP_LE"));
                $('#txtYear').focus();
                return;
            }
            //
            $.ajax({
                type: 'POST',
                url: '/WebServices/XoaDuLieuChamCongThang',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: $('#ddlMonth').val(),
                    nam: $('#txtYear').val(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    alert(dataLocalize("DO_DU_LIEU_CHAM_CONG_THANG.ALERT.XOA_DU_LIEU_CHAM_CONG_THANH_CONG"));
                    $('#prosess').hide();
                }
            })
        }
    };
    $(function () {
        var view = new viewModel();
        ko.applyBindings(view, $("#dodulieuchamcong")[0]);
    });
</script>
<div id="dodulieuchamcong">

    <div style="font-family:sans-serif; font-size:24px;color:cadetblue"><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.DO_DU_LIEU_CHAM_CONG_THANG">Đổ dữ liệu chấm công tháng</span></div>
    <!-- ko if: company().length > 1 -->
    <div class="formGroup">
        <label><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.TRUONG">Trường:</span></label>
        <div>
            <select style="width: 350px" data-bind="options: company, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: companySelected"></select>
        </div>
    </div>
    <!-- /ko -->
    <div class="formGroup">
        <label><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.THANG">Tháng:</span></label>
        <select id="ddlMonth" style="width: 200px;">
            <option value="-1" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG">---Tháng ---</option>
            <option value="1" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_1">Tháng 1</option>
            <option value="2" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_2">Tháng 2</option>
            <option value="3" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_3">Tháng 3</option>
            <option value="4" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_4">Tháng 4</option>
            <option value="5" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_5">Tháng 5</option>
            <option value="6" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_6">Tháng 6</option>
            <option value="7" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_7">Tháng 7</option>
            <option value="8" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_8">Tháng 8</option>
            <option value="9" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_9">Tháng 9</option>
            <option value="10" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_10">Tháng 10</option>
            <option value="11" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_11">Tháng 11</option>
            <option value="12" data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.COMBOBOX_THANG.THANG_12">Tháng 12</option>
        </select>
    </div>
    <div class="formGroup">
        <label><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.NAM">Năm</span></label>
        <input type="text" id="txtYear" data-bind="value: Year" style="width: 200px; padding:5px; height:32px;" maxlength="4" />
    </div>
    <div class="formGroup">
        <label><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.TRANG_THAI">Trạng thái:</span></label>
        <select data-bind="options:HinhThucNghiList, optionsText: 'TenHinhThucNghi', optionsValue: 'Oid',value:hinhThucNghiSelected"></select>
    </div>
    <div class="formGroup">
        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: save">
            <i class="btn-label glyphicon glyphicon-ok"></i><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.LUU">Lưu</span>
        </a>
        <a data-bind="click: xoa" class="btn btn-info" style="width: 158px;">
            <i class="btn-label glyphicon glyphicon-remove"></i><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.HUY">Hủy</span>
        </a>
    </div>
    <div class="formGroup">
        <span id="prosess" hidden style="font-weight:bold;font-size:16px;font-style:initial;color:blue"><span data-i18n="DO_DU_LIEU_CHAM_CONG_THANG.DANG_XU_LY_VUI_LONG_CHO">Đang xử lý vui lòng chờ ..........</span></span>
    </div>
</div>

