
<div class="col-lg-12 col-xs-12 col-sm-12">
    <div class="form-horizontal form-bordered">
        <div style="font-family: sans-serif; font-size: 24px; color: cadetblue; text-align: center;"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.CAP_NHAT_THONG_TIN_NGAY_PHEP_NAM">Cập nhật thông tin ngày phép năm</span></div>     

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_PHEP_NAM_TRUOC">Số ngày phép tồn năm trước:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaynamtruoc" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_DA_NGHI_QUY_I">Số ngày giảm trừ sau quý 1:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaydanghiqui1" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_NAM_HIEN_TAI">Số ngày phép năm nay:</span></label>
            <div class="col-sm-6">
                <input id="txtsongayhientai" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_CONG_THEM">Số ngày phép theo thâm niên:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaycongthem" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_TAM_UNG_NAM_TRUOC">Số ngày tạm ứng năm trước:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaytamungnamtruoc" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.TONG_SO_NGAY_PHEP_NAM">Tổng số ngày phép được sử dụng:</span></label>
            <div class="col-sm-6">
                <input id="txttongsongayphep" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_DA_NGHI">Số ngày phép đã nghỉ:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaydanghi" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_TAM_UNG_HIEN_TAI">Số ngày tạm ứng hiện tại:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaytamunghientai" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_CON_LAI">Số ngày phép còn lại:</span></label>
            <div class="col-sm-6">
                <input id="txtsongayconlai" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.SO_NGAY_BU_NAM_HIEN_TAI">Số ngày nghỉ bù năm hiện tại:</span></label>
            <div class="col-sm-6">
                <input id="txtsongaybunamhientai" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"></label>
            <div class="col-sm-6">
                <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: saveupdate">
                    <i class="btn-label glyphicon glyphicon-ok"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.UPDATE_HTML.LUU">Lưu</span>
                </a>
            </div>
        </div>
        <div class="form-group">
        </div>
    </div>
</div>