<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
    });
</script>

<script type="text/javascript">

    function ViewModel(datagrid) {
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.year = ko.observable(new Date().getFullYear());
        self.namhientai = ko.observable(new Date().getFullYear());
        self.department = ko.observableArray();
        self.departmentSelected = ko.observable(null);
        self.company = ko.observableArray();
        self.companySelected = ko.observable(null);
        self.tennamhochientai = ko.observable("");
        self.isEdit = ko.observable(false);
        self.WebGroupId = ko.observable(session.WebGroupId.toUpperCase());
        self.IsAdmin = ko.observable(0);
        self.namHoc = ko.observableArray();
        self.namHocHienTai = ko.observableArray();
        self.namHocSelected = ko.observable();
        self.nienDoTaiChinh = ko.observableArray();
        self.nienDoTaiChinhSelected = ko.observable();
        //
        if (self.WebGroupId() == "00000000-0000-0000-0000-000000000001"
            || self.WebGroupId() == "00000000-0000-0000-0000-000000000009") {
            self.IsAdmin = 1;
            //
        }
        //
        self.checkExits = function () {
            var check;

            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyNghiPhep_CheckExists',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    nienDoTaiChinh: self.nienDoTaiChinhSelected(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    check = result;
                }
            });
            return check;
        };
        // Năm học
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetNamHocList',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.namHoc(obj);
                if (obj.length > 0) {
                    self.namHocSelected(obj[0].Oid);
                }
            }
        });
        // Năm học hiện tại
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetNamHocHienTai',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                if (obj.Oid != null) {
                    self.namHocHienTai(obj.Oid);
                    self.namHocSelected(obj.Oid);
                    self.tennamhochientai(obj.TenNamHoc);
                }

            }
        });
        //Công ty
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser_New',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.company(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });
        //Phòng ban
        function GetDepartmentsOfUserAndCompany() {
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUserAndCompany',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({ userId: session.UserId, company: self.companySelected() }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    if (obj.length > 1)
                        obj.unshift({ Oid: '00000000-0000-0000-0000-000000000000', STT: 0, TenBoPhan: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TEN_BO_PHAN_TAT_CA") });
                    self.department(obj);
                    if (obj.length > 0) {
                        self.departmentSelected(obj[0].Oid);
                    }
                }
            });
        }
        GetDepartmentsOfUserAndCompany();
        self.companySelected.subscribe(function (value) {
            if (value != null) {
                GetDepartmentsOfUserAndCompany();
                GetNienDoTaiChinh();
            }
        });

        function GetNienDoTaiChinh() {
            // Niên độ tài chính
            $.ajax({
                type: 'POST',
                url: '/WebServices/GetNienDoTaiChinhList',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.nienDoTaiChinh(obj);
                    if (obj.length > 0) {
                        self.nienDoTaiChinhSelected(obj[0].Oid);
                    }
                    else {
                        self.nienDoTaiChinhSelected(null);
                    }
                }
            });
        }
        GetNienDoTaiChinh();

        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'MaQuanLy', type: 'string' },
                { name: 'HoTen', type: 'string' },
                { name: 'TenPhongBan', type: 'string' },
                { name: 'SoNgayPhepNamTruoc', type: 'string' },
                { name: 'SoNgayPhepNamHienTai', type: 'string' },
                { name: 'SoNgayPhepCongThem', type: 'string' },
                { name: 'TongSoNgayPhep', type: 'string' },
                { name: 'SoNgayPhepDaNghi', type: 'string' },
                { name: 'SoNgayPhepConLai', type: 'string' },
                { name: 'SoNgayPhepDaNghi_QuiI', type: 'string' },
                { name: 'TongSoNgayBu', type: 'string' },
                { name: 'SoNgayBuDaNghi', type: 'string' },
                { name: 'SoNgayBuConLai', type: 'string' },
                { name: 'SoNgayBuNamHienTai', type: 'string' },
                { name: 'SoNgayBuNamTruoc', type: 'string' }
            ],
            id: 'Id',
            url: "/WebServices/QuanLyNghiPhepNam_Find",
            formatdata: function (data) {
                return {
                    nienDoTaiChinh: self.nienDoTaiChinhSelected() == undefined ? null : self.nienDoTaiChinhSelected(),
                    bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    webGroup: self.WebGroupId,
                    congTy: self.companySelected()
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid({
            source: self.dataAdapter,
            width: '100%',
            selectionmode: 'checkbox',
            pageable: true,
            pagesize: 10,
            sortable: true,
            rowsheight: 50,
            columnsheight: 50,
            filterable: true,
            autorowheight: true,
            autoheight: true,
            theme: "darkBlue",
            columns: [
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.STT"), columntype: 'number', width: 45, editable: false, cellsrenderer: function (row, column, value) {
                        return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                    }
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.MA_NHAN_SU"), datafield: 'MaQuanLy', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.HO_TEN"), datafield: 'HoTen', width: 180, align: 'center'
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.DON_VI"), datafield: 'TenPhongBan', width: 250, align: 'center'
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_NAM_TRUOC"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepNamTruoc', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_BU_NAM_TRUOC"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayBuNamTruoc', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_CONG_THEM"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepCongThem', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_HIEN_TAI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepNamHienTai', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_PHEP_DA_NGHI_QUI_1"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepDaNghi_QuiI', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.TONG_SO_NGAY_PHEP"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'TongSoNgayPhep', width: 120, align: 'center', cellsalign: "middle",
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_DA_NGHI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepDaNghi', width: 100, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_CON_LAI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayPhepConLai', width: 100, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.TONG_SO_NGAY_BU"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'TongSoNgayBu', width: 120, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_BU_DA_NGHI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayBuDaNghi', width: 100, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_BU_CON_LAI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayBuConLai', width: 100, align: 'center', cellsalign: "middle"
                },
                {
                    text: dataLocalize("QUAN_LY_NGHI_PHEP_NAM.TABLE.SO_NGAY_BU_NAM_HIEN_TAI"),
                    renderer: function (text, align) {
                        return '<div class="jqx-grid-cell-child">' + text + '</div>';
                    },
                    datafield: 'SoNgayBuNamHienTai', width: 100, align: 'center', cellsalign: "middle"
                }
            ]
        });
        self.datagrid.jqxGrid('rendered', function () {
            self.datagrid.jqxGrid('localizestrings', jqxLocalization());
        });
    }
    ViewModel.prototype = {
        daysInMonth: function (month, year) {
            return new Date(year, month, 0).getDate();
        },
        validate: function () {
            var self = this;
            if (isNaN(self.year()) || self.year() < 0) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.NAM_KHONG_HOP_LE"));
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        chotdaunam: function () {
            var self = this;
            if (self.nienDoTaiChinhSelected() == null) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.VUI_LONG_CHON_NIEN_DO_TAI_CHINH"));
                return;
            }
            //
            if (self.namHocSelected() != self.namHocHienTai()) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHI_DUOC_KET_CHUYEN_NAM_HOC", { TenNamHoc: self.tennamhochientai() })); return; }

            var message = confirm(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.CONFIRM.BAN_CO_CHAC_TAO_HAY_KHONG"));
            if (message == false) { return; }
           //
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyNghiPhepNam_Create',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    nienDoTaiChinh: self.nienDoTaiChinhSelected(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    //
                    if (obj.message == 'success') {
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.KET_CHUYEN_THANH_CONG"));
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                    else {
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.KET_CHUYEN_THAT_BAI"));
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                }
            });
        },
        huychot: function () {
            var self = this;
            if (self.nienDoTaiChinhSelected() == null) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.VUI_LONG_CHON_NIEN_DO_TAI_CHINH"));
                return;
            }
            if (!self.checkExits()) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHUA_KET_CHUYEN_NGAY_NGHI_DAU_NAM"));
                return;
            }

            //
            if (self.namHocSelected() != self.namHocHienTai()) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHI_DUOC_HUY_NAM_HOC", { TenNamHoc: self.tennamhochientai() })); return; }

            //
            var message = confirm(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.CONFIRM.BAN_CO_CHAC_HUY_HAY_KHONG"));
            if (message == false) { return; }
            //
            if (self.year() < self.namhientai()) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.NAM_KHONG_HOP_LE2", { TenNamHoc: self.year() })); return; }

            //
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyNghiPhepNam_Remove',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    nienDoTaiChinh: self.nienDoTaiChinhSelected(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    //
                    if (obj.message == 'success') {
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.HUY_THANH_CONG"));
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                    else {
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.HUY_THAT_BAI"));
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                }
            });
        },
        capnhatngaynghi: function () {
            var self = this;
            if (self.nienDoTaiChinhSelected() == null) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.VUI_LONG_CHON_NIEN_DO_TAI_CHINH"));
                return;
            }
            //
            if (self.namHocSelected() != self.namHocHienTai()) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHI_DUOC_TINH_NAM_HOC", { TenNamHoc: self.tennamhochientai() })); return; }
            //
            var message = confirm(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.CONFIRM.BAN_CO_CHAC_CAP_NHAT_HAY_KHONG"));
            if (message == false) { return; }
            //
            if (!self.checkExits()) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHUA_KET_CHUYEN_NGAY_NGHI_DAU_NAM"));
                return;
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyNghiPhepNam_Update',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        nienDoTaiChinh: self.nienDoTaiChinhSelected(),
                        congTy: self.companySelected()
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        var obj = result;
                        //
                        if (obj.message == 'success') {
                            alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CAP_NHAT_THANH_CONG"));
                            self.datagrid.jqxGrid('updatebounddata');
                        }
                        else {
                            alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CAP_NHAT_THAT_BAI"));
                            self.datagrid.jqxGrid('updatebounddata');
                        }
                    }
                });
            }
        },
        update: function () {

            var self = this;
            //
            if (self.namHocSelected() != self.namHocHienTai()) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHI_DUOC_CAP_NHAT_NAM_HOC", { TenNamHoc: self.tennamhochientai() })); return; }
            //
            var getselectedrow_edit = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrow_edit[0]);

            if (getselectedrow_edit.length == 0) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHUA_CO_DONG_NAO_DUOC_CHON"));
                return;
            }
            else if (getselectedrow_edit.length > 1) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHON_QUA_NHIEU_DONG"));
                return;
            }
            //
            $.get('/app/views/chamcong/QuanLyChamCong/QuanLyNghiPhepNam_Update.html', function (data) {
                $('#popupWindowQLNghiPhepNamEdit').html(data);
                ko.cleanNode($('#popupWindowQLNghiPhepNamEdit')[0]);
                $('#popupWindowQLNghiPhepNamEdit').kendoWindow({
                    width: "50%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "20%"
                    }

                });
                //
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyNghiPhepNam_GetByID',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: selectedrow.Oid }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        //
                        $("#txttongsongayphep").val(obj.TongSoNgayPhep);
                        $("#txtsongaynamtruoc").val(obj.SoNgayPhepNamTruoc);
                        $("#txtsongayhientai").val(obj.SoNgayPhepNamHienTai);
                        $("#txtsongaycongthem").val(obj.SoNgayPhepCongThem);
                        $("#txtsongaydanghi").val(obj.SoNgayPhepDaNghi);
                        $("#txtsongayconlai").val(obj.SoNgayPhepConLai);
                        $("#txtsongaydanghiqui1").val(obj.SoNgayPhepDaNghi_QuiI);
                        $("#txtsongaytamungnamtruoc").val(obj.SoNgayTamUngNamTruoc);
                        $("#txtsongaytamunghientai").val(obj.SoNgayTamUngHienTai);
                        $("#txtsongaybunamhientai").val(obj.SoNgayBuNamHienTai);
                    }
                });
                //
                $('#popupWindowQLNghiPhepNamEdit').data("kendoWindow").open();
                //
                ko.applyBindings(self, document.getElementById('popupWindowQLNghiPhepNamEdit'));

            });
        },
        saveupdate: function () {

            var self = this;//
            //
            if ($("#txtsongaytamunghientai").val() > 0 &&
                $("#txtsongayconlai").val() > 0) { alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHUA_HET_PHEP_KHONG_THE_TAM_UNG")); return; }
            //
            var getselectedrow_edit = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrow_edit[0]);

            if (getselectedrow_edit.length == 0) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHUA_CO_DONG_NAO_DUOC_CHON"));
                return;
            }
            else if (getselectedrow_edit.length > 1) {
                alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CHON_QUA_NHIEU_DONG"));
                return;
            }
            //
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyNghiPhepNam_Save',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    Oid: selectedrow.Oid,
                    TongSoNgayPhep: $("#txttongsongayphep").val(),
                    SoNgayPhepCongThem: $("#txtsongaycongthem").val(),
                    SoNgayPhepNamTruoc: $("#txtsongaynamtruoc").val(),
                    SoNgayTamUngHienTai: $("#txtsongaytamunghientai").val(),
                    SoNgayBuNamHienTai: $("#txtsongaybunamhientai").val()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    if (obj.message == "success") {
                        //
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CAP_NHAT_THANH_CONG"));
                        $("#popupWindowQLNghiPhepNamEdit").data("kendoWindow").close();
                        self.datagrid.jqxGrid('updatebounddata');
                        self.datagrid.jqxGrid('clearselection');
                    }
                    else {
                        alert(dataLocalize("QUAN_LY_NGHI_PHEP_NAM.ALERT.CAP_NHAT_THAT_BAI"));
                    }
                }
            });
        },
        excel: function () {

            var self = this;
            //var arr = new Array();
            ////
            //var rows = self.datagrid.jqxGrid('getrows');
            //for (var i = 0; i < 10; i++) {
            //    var item = rows[i];
            //    arr.push({
            //        MaQuanLy: item.MaQuanLy,
            //        HoTen: item.HoTen,
            //        TenPhongBan: item.TenPhongBan,
            //        TongSoNgayPhep: item.TongSoNgayPhep,
            //        SoNgayPhepDaNghi: item.SoNgayPhepDaNghi,
            //        SoNgayPhepConLai: item.SoNgayPhepConLai
            //    });
            //}
            this.datagrid.jqxGrid('exportdata', 'xls', dataLocalize("QUAN_LY_NGHI_PHEP_NAM.QUAN_LY_NGHI_PHEP_NAM"), true);
        }
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#QuanLyNghiPhepNam")[0]);
    });
</script>
<style type="text/css">
    .jqx-grid-header {
        height: 50px !important;
    }
</style>
<div id="QuanLyNghiPhepNam">
    <div class="alert alert-info" style="height:36px; background-color:#00234e; border-color:#000000"><h4><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.QUAN_LY_NGHI_PHEP_NAM">QUẢN LÝ NGHỈ PHÉP NĂM</span></h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div data-bind="if:IsAdmin == '1'">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: chotdaunam">
                            <i class="btn-label glyphicon glyphicon-tags"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.KET_CHUYEN">Kết chuyển</span>
                        </a>
                    </div>
                </div>
                <div data-bind="if:IsAdmin == '1'">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: huychot">
                            <i class="btn-label glyphicon glyphicon-remove"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.HUY">Hủy</span>
                        </a>
                    </div>
                </div>
                <div data-bind="if:IsAdmin == '1'">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: capnhatngaynghi">
                            <i class="btn-label glyphicon glyphicon-upload"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.TINH_NGAY_PHEP">Tính ngày phép</span>
                        </a>
                    </div>
                </div>
                <div data-bind="if:IsAdmin == '1'">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: update">
                            <i class="btn-label glyphicon glyphicon-pencil"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.CAP_NHAT">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-info" style="width: 150px;" data-bind="click: excel">
                        <i class="btn-label glyphicon glyphicon-random"></i><span data-i18n="QUAN_LY_NGHI_PHEP_NAM.XUAT_EXCEL">Xuất Excel</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <!--<select data-bind="options:namHoc, optionsText: 'TenNamHoc', optionsValue: 'Oid',value:namHocSelected"></select>-->
        <select data-bind="options:nienDoTaiChinh, optionsText: 'TenNienDo', optionsValue: 'Oid',value:nienDoTaiChinhSelected"></select>
        <!-- ko if: company().length > 1 -->
        <select style="width: 250px" data-bind="options: company, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: companySelected"></select>
        <!-- /ko -->
        <select style="width: 300px" data-bind="options: department, optionsText: function (type) { return type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected"></select>
        <input type="button" data-i18n="[value]QUAN_LY_NGHI_PHEP_NAM.TIM" value="Tìm" data-bind="click:search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
    <div id="popupWindowQLNghiPhepNamEdit"></div>
</div>

