<script type="text/javascript">
    function getDaysInMonth(m, y) {
        var daysArray = [];
        daysInWeek = ['<span style="color:red">CN</span>', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'];
        daysIndex = { 'Sun': 0, 'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6 };
        index = daysIndex[(new Date(y, m - 1, 1)).toString().split(' ')[0]];
        var numDaysInMonth = /8|3|5|10/.test(--m) ? 30 : m == 1 ? (!(y % 4) && y % 100) || !(y % 400) ? 29 : 28 : 31;
        for (i = 0, l = numDaysInMonth  ; i < l  ; i++) {
            daysArray.push((i + 1) + '<br/>' + daysInWeek[index++]);
            if (index == 7) index = 0;
        }
        return daysArray;
    }
    function ViewModel() {
        var self = this;
        self.IsAdmin = ko.observable(null);

        //
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        self.CheckChot = ko.observable();
        self.staffDepartment = ko.observable();
        self.HinhThucNghiListForUpdate = ko.observableArray([]);
        self.day = ko.observable(new Date().getDate()),
        self.month = ko.observable(new Date().getMonth() + 1);
        self.year = ko.observable(new Date().getFullYear());
        self.department = ko.observableArray();
        self.departmentSelected = ko.observable(null);
        self.company = ko.observableArray();
        self.companySelected = ko.observable(null);
        self.loaiNhanSu = ko.observableArray();
        self.loaiNhanSuSelected = ko.observable();
        self.name = ko.observable("");
        self.items = ko.observableArray();
        self.dayInMonth = ko.observableArray();
        self.numDay = ko.observable();
        self.webGroupId = ko.observable(session.WebGroupId.toUpperCase());
        self.TongCong = ko.observable();
        //
        self.daylength = ko.observable(0);
        self.spanlength = ko.observable(0);
        self.days = ko.observableArray([]);

        // Lấy các quyền quản trị trường
        if (self.webGroupId() == "00000000-0000-0000-0000-000000000009" || self.webGroupId() == "00000000-0000-0000-0000-000000000001")
            self.IsAdmin(true);
        else
            self.IsAdmin(false);
        //

        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser_New',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.company(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });
        function GetDepartmentsOfUserAndCompany() {
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUserAndCompany',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({ userId: session.UserId, company: self.companySelected() }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.department(obj);
                    if (obj.length > 0) {
                        self.departmentSelected(obj[0].Oid);
                    }
                }
            });
        }
        GetDepartmentsOfUserAndCompany();
        self.companySelected.subscribe(function (value) {
            if (value != null) {
                GetDepartmentsOfUserAndCompany();
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetListHinhThucNghiForUpdate',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.HinhThucNghiListForUpdate(obj);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_LoaiNhanSu',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.loaiNhanSu(obj);
                if (obj.length > 0)
                    self.loaiNhanSuSelected(obj[0].Oid);
            }
        });
        self.search();
    };
    ViewModel.prototype = {
        search: function () {
            var self = this;
            //
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_CheckChot',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: self.month(),
                    nam: self.year(),
                    boPhanId: self.departmentSelected(),
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    self.CheckChot(result);
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_ChamCongThang',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({
                    thang: self.month(),
                    nam: self.year(),
                    bophanId: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    maNhanSu: self.name(),
                    idLoaiNhanSu: self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected(),
                }),
                async: false,
                success: function (result) {
                    var data = result;
                    //
                    self.items(data);
                    self.dayInMonth(getDaysInMonth(self.month(), self.year()));
                    self.numDay(self.dayInMonth().length);
                    //
                }
            });
            //var model = new ViewModel($("#jqxgrid"));
            //ko.applyBindings(model, $("#tableCC")[0]);

            $.ajax({
                type: 'POST',
                url: '/WebServices/GetList_NgayTrongKyChamCong',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: self.month(),
                    nam: self.year(),
                    bophanId: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    webGroupId: self.webGroupId()
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    data = result;
                    //
                    if (data != null) {
                        self.days(data);
                        self.daylength(data.length);
                        self.spanlength(data.length + 7);
                    }
                }
            });
        },
        daysInMonth: function (month, year) {
            return new Date(year, month, 0).getDate();
        },
        print: function () {
            var self = this;
            window.open("/ExcelExport/InBangCong.ashx?thang=" + self.month() + "&nam=" + self.year() + "&bophanId=" + self.departmentSelected() + "&idNhanVien=" + session.Id + "&webGroupId=" + session.WebGroupId + "&userId=" + session.UserId);
        },
        printall: function () {
            var self = this;
            window.open("/ExcelExport/InBangCongAll.ashx?thang=" + self.month() + "&nam=" + self.year() + "&congTy=" + self.companySelected() + "&userId=" + session.UserId);
        },
        detail: function () {
            var self = this;
            if (self.webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21') {
                if (self.departmentSelected() == undefined) {
                    alert(dataLocalize("XEM_THONG_TIN_CHAM_CONG.ALERT.VUI_LONG_CHON_PHONG_BAN"));
                    return;
                }
            }
            $.get('/app/views/chamcong/QuanLyChamCong/Detail.html', function (data) {
                $('#popupWindowPrint').html(data);
                ko.cleanNode($('#popupWindowPrint')[0]);
                $('#popupWindowPrint').kendoWindow({
                    width: "80%",
                    title: dataLocalize("XEM_THONG_TIN_CHAM_CONG.JS.CHI_TIET_CHAM_CONG"),
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "10%"
                    }

                });
                $('#popupWindowPrint').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_ChamCongThang',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected(),
                        maNhanSu: self.name(),
                        idLoaiNhanSu: self.loaiNhanSuSelected(),
                    }),
                    async: false,
                    success: function (result) {
                        var model = new viewModel(result, self.departmentSelected(), self.month(), self.year());
                        ko.applyBindings(model, document.getElementById('popupWindowPrint'));
                    }
                });
            });
            //var url = "Detail.aspx?PhongBan=" + self.departmentSelected() + "&IdLoaiNhanSu=" + (self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected()) + "&Thang=" + self.month() + "&Nam=" + self.year() + "&Value=" + self.name();
            //var Width = 800, Height = 700;
            //var OffsetHeight = document.body.offsetHeight;
            //var OffsettWidth = document.body.offsetWidth;
            //var objWindow = window.open(url, "", "width=" + Width + ",height=" + Height + ",resizable=1,scrollbars=yes,location=0");
            //objWindow.moveTo((OffsettWidth - Width) / 2, (OffsetHeight - Height) / 2);

        },
        chart: function () {
            var self = this;
            if (self.webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21') {
                if (self.departmentSelected() == undefined) {
                    alert(dataLocalize("XEM_THONG_TIN_CHAM_CONG.ALERT.VUI_LONG_CHON_PHONG_BAN"));
                    return;
                }
            }
            $.get('/app/views/chamcong/QuanLyChamCong/XemBCCChart.html', function (data) {
                $('#popupWindowXemBCCChart').html(data);
                ko.cleanNode($('#popupWindowXemBCCChart')[0]);
                $('#popupWindowXemBCCChart').kendoWindow({
                    width: "80%",
                    //height: "70%",
                    //title: "Biểu đồ chấm công",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    },
                    close: function (e) {
                        $(this.element).empty();
                    }
                });
                $('#popupWindowXemBCCChart').data("kendoWindow").open();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/GetPhongBan_ById',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected() }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        self.TenPhongBan = obj.TenBoPhan;
                    }
                });
                //Quét 2 lần
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_BieuDo',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        ngay: self.day(),
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected(),
                    }),
                    async: false,
                    success: function (result) {
                        self.chartData = result;
                        $(self.chartData).each(function (index, value) {
                            value.HoTen = value.HoTen + (value.SoHieuCongChuc ? " (" + value.SoHieuCongChuc + ")" : "");
                            if (value.GioVao == null && value.GioRa == null)
                                return;
                            var gioVao = value.GioVao;
                            var gioRa = value.GioRa;

                            if (gioVao != null) {
                                value.GioVao = formatHour(gioVao);
                            } else if (gioVao == null && gioRa != null) {
                                value.GioVao = formatHour(gioRa);
                            }

                            if (gioRa != null) {
                                value.GioRa = formatHour(gioRa);
                            } else if (gioRa == null && gioVao != null) {
                                value.GioRa = formatHour(gioVao);
                            }
                        });

                    }
                });
                //QUét 4 lần
                //$.ajax({
                //    type: 'POST',
                //    url: '/WebServices/QuanLyChamCong_BieuDo',
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    data: ko.toJSON({
                //        ngay: self.day(),
                //        thang: self.month(),
                //        nam: self.year(),
                //        bophanId: self.departmentSelected()
                //    }),
                //    async: false,
                //    success: function (result) {
                //        self.chartData = result;
                //        $(self.chartData).each(function (index, value) {
                //            value.HoTen = value.HoTen + (value.SoHieuCongChuc ? " (" + value.SoHieuCongChuc + ")" : "");
                //            var gioVaoSang = value.GioVaoSang;
                //            var gioRaSang = value.GioRaSang;
                //            var gioVaoChieu = value.GioVaoChieu;
                //            var gioRaChieu = value.GioRaChieu;

                //            if (gioVaoSang != null) {
                //                value.GioVaoSang = formatHour(gioVaoSang);
                //            } else if (gioVaoSang == null && gioRaSang != null) {
                //                value.GioVaoSang = formatHour(gioRaSang);
                //            }

                //            if (gioRaSang != null) {
                //                value.GioRaSang = formatHour(gioRaSang);
                //            }
                //            else if (gioRaSang == null && gioVaoSang != null) {
                //                value.GioRaSang = formatHour(gioVaoSang);
                //            }

                //            if (gioVaoChieu != null) {
                //                value.GioVaoChieu = formatHour(gioVaoChieu);
                //            }
                //            else if (gioVaoChieu == null && gioRaChieu != null) {
                //                value.GioVaoChieu = formatHour(gioRaChieu);
                //            }

                //            if (gioRaChieu != null) {
                //                value.GioRaChieu = formatHour(gioRaChieu);
                //            } else if (gioRaChieu == null && gioVaoChieu != null) {
                //                value.GioRaChieu = formatHour(gioVaoChieu);
                //            }
                //        });

                //    }
                //});
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/GetPhongBan_ById',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected() }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        self.phongban = obj.TenBoPhan;
                    }
                });
                $("#popupWindowXemBCCChart").css("height", $(window).height() - ($(window).height() * 30 / 100));
                var model = new chart_Model(self.chartData, self.phongban, self.day(), self.month(), self.year());
                ko.applyBindings(model, document.getElementById('popupWindowXemBCCChart'));

            });
        }
    };
    $(function () {
        var model = new ViewModel();
        ko.applyBindings(model, $("#xembangchamcong")[0]);
    });
</script>
<div id="xembangchamcong">
    <div class="alert alert-info" style="height:36px; background-color:#00234e; border-color:#000000"><h4><span data-i18n="XEM_THONG_TIN_CHAM_CONG.XEM_THONG_TIN_CHAM_CONG">XEM THÔNG TIN CHẤM CÔNG</span></h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: print">
                            <i class="btn-label glyphicon glyphicon-print"></i><span data-i18n="XEM_THONG_TIN_CHAM_CONG.IN">In</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: chart">
                            <i class="btn-label glyphicon glyphicon-stats"></i><span data-i18n="XEM_THONG_TIN_CHAM_CONG.BIEU_DO">Biểu đồ</span>
                        </a>
                    </div>
                    <div data-bind="if:IsAdmin">
                        <div class="col-lg-2 col-xs-12 col-sm-6">
                            <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: printall">
                                <i class="btn-label glyphicon glyphicon-print"></i><span data-i18n="XEM_THONG_TIN_CHAM_CONG.IN_TAT_CA">In Tất cả</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <input type="text" data-i18n="[placeholder]XEM_THONG_TIN_CHAM_CONG.NGAY" placeholder="ngày" data-bind="value: day" style="width: 50px; height:32px; text-align: center;" maxlength="2" />

        <input type="text" data-i18n="[placeholder]XEM_THONG_TIN_CHAM_CONG.THANG"  placeholder="tháng" data-bind="value: month" style="width: 50px;height:32px; text-align: center" maxlength="2" />
        -
        <input type="text" data-i18n="[placeholder]XEM_THONG_TIN_CHAM_CONG.NAM" placeholder="năm" data-bind="value: year" style="width: 50px;height:32px; text-align: center" maxlength="4" />
        <!-- ko if: company().length > 1 -->
        <select style="width: 250px" data-bind="options: company, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: companySelected"></select>
        <!-- /ko -->
        <select style="width: 250px" data-bind="options: department, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected"></select>
        <select hidden data-bind="options: loaiNhanSu, optionsText: 'TenLoaiNhanSu', optionsValue: 'Oid', value: loaiNhanSuSelected"></select>
        <input type="text" data-i18n="[placeholder]XEM_THONG_TIN_CHAM_CONG.MA_NHAN_SU" placeholder="Mã nhân sự" data-bind="value: name, visible: webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21'" style="width: 150px; height:32px; padding-left:5px;" />
        <input type="button" data-i18n="[value]XEM_THONG_TIN_CHAM_CONG.TIM" value="Tìm" data-bind="click: search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px; overflow-x:scroll">
        <table id="tableCC" border="1" cellpadding="1" cellspacing="0" style="padding:5px;width:1300px; background-color:white;">
            <thead>
                <tr style="height: 30px;">
                    <th style="width: 25px;padding:5px;text-align:center;" rowspan="2"><span data-i18n="XEM_THONG_TIN_CHAM_CONG.TABLE.STT">STT</span></th>
                    <th style="width: 150px;padding:5px;text-align:center;" rowspan="2"><span data-i18n="XEM_THONG_TIN_CHAM_CONG.TABLE.HO_TEN">Họ tên</span></th>
                    <!--<th style="width: 50px;padding:5px;text-align:center;" rowspan="2">Tên</th>-->
                    <th style="width: 200px;padding:5px;text-align:center;" rowspan="2"><span data-i18n="XEM_THONG_TIN_CHAM_CONG.TABLE.TEN_DON_VI">Tên đơn vị</span></th>
                    <!--<th style="width: 100px;padding:5px;text-align:center;" rowspan="2">Tên ca</th>-->
                    <!--<th data-bind="attr: { colspan: numDay }" style="padding:5px;text-align:center;">Ngày trong tháng</th>-->
                    <th style="text-align:center" data-bind="attr: { colspan: $root.daylength }"><span data-i18n="XEM_THONG_TIN_CHAM_CONG.TABLE.NGAY_TRONG_THANG">Ngày trong tháng</span></th>
                    <!-- ko if: CheckChot -->
                    <th rowspan="2" style="padding:5px;text-align:center;">HL</th>
                    <th rowspan="2" style="padding:5px;text-align:center;">BH</th>
                    <th rowspan="2" style="padding:5px;text-align:center;">NP</th>
                    <th rowspan="2" style="padding:5px;text-align:center;">KL</th>
                    <th rowspan="2" style="padding:5px;text-align:center;">Tổng</th>
                    <!-- /ko -->
                </tr>
                <!--<tr data-bind="foreach: dayInMonth">
                    <td data-bind="html: $data" style="padding:1px;text-align:center;"></td>
                </tr>-->
                <tr>
                    <!-- ko foreach: $root.days -->
                    <!-- ko if:T7CN -->
                    <td style="width: 25px; background-color: lightgrey;color:red" data-bind="html: $data.Ngay + '<br>' + $data.Thu" align="center"></td>
                    <!-- /ko -->
                    <!-- ko if:!T7CN -->
                    <td style="width: 25px;" data-bind="html: $data.Ngay + '<br>' + $data.Thu" align="center"></td>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td align="center" data-bind="text: $index() + 1"></td>
                    <td style="padding:5px;width:150px;"><span data-bind="text: HoTen"></span></td>
                    <!--<td style="padding:5px;width:50px;"><span data-bind="text: Ten"></span></td>-->
                    <td style="padding:5px;width:200px;"><span data-bind="text: TenDonVi"></span></td>
                    <!--<td style="padding:5px;width:100px;"><span data-bind="text: TenCa"></span></td>-->
                    <!-- ko if:LaNhanVienToChucHanhChinh -->
                    <!-- ko foreach: ChiTietChamCong -->
                    <td align="center" style="padding:0;margin:0;font-weight:bold">
                        <!--ko if:$data.MaHinhThucNghi == '' -->
                        <div style="width: 100%; height: 100%; background-color: #FF9393">&nbsp;</div>
                        <!-- /ko -->
                        <span data-bind="text: $data.MaHinhThucNghi"></span>
                    </td>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !LaNhanVienToChucHanhChinh -->
                    <!-- ko foreach: ChiTietChamCong -->
                    <td align="center" style="padding:0;margin:0">
                        <!--ko if:$data.MaHinhThucNghi == '' -->
                        <div style="width: 100%; height: 100%; background-color: #FF9393">&nbsp;</div>
                        <!-- /ko -->
                        <span data-bind="text: $data.MaHinhThucNghi"></span>
                    </td>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $parent.CheckChot -->
                    <td data-bind="text:NgayHuongLuong" style="font-weight: bold; text-align: center"></td>
                    <td data-bind="text:NgayHuongBHXH" style="font-weight: bold; text-align: center"></td>
                    <td data-bind="text:NgayPhep" style="font-weight: bold;text-align: center;"></td>
                    <td data-bind="text:NgayKhongLuong" style="font-weight: bold;text-align: center;"></td>
                    <!--<td data-bind="text:NghiKhongLuong" style="font-weight: bold;text-align: center;"></td>-->
                    <td data-bind="text:TongCong" style="font-weight: bold;text-align: center;"></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 100%;" align="left">
        <div style="font-family: Tahoma,Arial; font-size: 10pt; padding-top: 10px;" align="left">
            <span style="font-weight: bold;" data-i18n="XEM_THONG_TIN_CHAM_CONG.GHI_CHU">Ghi chú:</span><br />
            <table style="float: left; width:33%">
                <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                    <!-- ko if: $index() < 8  -->
                    <tr>
                        <td data-bind="html: $data.KyHieu"></td>
                        <td>:</td>
                        <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
            <table style="float: left; width:33%">
                <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                    <!-- ko if: ($index() >=8) && ($index() < 16) -->
                    <tr>
                        <td data-bind="html: $data.KyHieu"></td>
                        <td>:</td>
                        <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
            <table style="float: left; width:33%">
                <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                    <!-- ko if: $index() >= 16-->
                    <tr>
                        <td data-bind="html: $data.KyHieu"></td>
                        <td>:</td>
                        <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
</div>

<div id="popupWindowPrint"></div>
<div id="popupWindowXemBCCChart"></div>