<div>
    <form class="form-horizontal" name="GroupDanhGiaDetailsChiForm" role="form" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Phân công giảng dạy</h3>
        </div>
        <div class="modal-body" style="display:flow-root">
            <div class="col-12">
                <div>Môn học: {{BoMonPhanCong.TenMonHoc}} - Mã học phần: {{BoMonPhanCong.MaMonHoc}} - Lớp học phần: {{BoMonPhanCong.LopHocPhan}}</div>
            </div>
            <div class="col-12 margin-top-5">
                <div>Phân công cho giảng viên: </div>
                <select kendo-drop-down-list
                        k-options="ListGiangVienOption"
                        k-filter="'contains'"
                        style="width: 100%; background-color:lightblue"
                        ng-model="GiangVietSelected">
                </select>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" style="cursor:pointer" ng-click="Save()" ng-disabled="ChiTietDanhGiaForm.$invalid">Lưu</button>
            <button class="btn btn-warning" style="cursor:pointer" ng-click="$dismiss()">Thoát</button>
        </div>
    </form>
</div>