
<html>
<head>
</head>
<body>
    <div style="float: right;">
        <!-- ko if: HinhAnh != null -->
        <!--<img width="120" data-bind="attr:{src: '/Services/FetchImageFTP.ashx?path=' + HinhAnh}" />-->
        <img width="120" data-bind="attr:{src: HinhAnh}" />
        <!-- /ko -->
    </div>
    <div style="float: left;"> 
        <div class="hrm_content1">
            <div class="hrm_subtitle1">
                Hồ Sơ Cá Nhân 
            </div>
            <div class="hrm_line">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Họ và tên:
                </div>
                <div class="hrm_middle" data-bind="text: HoTen">
                </div>
            </div>

            <div class="hrm_clear1">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tên gọi khác:
                </div>
                <div class="hrm_right"
                     data-bind="text: TenGoiKhac">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Giới tính:
                </div>
                <div class="hrm_middle"
                     data-bind="text: GioiTinh">
                </div>
            </div>
            <div class="hrm_clear1">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày sinh:
                </div>
                <div class="hrm_middle"
                     data-bind="text: NgaySinh == null ? '' : formatDate(new Date(NgaySinh))">
                </div>
            </div>
            <div class="hrm_clear1">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Nơi sinh:
                </div>
                <div class="hrm_middle"
                     data-bind="text: NoiSinh">
                </div>
            </div>
            <!--<div class="hrm_clear1">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Quê quán:
                </div>
                <div class="hrm_middle"
                     data-bind="text: QueQuan">
                </div>
            </div>-->
            <div class="hrm_clear1">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Dân tộc:
                </div>
                <div class="hrm_middle"
                     data-bind="text: DanToc">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Chiều cao:
                </div>
                <div class="hrm_right"
                     data-bind="text: ChieuCao + ' m'">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Cân nặng:
                </div>
                <div class="hrm_right"
                     data-bind="text: CanNang + ' kg'">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tình trạng sức khoẻ:
                </div>
                <div class="hrm_right"
                     data-bind="text: TinhTrangSucKhoe">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Nhóm máu:
                </div>
                <div class="hrm_right"
                     data-bind="text: NhomMau">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tôn giáo:
                </div>
                <div class="hrm_right"
                     data-bind="text: TonGiao">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Địa chỉ thường trú:
                </div>
                <div class="hrm_right"
                     data-bind="text: DiaChiThuongTru">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Nơi ở hiện nay:
                </div>
                <div class="hrm_right"
                     data-bind="text: NoiOHienNay">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Số CMND:
                </div>
                <div class="hrm_right"
                     data-bind="text: SoCMND">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày cấp:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayCap == null ? '' : formatDate(new Date(NgayCap))">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Nơi cấp:
                </div>
                <div class="hrm_right"
                     data-bind="text: NoiCap">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Quốc tịch:
                </div>
                <div class="hrm_right"
                     data-bind="text: QuocTich">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Tình trạng hôn nhân:
                </div>
                <div class="hrm_right"
                     data-bind="text: TinhTrangHonNhan">
                </div>
            </div>
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Thành phần xuất thân:
                </div>
                <div class="hrm_right"
                     data-bind="text: ThanhPhanXuatThan">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ưu tiên gia đình:
                </div>
                <div class="hrm_right"
                     data-bind="text: UuTienGiaDinh">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ưu tiên bản thân:
                </div>
                <div class="hrm_right"
                     data-bind="text: UuTienBanThan">
                </div>
            </div>-->
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Điện thoại di động:
                </div>
                <div class="hrm_right"
                     data-bind="text: DienThoaiDiDong">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    eMail:
                </div>
                <div class="hrm_right"
                     data-bind="text: Email">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_subtitle1">
                Công Việc
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_line">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Chức danh:
                </div>
                <div class="hrm_right"
                     data-bind="text: ChucDanh">
                </div>
            </div>
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Đơn vị tuyển dụng lần đầu:
                </div>
                <div class="hrm_right"
                     data-bind="text: DonViTuyenDung">
                </div>
            </div>-->
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Hình thức tuyển dụng lần đầu:
                </div>
                <div class="hrm_right"
                     data-bind="text: HinhThucTuyenDung">
                </div>
            </div>-->
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày tuyển dụng lần đầu:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayTuyenDung == null ? '' : formatDate(new Date(NgayTuyenDung))">
                </div>
            </div>-->
            <!--<div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Công việc tuyển dụng lần đầu:
                </div>
                <div class="hrm_right"
                     data-bind="text: CongViecTuyenDung">
                </div>
            </div>-->
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Đơn vị công tác:
                </div>
                <div class="hrm_right"
                     data-bind="text: DonViCongTac">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Chức vụ hiện tại:
                </div>
                <div class="hrm_right"
                     data-bind="text: ChucVuHienTai">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày bổ nhiệm:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayBoNhiem == null ? '' : formatDate(new Date(NgayBoNhiem))">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Loại hợp đồng:
                </div>
                <div class="hrm_right"
                     data-bind="text: HopDongHienTai">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Chức vụ kiêm nhiệm:
                </div>
                <div class="hrm_right"
                     data-bind="text: ChucVuKiemNhiem">
                </div>
            </div>
            <div class="hrm_clear">
            </div>

            <div class="hrm_box">
                <div class="hrm_left">
                    Ngày vào trường:
                </div>
                <div class="hrm_right"
                     data-bind="text: NgayVaoCoQuanHienNay == null ? '' : formatDate(new Date(NgayVaoCoQuanHienNay))">
                </div>
            </div>
            <div class="hrm_clear">
            </div>
            <div class="hrm_box">
                <div class="hrm_left">
                    Công việc hiện nay:
                </div>
                <div class="hrm_right"
                     data-bind="text: CongViecHienNay">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
