
<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../Default.html";
        //}
    });
</script>
<script src="../../../../Components/jqwidgets/jqxdata.export.js"></script>
<script type="text/javascript">
    function ViewModel(datagrid) {
        var diHocArr = [
            { Id: null, Name: "Tất cả trạng thái" },
            { Id: false, Name: "Làm việc" },
            { Id: true, Name: "Đi học" }
        ];
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.month = ko.observable(new Date().getMonth() + 1);
        self.year = ko.observable(new Date().getFullYear());
        self.loaiNhanSu = ko.observableArray();
        self.loaiNhanSuSelected = ko.observable();
        self.diHoc = ko.observableArray(diHocArr);
        self.diHocSelected = ko.observable(null);
        self.bophan = ko.observableArray();
        self.bophanSelected = ko.observable();
        //
        self.checkLock = function (month, year) {
            var check;

            $.ajax({
                type: 'POST',
                url: '/WebServices/ChotChamCongThang_CheckLock',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: self.month,
                    nam: self.year
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    check = result;
                }
            });
            return check;
        }

        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUser',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.bophan(obj);
                self.bophanSelected(obj[0].Oid);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_LoaiNhanSu',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.loaiNhanSu(obj);
            }
        });
        self.categoriesSource =
        {
            datatype: "json",
            datafields: [
                { name: 'Name', type: 'string' }
            ],
            localdata:
                [
                  { Name: "A" },
                  { Name: "B" },
                  { Name: "C" },
                  { Name: "D" },
                  { Name: "Không xét" }
                ]
        };
        self.categoriesAdapter = new $.jqx.dataAdapter(self.categoriesSource, { contentType: 'application/json; charset=utf-8', autoBind: true });
        self.source =
        {
            datatype: "json",
            datafields: [
               { name: 'Oid', type: 'string' },
               { name: 'ThongTinNhanVien', type: 'string' },
               { name: 'SoHieuCongChuc', type: 'string' },
               { name: 'Ho', type: 'string' },
               { name: 'Ten', type: 'string' },
               { name: 'DanhGiaList', value: 'DanhGia', values: { source: self.categoriesAdapter.records, value: 'Name', name: 'Name' } },
               //{ name: 'DanhGiaTDCList', value: 'DanhGiaTruocDieuChinh', values: { source: self.categoriesAdapter.records, value: 'Name', name: 'Name' } },
               { name: 'DanhGia', type: 'string' },
               //{ name: 'DanhGiaTruocDieuChinh', type: 'string' },
               { name: 'SoNgayCong', type: 'string' },
               //{ name: 'DienGiai', type: 'string' },
               { name: 'TrangThai', type: 'bool' },
               //{ name: 'NghiNuaNgay', type: 'string' },
               { name: 'NgayNghiFormat', type: 'string' },
               //{ name: 'NghiCoPhep', type: 'string' },
               //{ name: 'NghiHe', type: 'string' },
               //{ name: 'NghiRo', type: 'string' },
               //{ name: 'NghiThaiSan', type: 'string' },
               //{ name: 'Khoa', type: 'bool' }
            ],
            id: 'Id',
            //async:false,
            //pagesize: 10,
            sortcolumn: 'Name',
            sortdirection: 'asc',
            url: "/WebServices/QuanLyXetABC_Find",
            formatdata: function (data) {
                return {
                    thang: self.month(),
                    nam: self.year(),
                    bophan: self.bophanSelected() == undefined ? null : self.bophanSelected(),
                    idLoaiNhanSu: self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected(),
                    diHoc: self.diHocSelected(),
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
        {
            source: self.dataAdapter,
            width: '100%',
            editable: true,
            selectionmode: 'checkbox',
            //virtualmode: true,
            filterable: true,
            pageable: true,
            pagesize: 10,
            sortable: true,
            rowsheight: 40,
            autoheight: true,
            autorowheight: true,
            theme: "darkBlue",
            rendergridrows: function (args) {
                alert(123);
            },
            columns: [
              {
                  text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                      return "<div style='text-align:center;margin-top:10px;'>" + (value + 1) + "</div>";
                  }
              },
              {
                  text: 'Mã nhân sự', datafield: 'SoHieuCongChuc', width: 150, align: 'center', editable: false, cellsalign: "middle",
              },
              {
                  text: 'Họ', datafield: 'Ho', align: 'center', width: 200, editable: false
              },
              {
                  text: 'Tên', datafield: 'Ten', align: 'center', width: 100, editable: false
              },
              {
                  text: 'Số NC', datafield: 'SoNgayCong', width: 100, align: 'center', cellsalign: "middle", editable: false
              },
              {
                  text: 'Loại', datafield: 'DanhGia', displayfield: 'DanhGiaList', columntype: 'dropdownlist', width: 80, cellsalign: "middle", sortable: false, align: 'center',
                  createeditor: function (row, value, editor) {
                      editor.jqxDropDownList({ source: self.categoriesAdapter, displayMember: 'Name', valueMember: 'Name', autoDropDownHeight: true });
                  }
              },
              //{
              //    text: 'Loại TĐC', datafield: 'DanhGiaTruocDieuChinh', displayfield: 'DanhGiaTDCList', columntype: 'dropdownlist', width: 70, cellsalign: "middle", sortable: false, align: 'center',
              //    createeditor: function (row, value, editor) {
              //        editor.jqxDropDownList({ source: self.categoriesAdapter, displayMember: 'Name', valueMember: 'Name', autoDropDownHeight: true });
              //    }
              //},
              {
                  text: 'Số ngày nghỉ', datafield: 'NgayNghiFormat', width: 250, align: 'center', editable: false
              },
              //{
              //    text: 'Giải trình', datafield: 'DienGiai', columntype: 'template', width: 170, cellsalign: "middle", align: 'center',
              //    cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties) {
              //        return "<div  style='text-align:center;margin-top:7px;'><input class='jqx-widget-content jqx-input jqx-widget jqx-rc-all' type='text' value='" + cellvalue + "'  style='width:155px;height:20px;text-align:center;' /></div>";
              //    },
              //    createeditor: function (row, cellvalue, editor, cellText, width, height) {
              //        var str = "<div style='text-align:center;margin-top:7px;'><input  type='text' id='status' value='" + cellvalue + "'  style='width:155px;height:20px;text-align:center;' /></div>";
              //        editor.append(str);
              //    },
              //    initeditor: function (row, cellvalue, editor, celltext, pressedkey) {
              //        var status = editor.find('input#status');
              //        status.val(cellvalue);
              //        status.jqxInput({ width: 155, height: 20 });
              //        status.jqxInput("focus");
              //    },
              //    geteditorvalue: function (row, cellvalue, editor) {
              //        return editor.find('input#status').val();
              //    }
              //},

              {
                  text: 'Đã xét', datafield: 'TrangThai', align: 'center', columntype: 'checkbox', cellsalign: "middle", width: 100, editable: false
              },
              //{
              //    text: 'Đã khóa', datafield: 'Khoa', align: 'center', width: 80, columntype: 'checkbox', cellsalign: "middle", editable: false,
              //}
            ]
        });
    }
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.month()) || self.month() < 0 || self.month() > 12) {
                alert("Tháng không hợp lệ");
                return true;
            }
            else if (isNaN(self.year()) || self.year() < 0) {
                alert("Năm không hợp lệ");
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            var d = new Date();
            var n = d.getDate()
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        save: function () {
            var self = this;

            if (self.checkLock(self.month, self.year)) {
                alert('Đã khóa chấm công trên phần mềm HRM !!');
                return;
            }

            var selectedRecords = new Array();
            var rows = self.datagrid.jqxGrid('getrows');
            $(self.returnData).each(function (index, value) {
                $(rows).each(function (index1, value1) {
                    if ((value.DanhGia != value1.DanhGia || value.DanhGiaTruocDieuChinh != value1.DanhGiaTruocDieuChinh || value.DienGiai != value1.DienGiai || value.TrangThai != value1.TrangThai) && value.Oid == value1.Oid && !value1.Khoa)
                        selectedRecords.push({
                            Oid: value1.Oid,
                            DanhGia: value1.DanhGia,
                            DanhGiaTruocDieuChinh: value1.DanhGiaTruocDieuChinh,
                            DienGiai: value1.DienGiai,
                            TrangThai: value1.TrangThai
                        });
                });
            });
            if (selectedRecords.length == 0) {
                alert("Chưa có dữ liệu nào thay đổi !!");
                return;
            }
            if (selectedRecords.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyXetABC_Save',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: ko.toJSON({
                        objList: selectedRecords
                    }),
                    success: function (result) {
                        alert("Lưu thành công");
                        self.datagrid.jqxGrid('updatebounddata');
                        self.datagrid.jqxGrid('clearselection');
                    }
                });

            }
        },
        xet: function () {
            var self = this;

            if (self.checkLock(self.month, self.year)) {
                alert('Đã khóa chấm công trên phần mềm HRM !!');
                return;
            }

            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var selectedRecords = new Array();
            for (var i = 0, l = rows.length; i < l ; i++) {
                var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                if (row.Khoa) {
                    alert("Đã khóa xét ABC");
                    return;
                }
                selectedRecords.push({
                    Oid: row.Oid
                });
            }
            if (selectedRecords.length > 0) {

                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyXetABC_XetVaKhongXetList',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: ko.toJSON({
                        userList: selectedRecords,
                        xet: true
                    }),
                    success: function (result) {
                        alert("Đã xét thành công !!");
                        self.datagrid.jqxGrid('updatebounddata');
                        self.datagrid.jqxGrid('clearselection');
                    }
                });
            }
        },
        khongxet: function () {
            var self = this;

            if (self.checkLock(self.month, self.year)) {
                alert('Đã khóa chấm công trên phần mềm HRM !!');
                return;
            }

            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var selectedRecords = new Array();
            for (var i = 0, l = rows.length; i < l ; i++) {
                var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                if (row.Khoa) {
                    alert("Đã khóa xét ABC");
                    return;
                }
                selectedRecords.push({
                    Oid: row.Oid
                });
            }
            if (selectedRecords.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyXetABC_XetVaKhongXetList',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: ko.toJSON({
                        userList: selectedRecords,
                        xet: false
                    }),
                    success: function (result) {
                        alert("Chưa xét thành công !!");
                        self.datagrid.jqxGrid('updatebounddata');
                        self.datagrid.jqxGrid('clearselection');
                    }
                });
            }
        },
        khoa: function () {
            var self = this;

            //
            if (self.checkLock(self.month, self.year)) {
                alert('Đã khóa chấm công trên phần mềm HRM !!');
                return;
            }

            //Tiền hành cập nhật dữ liệu đã sữa trên lưới
            var selectedRecords = new Array();
            var rows = self.datagrid.jqxGrid('getrows');
            $(self.returnData).each(function (index, value) {
                $(rows).each(function (index1, value1) {
                    if (value.DanhGia != value1.DanhGia && value.Oid == value1.Oid && !value1.Khoa)
                        selectedRecords.push({
                            Oid: value1.Oid,
                            DanhGia: value1.DanhGia
                        });
                });
            });

            //Lưu
            if (selectedRecords.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyXetABC_Save',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: ko.toJSON({
                        objList: selectedRecords
                    }),
                    success: function (result) {
                        //
                    }
                });

            }

            //Tiến hành khóa
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyXetABC_KhoaVaMoKhoaList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: ko.toJSON({
                    thang: self.month,
                    nam: self.year,
                    bophan: self.bophanSelected,
                    khoa: true
                }),
                success: function (result) {
                    alert("Khóa thành công !!");
                    self.datagrid.jqxGrid('updatebounddata');
                    self.datagrid.jqxGrid('clearselection');
                }
            });
        },
        chuakhoa: function () {
            var self = this;

            if (self.checkLock(self.month, self.year)) {
                alert('Đã khóa chấm công trên phần mềm HRM !!');
                return;
            }

            //Mở khóa
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyXetABC_KhoaVaMoKhoaList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: ko.toJSON({
                    thang: self.month,
                    nam: self.year,
                    bophan: self.bophanSelected,
                    khoa: false
                }),
                success: function (result) {
                    alert("Mở khóa thành công !!");
                    self.datagrid.jqxGrid('updatebounddata');
                    self.datagrid.jqxGrid('clearselection');
                }
            });
        },
        excel: function () {
            var self = this;
            window.open("/ExcelExport/InBangChot.ashx?thang=" + self.month() + "&nam=" + self.year() + "&bophanId=" + self.bophanSelected());
        },
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#quanlyxetabc")[0]);
    });
</script>

<div id="quanlyxetabc">
    <div class="alert alert-info" style="height:36px; background-color:#4450A0; border-color:#000000"><h4>QUẢN LÝ XÉT ABC</h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left:15px;">
                <div class="row">
                    <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-palegreen" id="btnsave" style="width: 120px;" data-bind="click: save">
                            <i class="btn-label glyphicon glyphicon-check"></i>Lưu
                        </a>
                    </div>-->
                    <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" id="btnkhongxet" style="width: 120px;" data-bind="click:khongxet">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Không xét
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" id="btnxet" style="width: 120px;" data-bind="click: xet">
                            <i class="btn-label glyphicon glyphicon-lock"></i>Xét
                        </a>
                    </div>-->
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" id="btnmokhoa" style="width: 120px;" data-bind="click: chuakhoa">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Mở khóa
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" id="btnkhoa" style="width: 120px;" data-bind="click: khoa">
                            <i class="btn-label glyphicon glyphicon-lock"></i>Khóa lại
                        </a>
                    </div>
                    <!--<div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 120px;" data-bind="click: excel">
                            <i class="btn-label glyphicon glyphicon-random"></i>Xuất Excel
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">

        <input type="text" placeholder="tháng" data-bind="value: month" style="width: 50px; height:32px; text-align: center" ; maxlength="2" />
        -
        <input type="text" placeholder="năm" data-bind="value: year" style="width: 50px;height:32px; text-align: center" ; maxlength="4" />
        <select data-bind="options: bophan, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: bophanSelected,optionsCaption: 'Tất cả'" style="width:200px;"></select>
        <select data-bind="options: loaiNhanSu, optionsText: 'TenLoaiNhanSu', optionsValue: 'Oid', value: loaiNhanSuSelected"></select>
        <select data-bind="options: diHoc, optionsText: 'Name', optionsValue: 'Id', value: diHocSelected" style="width:120px;"></select>
        <input type="button" value="Tìm" data-bind="click: search" style="width: 60px; height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
</div>

<div id="popupWindow"></div>
<div id="popupWindow1"></div>