<html>
<head>
</head>
<body>
    <div>
        <a href="#" class="btn btn-labeled btn-blue" data-bind="click: InsertQuanHeGiaDinh">
            <i class="btn-label glyphicon glyphicon-plus"></i>Thêm mới
        </a>
    </div>
    <div>
        <div class="hrm_clear">
        </div>
        <div class="hrm_content" style="width: 900px !important">
            <table width="100%" border="1" style="border-collapse: collapse">
                <tr class="backGroundTitle" style="height: 40px;">
                    <th style="width: 130px" class="textToCenter">Họ tên</th>
                    <th style="width: 90px" class="textToCenter">Quan hệ</th>
                    <th style="width: 40px" class="textToCenter">Giới tính</th>
                    <th style="width: 40px" class="textToCenter">Năm sinh</th>
                    <th style="width: 60px" class="textToCenter">Quốc tịch</th>
                    <th style="width: 60px" class="textToCenter">Tình trạng</th>
                    <th class="textToCenter">Dân tộc</th>
                    <th style="width: 70px" class="textToCenter">Nghề nghiệp</th>
                    <th class="textToCenter">Nơi cư trú</th>
                    <th style="width: 50px" class="textToCenter">Nước cư trú</th>
                    <th class="textToCenter">Tôn giáo</th>
                    <th class="textToCenter">Quê quán</th>
                    <th class="textToCenter">Nơi làm việc</th>
                    <th style="width: 50px" class="textToCenter"></th>
                    <th style="width: 50px" class="textToCenter"></th>
                </tr>
                <tbody data-bind="foreach: DanhSach_QuanHeGiaDinh">
                    <tr>
                        <td data-bind="text: HoTen"></td>
                        <td data-bind="text: QuanHe" class="textToCenter"></td>
                        <td data-bind="text: GioiTinh" class="textToCenter"></td>
                        <td data-bind="text: NamSinh" class="textToCenter"></td>
                        <td data-bind="text: QuocTich" class="textToCenter"></td>
                        <td data-bind="text: TinhTrang" class="textToCenter"></td>
                        <td data-bind="text: DanToc" class="textToCenter"></td>
                        <td data-bind="text: NgheNghiep" class="textToCenter"></td>
                        <td data-bind="text: NoiCuTru"></td>
                        <td data-bind="text: NuocCuTru" class="textToCenter"></td>
                        <td data-bind="text: TonGiao" class="textToCenter"></td>
                        <td data-bind="text: QueQuan" class="textToCenter"></td>
                        <td data-bind="text: NoiLamViec"></td>
                        <td>
                            <button data-bind="click: UpdateQuanHeGiaDinh.bind($data)" class='btn btn-block btn-success btn-xs'><i class='fa fa-pencil'></i></button>
                        </td>
                        <td>
                            <button data-bind="click: DeleteQuanHeGiaDinh.bind($data)" class='btn btn-block btn-danger btn-xs'><i class='fa fa-times'></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="popupWindowUpdateQuanHeGiaDinh"></div>
</body>
</html>
