<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
    <title></title>
    <style type="text/css">
        @media print {
            body > * {
                display: none !important;
            }

            body > .k-window {
                display: block !important;
                position: relative !important;
                top: auto !important;
                left: auto !important;
                width: auto !important;
                height: auto !important;
                border-width: 0;
                box-shadow: none !important;
            }

            .k-window .k-window-titlebar {
                display: none;
            }
        }
        /* Hover tooltips */
        .field-tip {
            position: relative;
            cursor: help;
        }

            .field-tip .tip-content {
                position: absolute;
                top: -10px;
                right: 9999px;
                width: 200px;
                margin-right: 60px;
                padding: 10px;
                color: #fff;
                background: #333;
                -webkit-box-shadow: 2px 2px 5px #aaa;
                -moz-box-shadow: 2px 2px 5px #aaa;
                box-shadow: 2px 2px 5px #aaa;
                opacity: 1;
                z-index: 999;
            }

                .field-tip .tip-content:after {
                    content: ' '; /* Must have content to display */
                    position: absolute;
                    top: 50%;
                    right: -16px;
                    width: 0;
                    height: 0;
                    margin-top: -8px;
                    border: 8px solid transparent;
                    border-left-color: #333;
                }

            .field-tip:hover .tip-content {
                right: -20px;
                opacity: 1;
                top: -25px;
            }

            .vipham {
                background-color: #ccc;
            }
            .kodiday{
                color: white;
            }
    </style>
    <script type="text/javascript">
        function getDaysInMonth(m, y) {
            var daysArray = [];
            daysInWeek = ['<span style="color:red">CN</span>', 'T2', 'T3', 'T4', 'T5', 'T6', '<span style="color:red">T7</span>'];
            daysIndex = { 'Sun': 0, 'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6 };
            index = daysIndex[(new Date(y, m - 1, 1)).toString().split(' ')[0]];
            var numDaysInMonth = /8|3|5|10/.test(--m) ? 30 : m == 1 ? (!(y % 4) && y % 100) || !(y % 400) ? 29 : 28 : 31;
            for (i = 0, l = numDaysInMonth  ; i < l  ; i++) {
                daysArray.push((i + 1) + '<br/>' + daysInWeek[index++]);
                if (index == 7) index = 0;
            }
            return daysArray;
        }

        function viewModel(item, phongban, month, year) {
            var self = this;
            self.items = ko.observableArray(item);
            self.CheckChot = ko.observable();
            self.HinhThucNghiList = ko.observableArray();
            self.HinhThucNghiListForUpdate = ko.observableArray([]);
            self.TenPhongBan = ko.observable();
            self.month = month;
            self.year = year;
            self.phongban = phongban;
            $.ajax({
                type: 'POST',
                url: '/WebServices/GetPhongBan_ById',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({ id: self.phongban }),
                async: false,
                success: function (result) {
                    var obj = result;
                    self.TenPhongBan(obj.TenBoPhan);
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_CheckChot',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: month,
                    nam: year,
                    boPhanId: phongban
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    self.CheckChot = result;
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetListHinhThucNghi',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.HinhThucNghiList(obj);
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetListHinhThucNghiForUpdate',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.HinhThucNghiListForUpdate(obj);
                }
            });
            self.dayInMonth = getDaysInMonth(self.month, self.year);
        }
    </script>
</head>
<body>
    <div id="chamcong_detail">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tbody>
                <tr>
                    <td style="font-family: Arial,Tahoma; font-size: 20pt; color:black; font-weight: bold;text-align:center">TRƯỜNG ĐẠI HỌC NGÂN HÀNG TP.HCM</td>
                </tr>
                <tr>
                    <td><div align="center" style="font-family: Arial, Tahoma; font-size: 14pt;color:black; font-weight: bold; padding-bottom: 5px;text-align:center">BẢNG CHI TIẾT CHẤM CÔNG - <span data-bind="text:month +'/'+ year"></span></div></td>
                </tr>
            </tbody>
        </table>
        <table border="1" cellpadding="1" cellspacing="0" style="color:black;">
            <tr>
                <td colspan="38" style="background-color: grey; color: White; font-weight: bold; font-size: 14pt;" data-bind="text:TenPhongBan"></td>
            </tr>
            <tr style="height: 30px;">
                <th style="width: 25px;text-align:center;" rowspan="2">STT</th>
                <th style="width: 200px;text-align:center;" rowspan="2">Họ tên</th>
                <th data-bind="attr: { colspan: dayInMonth.length }" style="text-align:center;padding:4px;">Ngày trong tháng</th>
                <!-- ko if: CheckChot -->
                <th rowspan="2" style="text-align:center;padding:2px;">Số ngày công</th>
                <th rowspan="2" style="text-align:center;padding:2px;">Nghỉ có phép</th>
                <th rowspan="2" style="text-align:center;padding:2px;">Nghỉ trừ lương</th>
                <th rowspan="2" style="text-align:center;padding:2px;">Nghỉ chế độ ốm đau</th>
                <th rowspan="2" style="text-align:center;padding:2px;">Nghỉ chế độ thai sản</th>
                <!-- /ko -->
            </tr>
            <tr data-bind="foreach:dayInMonth">
                <td data-bind="html:$data" style="text-align:center;padding:2px;"></td>
            </tr>
            <tbody data-bind="foreach:items">
                <tr>
                    <td align="center" data-bind="text:$index()+1"></td>
                    <td data-bind="text:HoTen" style="padding:2px;"></td>

                    <!-- bỏ chỗ này: không phân biệt nhân viên, giảng viên -->
                    <!-- ko if:!LaNhanVienToChucHanhChinh -->
                    <!--<td data-bind="attr: { colspan: $parent.dayInMonth .length}"></td>-->
                    <!-- /ko -->
                    
                    <!-- ko foreach: ChiTietChamCong -->
                    <td align="center" data-bind="css: { vipham: $data.MaHinhThucNghi == '+' && QuanLyViPham != null && QuanLyViPham.length > 0, kodiday: $parent.LaNhanVienGiangDay && $data.GhiChu == null }">
                        <!--ko if:$data.MaHinhThucNghi == '' -->
                        <div style="width: 100%; height: 100%; background-color: #FF9393">&nbsp;</div>
                        <!-- /ko -->
                        <!--ko if:$data.MaHinhThucNghi != '' -->
                        <!-- ko if: GioVaoSang != null || GioRaChieu != null -->
                        <span class="field-tip">
                            <span data-bind="text:$data.MaHinhThucNghi"></span>                            
                            <span class="tip-content" style="text-align:left;">
                                <!--ko if: GioVaoSang != null -->
                                    - Giờ vào: <span data-bind="text: moment(GioVaoSang).format('HH:mm')"></span><br />
                                <!-- /ko -->
                                <!--ko if: GioRaChieu != null -->
                                    - Giờ ra: <span data-bind="text: moment(GioRaChieu).format('HH:mm')"></span><br />
                                <!-- /ko -->
                                <!-- ko foreach: QuanLyViPham -->
                                    - Vi phạm: <span data-bind="text: HinhThucViPham"></span>
                                    <!--ko if: ThoiGianTre != '' -->
                                        <span data-bind="text: ThoiGianTre"></span> phút<br />
                                    <!-- /ko -->
                                    <!--ko if: ThoiGianSom != '' -->
                                        <span data-bind="text: ThoiGianSom"></span> phút<br />
                                    <!-- /ko -->
                                <!-- /ko -->
                            </span>
                        </span>
                        <!-- /ko -->
                        <!-- ko if: GioVaoSang == null && GioRaChieu == null -->
                        <span data-bind="text:$data.MaHinhThucNghi"></span>
                        <!-- /ko -->
                        <!-- /ko -->

                    </td>
                    <!-- /ko -->
                    
                    <!-- ko if: $parent.CheckChot -->
                    <td data-bind="text:NgayCong" style="font-weight: bold; text-align: center"></td>
                    <td data-bind="text:NghiPhep" style="font-weight: bold; text-align: center"></td>
                    <td data-bind="text:NghiTruLuong" style="text-align: center;"></td>
                    <td data-bind="text:NghiOmDau" style="text-align: center;"></td>
                    <td data-bind="text:NghiThaiSan" style="text-align: center;"></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
        <table border="0" style="width:100%; height: 100px; font-family: Arial, Tahoma; font-size: 10pt;color:black">
            <tbody>
                <tr>
                    <td height="41" align="center" width="329">
                        <b>Người chấm công</b><br>
                        (Ký, họ tên)
                    </td>
                    <td height="41" align="center">
                        <b>Phụ trách bộ phận</b><br>
                        (Ký, họ tên)
                    </td>
                    <td height="41" align="center" width="327">
                        <b>Người duyệt</b><br>
                        (Ký, họ tên)
                    </td>
                </tr>
                <tr>
                    <td align="center" width="329">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center" width="327">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div style="width: 100%;" align="left">
            <div style="font-family: Tahoma,Arial; font-size: 10pt;color:black; padding-top: 10px;" align="left">
                <span style="font-weight: bold;">Ghi chú:</span><br />
                <table style="float: left; width:33%">
                    <thead>
                        <tr>
                            <td>+:</td>
                            <td>Đi làm, hội họp cả ngày</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: $index() < 4  -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <table style="float: left; width:33%">
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: ($index() >= 4) && ($index() <= 8) -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <table style="float: left; width:33%">
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: $index() > 8 -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
