<style>
    label
    {
        font-weight:bold;
    }
</style>
<form class="form-horizontal" name="CriterionDetailForm" role="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div  class="form-group" ng-class="{'has-error': CriterionDetailForm.mark.$invalid}">
            <label for="mark" class="col-md-3 control-label">STT</label>
            <div class="col-md-7">
                <input name="mark" kendo-numeric-text-box k-options="options" required ng-model="obj.OrderNumber" />
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': CriterionDetailForm.name.$invalid}">
            <label for="name" class="col-md-3 control-label">Tên nhóm tiêu chí</label>
            <div class="col-md-7">
                <textarea type="text" style="min-height:80px" class="form-control" name="name" required ng-model="obj.Name"></textarea>
            </div>
            <div class="col-md-2">
                <span ng-show="CriterionDetailForm.name.$error.required" class="help-block">*</span>
            </div>
        </div>
        <div ng-show="isNew == true" class="form-group">
            <label for="selectRatingType" class="col-md-3 control-label" ng-click="alert(obj.RatingTypeId)">Đối tượng đánh giá:</label>
            <div class="col-md-7">
                <select kendo-combo-box class="form-control" name="selectRatingType" required k-options="selectOptions" k-filter="'contains'" k-ng-model="obj.ABC_RatingTypeDTO.Id" ng-disabled="!isNew"></select>
            </div>
        </div>
        <div ng-show="isNew == false" class="form-group">
            <label for="ratingType" class="col-md-3 control-label">Đối tượng đánh giá</label>
            <div class="col-md-7" style="margin-top: 5px;">
                <span>{{obj.ABC_RatingTypeDTO.Name}}</span>
            </div>
        </div>
        <div ng-show="isNew == false" class="form-group">
            <label for="CopyToRatingTypes" class="col-md-3 control-label">Sao chép tới đối tượng:</label>
            <div class="col-md-7">
                <select class="form-control" name="CopyToRatingTypes" required kendo-multi-select k-options="selectOptions2" k-ng-model="obj.CopyToRatingTypes">
            </select>
        </div>
        </div>
        <div class="form-group" ng-class="{'has-error': CriterionDetailForm.selectAngentObject.$invalid}" ng-show="isNew == false">
            <div class="col-md-12">
                <button style="float:right;" ng-click="NewCriterionDetail()" class="btn btn-primary"><i class="fa fa-plus"></i> </button>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Tiêu chí đánh giá</legend>
                    <div kendo-grid="grid" k-data-source="dataSource" k-options="mainDictionaryGridOptions"></div>
                </fieldset>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="CriterionDetailForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>