
<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
    });
</script>
<script type="text/javascript">
    function ViewModel(datagrid) {
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.year = ko.observable(new Date().getFullYear());
        self.department = ko.observableArray();
        self.departmentSelected = ko.observable(null);
        self.caChamCong = ko.observableArray();
        self.caChamCongSelected = ko.observable();
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_CaChamCong',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.caChamCong(obj);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUser',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.department(obj);
            }
        });
        self.checkChot = function () {
            var check;
            $.ajax({
                type: 'POST',
                url: '/WebServices/DangKyKhungGio_CheckNgoaiThoiGian',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    check = result;
                }
            });
            return check;
        }
        //$.ajax({
        //    type: 'POST',
        //    url: '/WebServices/GetList_KyDangKy',
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    async: false,
        //    success: function (result) {
        //        var obj = result;
        //        self.kyDangKy(obj);
        //        if(obj != null && obj.length > 0)
        //            self.kyDangKySelected(obj[0].Oid);
        //    }
        //});
        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'SoHieuCongChuc', type: 'string' },
                { name: 'HoTen', type: 'string' },
                { name: 'TenPhongBan', type: 'string' },
                { name: 'TenCa', type: 'string' },
                { name: 'TuNgay', type: 'date' },
                { name: 'DenNgay', type: 'date' },
                { name: 'TrangThai', type: 'string' }
            ],
            id: 'Id',
            //sortcolumn: 'HoTen',
            //sortdirection: 'asc',
            url: "/WebServices/DangKyChamCong_Find",
            formatdata: function (data) {
                return {
                    bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                    ky: '00000000-0000-0000-0000-000000000001',
                    trangthai: -1,
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                selectionmode: 'checkbox',
                width: '100%',
                editable: false,
                pageable: true,
                pagesize: 5,
                sortable: true,
                filterable: true,
                rowsheight: 80,
                autorowheight: true,
                autoheight: true,
                theme: "darkBlue",
                columns: [
                    {
                        text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                            return "<div style='text-align:center;margin-top:30px;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: 'Mã nhân sự', datafield: 'SoHieuCongChuc', width: 150, align: 'center', cellsalign: "middle",
                    },
                    {
                        text: 'Họ tên', datafield: 'HoTen', width: 200, align: 'center',
                    },
                    //{
                    //    text: 'Từ ngày', datafield: 'TuNgay', width: 100, align: 'center', cellsformat: 'd/M/yyyy', cellsalign: "middle",
                    //},
                    //{
                    //    text: 'Đến ngày', datafield: 'DenNgay', width: 100, align: 'center', cellsformat: 'd/M/yyyy', cellsalign: "middle",
                    //},
                    {
                        text: 'Đơn vị', datafield: 'TenPhongBan', align: 'center', 
                    },
                    {
                        text: 'Khung giờ', datafield: 'TenCa', width: 100, align: 'center', 
                    },
                    {
                        text: 'Trạng thái', datafield: 'TrangThai', align: 'center', width: 100,
                    }

                ]
            });
    }
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.year()) || self.year() < 0) {
                alert("Năm không hợp lệ !!");
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        doicatatca: function () {
            var self = this;
            var r = confirm("Bạn có muốn cập nhật khung giờ làm việc không ?");
            if (r == true) {
                var selectedRecords = new Array();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/DangKyChamCong_DoiCa',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        ca: self.caChamCongSelected(),
                        bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                        loai: 1,
                        list: selectedRecords
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        alert("Thành công!");
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                });
            }
        },
        doicadonvi: function () {
            var self = this;
            var r = confirm("Bạn có muốn cập nhật khung giờ làm việc không ?");
            if (r == true) {
                var selectedRecords = new Array();
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/DangKyChamCong_DoiCa',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        ca: self.caChamCongSelected(),
                        bophan: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                        loai: 2,
                        list: selectedRecords
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        alert("Thành công!");
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                });
            }
        },
        doicacanhan: function () {
            var self = this;
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var r = confirm("Bạn có muốn cập nhật khung giờ làm việc không ?");
            if (r == true) {
                var selectedRecords = new Array();
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    selectedRecords.push({
                        Oid: row.Oid
                    });
                }
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/DangKyChamCong_DoiCa',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        ca: self.caChamCongSelected(),
                        bophan: self.departmentSelected() == undefined ? null : +self.departmentSelected(),
                        loai: 3,
                        list: selectedRecords
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        alert("Thành công!");
                        self.datagrid.jqxGrid('updatebounddata');
                    }
                });
            }
        } 
        //doica: function () {
        //    var self = this;
      
        //        if (!self.checkChot()) {
        //            alert('Chưa hết thời gian đăng ký !!');
        //            return;
        //        }
        //        else
        //        {
        //            $.ajax({
        //                type: 'POST',
        //                url: '/WebServices/DangKyChamCong_UpdateAll',
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                async: false,
        //                data: ko.toJSON({
        //                    ky:self.kyDangKySelected(),
        //                    ca: self.caChamCongSelected()
        //                }),
        //                success: function (result) {
        //                    alert("Lưu thành công !!");
        //                    self.datagrid.jqxGrid('updatebounddata');
        //                }
        //            });
        //        }
            
        //}
    };
    $(function () {
        var self = this;
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#quanlychamcong")[0]);
    });
</script>
<div id="quanlychamcong">
    <div class="alert alert-info" style="height:36px; background-color:#4450A0; border-color:#000000"><h4>ĐỔI KHUNG GIỜ LÀM VIỆC</h4></div>
    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-xs-12 col-sm-12">-->
            <div class="buttons-preview" id="userManage" style="display:flex; justify-content:center; align-items:center; text-align:center;">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-danger" style="width: 158px;" data-bind="click: doicatatca">
                            <i class="btn-label glyphicon glyphicon-pencil"></i>Đổi ca tất cả
                        </a>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" style="width: 158px;" data-bind="click: doicadonvi">
                            <i class="btn-label glyphicon glyphicon-pencil"></i>Đổi ca đơn vị
                        </a>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-warning" style="width: 158px;" data-bind="click: doicacanhan">
                            <i class="btn-label glyphicon glyphicon-pencil"></i>Đổi ca cá nhân
                        </a>
                    </div>
                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <select style="width: 150px" data-bind="options: department, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected, optionsCaption: 'Tất cả đơn vị'"></select>
        <select data-bind="options: caChamCong, optionsText: 'TenCa', optionsValue: 'Oid', value: caChamCongSelected"></select>
        <input type="button" value="Tìm" data-bind="click: search" style="width: 60px; height: 32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
</div>