    <style type="text/css">
        /* Hover tooltips */
        .field-tip {
            position: relative;
            cursor: help;
        }

            .field-tip .tip-content {
                position: absolute;
                top: -10px;
                right: 9999px;
                width: 200px;
                margin-right: 60px;
                padding: 10px;
                color: #fff;
                background: #333;
                -webkit-box-shadow: 2px 2px 5px #aaa;
                -moz-box-shadow: 2px 2px 5px #aaa;
                box-shadow: 2px 2px 5px #aaa;
                opacity: 1;
                z-index: 999;
            }

                .field-tip .tip-content:after {
                    content: ' '; /* Must have content to display */
                    position: absolute;
                    top: 50%;
                    right: -16px;
                    width: 0;
                    height: 0;
                    margin-top: -8px;
                    border: 8px solid transparent;
                    border-left-color: #333;
                }

            .field-tip:hover .tip-content {
                right: -20px;
                opacity: 1;
                top: -25px;
            }

            .vipham {
                background-color: #ccc;
            }
            .kodiday {
                color: black;
            }
            /*hover td*/
            /*tbody > tr > td:hover{
                background-color:deepskyblue;
            }*/
    </style>
    <script type="text/javascript">
        function getDaysInMonth(m, y) {
            var daysArray = [];
            daysInWeek = ['<span style="color:red">CN</span>', 'T2', 'T3', 'T4', 'T5', 'T6', '<span style="color:red">T7</span>'];
            daysIndex = { 'Sun': 0, 'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6 };
            index = daysIndex[(new Date(y, m - 1, 1)).toString().split(' ')[0]];
            var numDaysInMonth = /8|3|5|10/.test(--m) ? 30 : m == 1 ? (!(y % 4) && y % 100) || !(y % 400) ? 29 : 28 : 31;
            for (i = 0, l = numDaysInMonth  ; i < l  ; i++) {
                daysArray.push((i + 1) + '<br/>' + daysInWeek[index++]);
                if (index == 7) index = 0;
            }
            return daysArray;
        }
        function ViewModel(datagrid) {
            var self = this;
            $.ajax({
                type: 'POST',
                url: '/Authentication/GetUserSessionInfo',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    session = result;
                }
            });
            self.CheckChot = ko.observable();
            self.staffDepartment = ko.observable();
            self.HinhThucNghiListForUpdate = ko.observableArray([]);
            self.day = ko.observable(new Date().getDate()),
            self.month = ko.observable(new Date().getMonth() + 1);
            self.year = ko.observable(new Date().getFullYear());
            self.department = ko.observableArray();
            self.departmentSelected = ko.observable(null);
            self.loaiNhanSu = ko.observableArray();
            self.loaiNhanSuSelected = ko.observable();
            self.name = ko.observable("");
            self.items = ko.observableArray();
            self.dayInMonth = ko.observableArray();
            self.numDay = ko.observable();
            self.webGroupId = ko.observable(session.WebGroupId.toUpperCase());
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetDepartmentsOfUser',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({ userId: session.UserId }),
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.department(obj);
                    if (obj.length > 0)
                        self.departmentSelected(obj[0].Oid);
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/QuanLyChamCong_GetListHinhThucNghiForUpdate',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.HinhThucNghiListForUpdate(obj);
                }
            });
            $.ajax({
                type: 'POST',
                url: '/WebServices/GetList_LoaiNhanSu',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    var obj = result;
                    self.loaiNhanSu(obj);
                    //if (obj.length > 0)
                    //    self.loaiNhanSuSelected(obj[0].Oid);
                }
            });
            self.search();
        }
        ViewModel.prototype = {
            search: function () {
                var self = this;             
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_GetDepartmentOfStaff',
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (result) {
                        self.staffDepartment(result);
                    }
                });           
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_CheckChot',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year(),
                        boPhanId: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected(),
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        self.CheckChot(result);
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/QuanLyChamCong_ChamCongThang',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({
                        thang: self.month(),
                        nam: self.year(),
                        bophanId: self.departmentSelected() == undefined ? null : self.departmentSelected(),
                        maNhanSu: self.name(),
                        idLoaiNhanSu: self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected(),
                    }),
                    async: false,
                    success: function (result) {
                        var data = result;
                        self.items(data);
                        self.dayInMonth(getDaysInMonth(self.month(), self.year()));
                        self.numDay(self.dayInMonth().length);
                    }
                });
                //var model = new ViewModel($("#jqxgrid"));
                //ko.applyBindings(model, $("#tableCC")[0]);
            },
            daysInMonth: function (month, year) {
                return new Date(year, month, 0).getDate();
            },
            print: function () {
                var self = this;
                window.open("/ExcelExport/InBangCong.ashx?thang=" + self.month() + "&nam=" + self.year() + "&bophanId=" + self.departmentSelected() + "&idNhanVien=" + session.Id + "&webGroupId=" + session.WebGroupId);
            },
            detail: function () {
                var self = this;
                if (self.webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21') {
                    if (self.departmentSelected() == undefined) {
                        alert("Vui lòng chọn phòng ban !!");
                        return;
                    }
                }
                $.get('/app/views/chamcong/QuanLyChamCong/Detail.html', function (data) {
                    $('#popupWindowPrint').html(data);
                    ko.cleanNode($('#popupWindowPrint')[0]);
                    $('#popupWindowPrint').kendoWindow({
                        width: "80%",
                        title: "Chi tiết chấm công",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ],
                        position: {
                            top: "15%",
                            left: "10%"
                        }

                    });
                    $('#popupWindowPrint').data("kendoWindow").open();
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/QuanLyChamCong_ChamCongThang',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON({
                            thang: self.month(),
                            nam: self.year(),
                            bophanId: self.departmentSelected(),
                            maNhanSu: self.name(),
                            idLoaiNhanSu: self.loaiNhanSuSelected(),
                        }),
                        async: false,
                        success: function (result) {
                            var model = new viewModel(result, self.departmentSelected(), self.month(), self.year());
                            ko.applyBindings(model, document.getElementById('popupWindowPrint'));
                        }
                    });
                });
                //var url = "Detail.aspx?PhongBan=" + self.departmentSelected() + "&IdLoaiNhanSu=" + (self.loaiNhanSuSelected() == undefined ? null : self.loaiNhanSuSelected()) + "&Thang=" + self.month() + "&Nam=" + self.year() + "&Value=" + self.name();
                //var Width = 800, Height = 700;
                //var OffsetHeight = document.body.offsetHeight;
                //var OffsettWidth = document.body.offsetWidth;
                //var objWindow = window.open(url, "", "width=" + Width + ",height=" + Height + ",resizable=1,scrollbars=yes,location=0");
                //objWindow.moveTo((OffsettWidth - Width) / 2, (OffsetHeight - Height) / 2);

            },
            chart: function () {
                var self = this;
                if (self.webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21') {
                    if (self.departmentSelected() == undefined) {
                        alert("Vui lòng chọn phòng ban !!");
                        return;
                    }
                }
                $.get('/app/views/chamcong/QuanLyChamCong/XemBCCChart.html', function (data) {
                    $('#popupWindowXemBCCChart').html(data);
                    ko.cleanNode($('#popupWindowXemBCCChart')[0]);
                    $('#popupWindowXemBCCChart').kendoWindow({
                        width: "80%",
                        //height: "70%",
                        //title: "Biểu đồ chấm công",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ],
                        position: {
                            top: "10%",
                            left: "10%"
                        },
                        close: function (e) {
                            $(this.element).empty();
                        }
                    });
                    $('#popupWindowXemBCCChart').data("kendoWindow").open();
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/GetPhongBan_ById',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON({ id: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected() }),
                        async: false,
                        success: function (result) {
                            var obj = result;
                            self.TenPhongBan = obj.TenBoPhan;
                        }
                    });
                    //Quét 2 lần
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/QuanLyChamCong_BieuDo',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON({
                            ngay: self.day(),
                            thang: self.month(),
                            nam: self.year(),
                            bophanId: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected(),
                        }),
                        async: false,
                        success: function (result) {
                            self.chartData = result;
                            $(self.chartData).each(function (index, value) {
                                value.HoTen = value.HoTen + " (" + value.SoHieuCongChuc + ") ";
                                if (value.GioVao == null && value.GioRa == null)
                                    return;
                                var gioVao = value.GioVao;
                                var gioRa = value.GioRa;

                                if (gioVao != null) {
                                    value.GioVao = formatHour(gioVao);
                                } else if (gioVao == null && gioRa != null) {
                                    value.GioVao = formatHour(gioRa);
                                }

                                if (gioRa != null) {
                                    value.GioRa = formatHour(gioRa);
                                } else if (gioRa == null && gioVao != null) {
                                    value.GioRa = formatHour(gioVao);
                                }
                            });

                        }
                    });
                    //QUét 4 lần
                    //$.ajax({
                    //    type: 'POST',
                    //    url: '/WebServices/QuanLyChamCong_BieuDo',
                    //    contentType: "application/json; charset=utf-8",
                    //    dataType: "json",
                    //    data: ko.toJSON({
                    //        ngay: self.day(),
                    //        thang: self.month(),
                    //        nam: self.year(),
                    //        bophanId: self.departmentSelected()
                    //    }),
                    //    async: false,
                    //    success: function (result) {
                    //        self.chartData = result;
                    //        $(self.chartData).each(function (index, value) {
                    //            value.HoTen = value.HoTen + " (" + value.SoHieuCongChuc + ") ";
                    //            var gioVaoSang = value.GioVaoSang;
                    //            var gioRaSang = value.GioRaSang;
                    //            var gioVaoChieu = value.GioVaoChieu;
                    //            var gioRaChieu = value.GioRaChieu;

                    //            if (gioVaoSang != null) {
                    //                value.GioVaoSang = formatHour(gioVaoSang);
                    //            } else if (gioVaoSang == null && gioRaSang != null) {
                    //                value.GioVaoSang = formatHour(gioRaSang);
                    //            }

                    //            if (gioRaSang != null) {
                    //                value.GioRaSang = formatHour(gioRaSang);
                    //            }
                    //            else if (gioRaSang == null && gioVaoSang != null) {
                    //                value.GioRaSang = formatHour(gioVaoSang);
                    //            }

                    //            if (gioVaoChieu != null) {
                    //                value.GioVaoChieu = formatHour(gioVaoChieu);
                    //            }
                    //            else if (gioVaoChieu == null && gioRaChieu != null) {
                    //                value.GioVaoChieu = formatHour(gioRaChieu);
                    //            }

                    //            if (gioRaChieu != null) {
                    //                value.GioRaChieu = formatHour(gioRaChieu);
                    //            } else if (gioRaChieu == null && gioVaoChieu != null) {
                    //                value.GioRaChieu = formatHour(gioVaoChieu);
                    //            }
                    //        });

                    //    }
                    //});
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/GetPhongBan_ById',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON({ id: self.departmentSelected() == null ? self.staffDepartment() : self.departmentSelected() }),
                        async: false,
                        success: function (result) {
                            var obj = result;
                            self.phongban = obj.TenBoPhan;
                        }
                    });
                    $("#popupWindowXemBCCChart").css("height", $(window).height() - ($(window).height() * 30 / 100));
                    var model = new chart_Model(self.chartData, self.phongban, self.day(), self.month(), self.year());
                    ko.applyBindings(model, document.getElementById('popupWindowXemBCCChart'));

                });
            }
        };
        $(function () {
            var model = new ViewModel($("#jqxgrid"));
            ko.applyBindings(model, $("#xembangchamcong")[0]);
        });
    </script>
    <div id="xembangchamcong">
        <div class="alert alert-info" style="height:36px; background-color:#4450A0; border-color:#000000"><h4>XEM THÔNG TIN CHẤM CÔNG</h4></div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: print">
                                <i class="btn-label glyphicon glyphicon-print"></i>In
                            </a>
                            <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: chart">
                                <i class="btn-label glyphicon glyphicon-stats"></i>Biểu đồ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 10px 0px 10px 0px; text-align: center">
            <input type="text" placeholder="ngày" data-bind="value: day" style="width: 50px; height:32px; text-align: center;" maxlength="2" />
            -
            <input type="text" placeholder="tháng" data-bind="value: month" style="width: 50px;height:32px; text-align: center" maxlength="2" />
            -
            <input type="text" placeholder="năm" data-bind="value: year" style="width: 50px;height:32px; text-align: center" maxlength="4" />
            <select style="width: 150px" data-bind="options: department, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: departmentSelected, visible: webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21' "></select>
            <select data-bind="options: loaiNhanSu, optionsText: 'TenLoaiNhanSu', optionsValue: 'Oid', value: loaiNhanSuSelected, optionsCaption: 'Tất cả', visible: webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21'"></select>
            <input type="text" placeholder="Mã nhân sự" data-bind="value: name, visible: webGroupId() != '53D57298-1933-4E4B-B4C8-98AFED036E21'" style="width: 150px; height:32px; padding-left:5px;" />
            <input type="button" value="Tìm" data-bind="click: search" style="width: 60px;height:32px;" />
        </div>
        <div style="padding: 0px 0px 0px 0px; overflow-x:scroll">
            <table id="tableCC" border="1" cellpadding="1" cellspacing="0" style="padding:5px;width:1300px; background-color:white;">
                <thead>
                    <tr style="height: 30px;">
                        <th style="width: 25px;padding:5px;text-align:center;" rowspan="2">STT</th>
                        <th style="width: 200px;padding:5px;text-align:center;" rowspan="2">Họ tên</th>
                        <th data-bind="attr: { colspan: numDay }" style="padding:5px;text-align:center;">Ngày trong tháng</th>
                        <!-- ko if: CheckChot -->
                        <th rowspan="2" style="padding:5px;text-align:center;">Số ngày công</th>
                        <th rowspan="2" style="padding:5px;text-align:center;">Nghỉ có phép</th>
                        <th rowspan="2" style="padding:5px;text-align:center;">Nghỉ trừ lương</th>
                        <th rowspan="2" style="padding:5px;text-align:center;">Nghỉ chế độ ốm đau</th>
                        <th rowspan="2" style="padding:5px;text-align:center;">Nghỉ chế độ thai sản</th>
                        <!-- /ko -->
                    </tr>
                    <tr data-bind="foreach: dayInMonth">
                        <td data-bind="html: $data" style="padding:1px;text-align:center;"></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr>
                        <td align="center" data-bind="text: $index() + 1"></td>
                        <td style="padding:5px;width:200px;"><span data-bind="text: HoTen"></span></td>
                        <!-- ko foreach: ChiTietChamCong -->
                        <td align="center" style="padding:0;margin:0;" data-bind="css: { vipham: $data.MaHinhThucNghi == '+' && QuanLyViPham != null && QuanLyViPham.length > 0, kodiday: $parent.LaNhanVienGiangDay && $data.GhiChu != 'Co TKB'}">
                            <!--ko if:$data.MaHinhThucNghi == '' -->
                            <div style="width: 100%; height: 100%; background-color: #FF9393">&nbsp;</div>
                            <!-- /ko -->
                            <!--ko if:$data.MaHinhThucNghi != '' -->
                            <!-- ko if: GioVaoSang != null || GioRaChieu != null -->
                            <span class="field-tip">
                                <span data-bind="text:$data.MaHinhThucNghi"></span>
                                <span class="tip-content" style="text-align:left;">
                                    <!--ko if: GioVaoSang != null -->
                                    - Giờ vào: <span data-bind="text: moment(GioVaoSang).format('HH:mm')"></span><br />
                                    <!-- /ko -->
                                    <!--ko if: GioRaChieu != null -->
                                    - Giờ ra: <span data-bind="text: moment(GioRaChieu).format('HH:mm')"></span><br />
                                    <!-- /ko -->                                    
                                    <!--ko if: GioVaoSang != null && GioRaChieu != null -->
                                    - Tổng số giờ: <span data-bind="text: ('0' + moment.duration(moment(GioRaChieu).diff(moment(GioVaoSang))).hours()).slice(-2) + ':' + ('0' + moment.duration(moment(GioRaChieu).diff(moment(GioVaoSang))).minutes()).slice(-2)"></span><br />
                                    <!-- /ko -->
                                    <!-- ko foreach: QuanLyViPham -->
                                    - Vi phạm: <span data-bind="text: HinhThucViPham"></span>
                                    <!--ko if: ThoiGianTre != '' -->
                                    <span data-bind="text: ThoiGianTre"></span> phút<br />
                                    <!-- /ko -->
                                    <!--ko if: ThoiGianSom != '' -->
                                    <span data-bind="text: ThoiGianSom"></span> phút<br />
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </span>
                            </span>
                            <!-- /ko -->
                            <!-- ko if: GioVaoSang == null && GioRaChieu == null -->
                            <span data-bind="text:$data.MaHinhThucNghi"></span>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <!-- /ko -->
                        <!-- ko if: $parent.CheckChot -->
                        <td data-bind="text: NgayCong" style="font-weight: bold; text-align: center; width:75px"></td>
                        <td data-bind="text: NghiPhep" style="font-weight: bold; text-align: center; width:75px"></td>
                        <td data-bind="text: NghiTruLuong" style="text-align: center; width:75px"></td>
                        <td data-bind="text: NghiOmDau" style="text-align: center; width:75px"></td>
                        <td data-bind="text: NghiThaiSan" style="text-align: center; width:75px"></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 100%;" align="left">
            <div style="font-family: Tahoma,Arial; font-size: 10pt; padding-top: 10px;" align="left">
                <span style="font-weight: bold;">Ghi chú:</span><br />
                <table style="float: left; width:33%">
                    <thead>
                        <tr>
                            <td>+:</td>
                            <td>Đi làm, hội họp cả ngày</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: $index() < 4  -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <table style="float: left; width:33%">
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: ($index() >= 4) && ($index() <= 8) -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <table style="float: left; width:33%">
                    <tbody data-bind="foreach: HinhThucNghiListForUpdate">
                        <!-- ko if: $index() > 8 -->
                        <tr>
                            <td data-bind="html: $data.KyHieu + ':'"></td>
                            <td style="width:80%" data-bind="html: $data.TenHinhThucNghi"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div id="popupWindowPrint"></div>
<div id="popupWindowXemBCCChart"></div>