<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="MaDonViSuDung" value="IUH" />-->
    <add key="MaDonViSuDung" value="LUH"/>
    <!--<add key="MaDonViSuDung" value="HBU"/>-->
    <!--<add key="MaDonViSuDung" value="UTE"/>-->
    <add key="googleClientID" value="451594129928-16nescpua8mj02621uc95o8pie7ul92u.apps.googleusercontent.com" />
    <add key="googleClientSecret" value="SCL4RHtySedyNY7XLC8Ga0h-" />
    <add key="HoSoGiayToPath" value="/Resources/GiayToHoSo/" />
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.connection_string_name">PSCPortalConnectionString</property>
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <globalization uiCulture="vi-vn" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Login.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="LoginGoogleApi.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Services/ChamCongService.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Services/CaptchaImage.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <!--<clear />
    <add name="PSCPortalConnectionString" connectionString="Data Source=.;Initial Catalog=Jqwidget_demo;User ID=sa;Password=123@qaz;" providerName="System.Data.SqlClient" />-->

    <!--SERVERERP\SQL2012 PSC_HRM3-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SERVERERP\SQL2012;Initial Catalog=PSC_HRM3;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient" />-->
    
    <!--SERVERERP\SQL2012 PSC_HRM3_IUH_New-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SERVERERP\SQL2012;Initial Catalog=PSC_HRM3_IUH_New;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=172.16.2.18;Initial Catalog=Sy;Persist Security Info=True;User ID=sa;Password=spkt2014@spkt2014" providerName="System.Data.SqlClient" />-->
    <!--SERVERERP\SQL2012 PSC_HRM3_IUH_New-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SERVERERP\SQL2012;Initial Catalog=PSC_HRM3_LUH_New;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient.0" />-->
    <!--SERVERERP\SQL2012 PSC_HRM3_UTE-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SERVERERP\SQL2012;Initial Catalog=PSC_HRM3_UTE;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient" />-->
    
    <!--IUH PSC_HRM-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.0.104;Initial Catalog=PSC_HRM;Persist Security Info=True;User ID=hrm;Password=iuh@psc.com" providerName="System.Data.SqlClient" />-->

    <!--LUH 192.168.4.18 PSC_HRM-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.4.18;Initial Catalog=PSC_HRM;Persist Security Info=True;User ID=psc;Password=law@psc.com" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=220.231.93.81;Initial Catalog=PSC_HRM;Persist Security Info=True;User ID=sa;Password=law@psc.com!@#" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <!--IUH-->
    <!--<client>
      <endpoint address="http://192.168.0.104:8090/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1"
        name="BasicHttpBinding_IService1" />
    </client>-->
    <!--SERVERERP IUH-->
    <!--<client>
      <endpoint address="http://servererp:8090/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1" name="BasicHttpBinding_IService1" />
    </client>-->
    <!--SERVERERP LUH-->
    <!--<client>
      <endpoint address="http://servererp:8092/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1"
        name="BasicHttpBinding_IService1" />
    </client>-->
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>