<html>
<head>
</head>
<body>
    <div class="hrm_clear">
    </div>
    <div class="hrm_content" style="width: 900px !important">
        <table width="110%" border="1" style="border-collapse: collapse">
            <tr class="backGroundTitle" style="height: 25px;">
                <th style="width: 50px" class="textToCenter">STT</th>
                <th style="width: 150px" class="textToCenter">Loại QĐ</th>
                <th style="width: 80px" class="textToCenter">Số QĐ</th>
                <th style="width: 80px" class="textToCenter">Ngày QĐ</th>
                <th style="width: 80px" class="textToCenter">Ngày BH</th>
                <th style="width: 80px" class="textToCenter">Từ năm</th>
                <th style="width: 80px" class="textToCenter">Đến năm</th>
                <th style="width: 350px">Nội dung</th>
            </tr>
            <tbody data-bind="foreach: DanhSach_QuaTrinhCongTac">
                <tr>
                    <td data-bind="text: STT" class="textToCenter"></td>
                    <td data-bind="text: LoaiQuyetDinh" class="textToCenter"></td>
                    <td data-bind="text: SoQuyetDinh" class="textToCenter"></td>
                    <td data-bind="text: NgayQuyetDinh == null ? '' : formatDate(new Date(NgayQuyetDinh))" class="textToCenter"></td>
                    <td data-bind="text: NgayBanHanh == null ? '' : formatDate(new Date(NgayBanHanh))" class="textToCenter"></td>
                    <td data-bind="text: TuNam" class="textToCenter"></td>
                    <td data-bind="text: DenNam" class="textToCenter"></td>
                    <td data-bind="text: NoiDung"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
