
<div class="col-lg-12 col-xs-12 col-sm-12">
    <form role="form">
        <div class="form-horizontal form-bordered">
            <div style="font-family: sans-serif; font-size: 24px; color: cadetblue; text-align: center;">Khung giờ làm việc</div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Tên khung giờ:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" style="height:20px" id="tbTenCa1">
                </div>
                <label class="col-sm-2 control-label no-padding-right">Loại khung:</label>
                <div class="col-sm-3">
                    <select disabled data-bind="options:loaiCa, optionsText: 'Name', optionsValue: 'Id',value:loaiCaSelected"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Thời gian vào sáng:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioVaoSang1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutVaoSang1" />
                </div>
                <label class="col-sm-3 control-label no-padding-right">Thời gian ra chiều:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioRaChieu1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutRaChieu1" />
                </div>
                <!--<label class="col-sm-3 control-label no-padding-right">Thời gian ra sáng:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioRaSang1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutRaSang1" />
                </div>-->
            </div>
            <!-- ko if:visible -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Thời gian bắt đầu nghỉ giữa ca:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioBatDauNghi1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutBatDauNghi1" />
                </div>
                <label class="col-sm-3 control-label no-padding-right">Thời gian kết thúc nghỉ giữa ca:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioKetThucNghi1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutKetThucNghi1" />
                </div>
            </div>
            <!-- /ko -->
            <!--<div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Thời gian vào chiều:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioVaoChieu1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutVaoChieu1" />
                </div>
                <label class="col-sm-3 control-label no-padding-right">Thời gian ra chiều:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioRaChieu1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutRaChieu1" />
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Thời gian bắt đầu quét buổi sáng :</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioBatDauQuet1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutBatDauQuet1" />
                </div>
                <label class="col-sm-3 control-label no-padding-right">Thời gian kết thúc quét buổi chiều:</label>
                <div class="col-sm-2">
                    <input type="number" maxlength="2" min="1" max="24" style="height:20px;width:40px;text-align:center" id="GioKetThucQuet1" />
                    <input type="number" maxlength="2" min="0" max="59" style="height:20px;width:40px;text-align:center" id="PhutKetThucQuet1" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Số phút cộng:</label>
                <div class="col-sm-2">
                    <input type="number" style="height:20px;width:40px;text-align:center" id="SoPhutCong1" />
                </div>
                <label class="col-sm-3 control-label no-padding-right">Số phút trừ:</label>
                <div class="col-sm-2">
                    <input type="number" style="height:20px;width:40px;text-align:center" id="SoPhutTru1" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"></label>
                <div class="col-sm-7">
                    <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: Update">
                        <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
                    </a>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
    </form>
</div>