
<script type="text/javascript">
    var session= {};
    $(function () {
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../Default.html";
        //}
    });
</script>
<style type="text/css">
    .formGroup {
        padding: 10px 0px 0px 0px;
        margin: 0 auto;
    }

        .formGroup label {
            float: left;
            width: 120px;
        }

        .formGroup span {
            padding: 0px 10px;
        }

    .container {
        border: solid 1px #7F9DB9;
        width: 400px;
        height: 500px;
        overflow-y: scroll;
    }

    .form_checkbox {
        padding: 0 5px;
    }

    h3 {
        color: #3B6097;
    }

    .formEvent {
        float: right;
    }

        .formEvent a {
            color: #3B6097;
            width: 50px;
            float: left;
        }

    .validate {
        color: red;
    }
</style>
<script type="text/javascript">
    var month, year, status;
    function checkExits(month, year) {
        var check;
        $.ajax({
            type: 'POST',
            url: '/WebServices/DoDuLieuChamCongThang_CheckExists',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ thang: month, nam: year }),
            dataType: "json",
            async: false,
            success: function (result) {
                check = result;
            }
        });
        return check;
    }
    function viewModel() {
        var self = this;
        self.HinhThucNghiList = ko.observableArray();
        self.hinhThucNghiSelected = ko.observable("");
        self.Year = ko.observable(new Date().getFullYear());
        //
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetListHinhThucNghi',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.HinhThucNghiList(obj);

            }
        });
        //

    }
    viewModel.prototype = {
        save: function () {
            var self = this;

            if ($('#ddlMonth').val() == -1) {
                alert('Vui lòng chọn tháng !!');
                $('#ddlMonth').focus();
                return;
            }
            if ($('#txtYear').val() == '') {
                alert('Vui lòng nhập năm !!');
                $('#txtYear').focus();
                return;
            }
            if (isNaN($('#txtYear').val())) {
                alert('Năm không hợp lệ !!');
                $('#txtYear').focus();
                return;
            }

            //if (checkExits($('#ddlMonth').val(), $('#txtYear').val())) {
            //    alert('Tháng ' + $('#ddlMonth').val() + '/' + $('#txtYear').val() + ' đã đổ dữ liệu chấm công rồi !!');
            //    return;
            //}

            $.ajax({
                type: 'POST',
                url: '/WebServices/DoDuLieuChamCongThang',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: $('#ddlMonth').val(),
                    nam: $('#txtYear').val(),
                    idHinhThucNghi: self.hinhThucNghiSelected(),
                    webUserId: session.UserId
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    alert("Đổ dữ liệu chấm công thành công !!");
                }
            });


        }
    };
    $(function () {
        var view = new viewModel();
        ko.applyBindings(view, $("#dodulieuchamcong")[0]);
    });
</script>
<div id="dodulieuchamcong">

    <div>
        <div class="alert alert-info" style="height:36px; background-color:#4450A0; border-color:#000000"><h4>ĐỔ DỮ LIỆU CHẤM CÔNG THÁNG</h4></div>
        <div class="formGroup">
            <label>Tháng:</label>
            <select id="ddlMonth" style="width: 200px;">
                <option value="-1">--- Chọn tháng ---</option>
                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
            </select>
        </div>
    </div>
    <div class="formGroup">
        <label>Năm</label>
        <input data-bind="value: Year"  type="text" id="txtYear" style="width: 200px; padding:5px; height:32px;" maxlength="4" />
    </div>
    <div class="formGroup">
        <label>Trạng thái:</label>
        <select  data-bind="options:HinhThucNghiList, optionsText: 'TenHinhThucNghi', optionsValue: 'Oid',value:hinhThucNghiSelected"></select>
    </div>
    <div class="formGroup">
        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: save">
            <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
        </a>
    </div>
</div>

