
Default KPI

<div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-6">abc</div>
                        <div class="col-md-6">def</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-6">abc 123</div>
                        <div class="col-md-6">def 123</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>