
<form class="form-horizontal" name="KPIForm" role="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': KPIForm.name.$invalid}">
            <label for="name" class="col-md-4 control-label">Số lần đăng ký tham gia</label>
            <div class="col-md-6">
                <input name="PreviousKPI" kendo-numeric-text-box k-options="options" k-ng-model="obj.NumberOfTime" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>