<style type="text/css">
    .k-grid-content {
        max-height: 723px;
    }
</style>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-blue">
        <span class="widget-caption">Bảng danh mục cấp 2</span>
        <button style="float:right;" ng-click="New()" class="btn btn-primary"><i class="fa fa-plus"></i> </button>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div kendo-grid="grid" k-data-source="dataSource" k-options="mainGridOptions"></div>
        </div>
    </div>
</div>

