<style>
    label {
        font-weight: bold;
    }
</style>

<div class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': customerForm.inputFirstName.$invalid}">
            <label for="inputFirstName" class="col-md-4 control-label">Tên</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="inputFirstName" placeholder="Tên ..." required ng-model="obj.Name">
            </div>
            <div class="col-md-2">
                <span ng-show="customerForm.inputFirstName.$error.required" class="help-block">Required</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': customerForm.inputFirstName.$invalid}">
            <label for="inputFirstName" class="col-md-4 control-label">Tỷ trọng</label>
            <div class="col-md-6">
                <!--<input type="number" min="0" max="100" step="5" class="form-control" name="inputFirstName" placeholder="Tỷ trọng ..." required ng-model="obj.Density">-->
                <input kendo-numeric-text-box k-options="options" k-ng-model="obj.Density" />
            </div>
            <div class="col-md-2">
                <span ng-show="customerForm.inputFirstName.$error.required" class="help-block">Required</span>
            </div>
        </div>
        <div class="form-group">
            <label for="selectType" class="col-md-4 control-label">Đối tượng</label>
            <div class="col-md-6">
                <select kendo-multi-select k-options="agentObjects" k-ng-model="obj.AgentObjectIds"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>