@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Set your password</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @(Html.DevExpress()
                    .BootstrapTextBoxFor(m => m.NewPassword).Password(true))
            </div>
            <div class="form-group">
                @(Html.DevExpress()
                    .BootstrapTextBoxFor(m => m.ConfirmPassword).Password(true))
            </div>
            @(Html.DevExpress()
                .BootstrapButton()
                .Name("setPswBtn")
                .Text("Set password")
                .UseSubmitBehavior(true)
                .SettingsBootstrap(bootstrap => bootstrap.RenderOption(BootstrapRenderOption.Primary))
                .CssClasses(css => css.Control("btn btn-danger"))
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}