
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">Phòng ban - Khoa/Viện/Trung tâm</span>
        </div>
        <div class="widget-body">
            <div kendo-grid="grid" k-options="mainGridOptions4" k-data-source="dataSource2"></div>
            <div kendo-grid="grid" options="mainGridOptions5" k-data-source="dataSources"></div>
        </div>
        <!--<div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>-->
    </div>

