
<style type="text/css">
    .formGroup {
        padding: 10px 0px 0px 0px;
        margin: 0 auto;
    }

        .formGroup label {
            float: left;
            width: 200px;
        }

        .formGroup span {
            padding: 0px 10px;
        }

    .container {
        border: solid 1px #7F9DB9;
        width: 400px;
        height: 300px;
        overflow-y: scroll;
    }

    .form_checkbox {
        padding: 0 5px;
    }

    h3 {
        color: #3B6097;
    }

    .formEvent {
        float: right;
    }

        .formEvent a {
            color: #3B6097;
            width: 50px;
            float: left;
        }

    .validate {
        color: red;
    }

    table tr td {
        padding-bottom: 8px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.pathname;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data =result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
    });
</script>
<script type="text/javascript">
    function ViewModel_Detail() {
        var self = this;
        self.userName = ko.observable();
        self.passWord = ko.observable();
        self.fullName = ko.observable();
        self.email = ko.observable();
        self.accountList = ko.observableArray();
        self.accountSelected = ko.observable();
        self.departmentSelected = ko.observable();
        self.departmentSelected2 = ko.observable();
        self.status = ko.observable('true');
        self.departments = ko.observableArray();
        self.departments2 = ko.observableArray();
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_BoPhanWebGroup_GetList',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj =result;
                self.departments(obj);
                self.departments.unshift({ STT: 0, Oid: null, TenBoPhan: 'Tất cả' });
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_BoPhanWebGroup_GetList',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.departments2(obj);
            }
        });
        ko.utils.arrayForEach(self.departments(), function (val) {
            val.Chon = ko.observable(val.Chon);
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebGroup_GetList',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj =result;
                self.accountList(obj);
            }
        });
        self.allSelected = ko.observable();
        self.grid_hosonhanvien = ko.observableArray();
        self.departmentSelected_nhansu = ko.observable(null);
        self.departmentSelected_nhansu.subscribe(function (newValue) {
            if (newValue === undefined) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/WebServices/HoSoNhanVienBy_MaBoPhan',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({ maBoPhan: newValue }),
                async: false,
                success: function (result) {
                    var obj =result;
                    obj.push({ Oid: null, MaQuanLy: null, Ho: '', Ten: '' });
                    self.grid_hosonhanvien(obj);
                }
            });

            var source =
            {
                localdata: self.grid_hosonhanvien(),
                datafields:
                [
                    { name: 'Oid', type: 'string' },
                    { name: 'MaQuanLy', type: 'string' },
                    { name: 'Ho', type: 'string' },
                    { name: 'Ten', type: 'string' }
                ],
                datatype: "json"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            // initialize jqxGrid
            $("#jqxdropdownbutton").jqxDropDownButton({ width: 150, height: 25 });
            $("#jqxgrid_hosonhanvien").jqxGrid(
                {
                    width: 250,
                    source: dataAdapter,
                    pageable: true,
                    autoheight: true,
                    autorowheight: true,
                    columnsresize: true,
                    showfilterrow: true,
                    filterable: true,
                    columns: [
                        { text: 'Mã quản lý', datafield: 'MaQuanLy', width: 90, },
                        { text: 'Họ', datafield: 'Ho', width: 90, },
                        { text: 'Tên', datafield: 'Ten', columntype: 'textbox', width: 70, },
                    ]
                });
            $("#jqxgrid_hosonhanvien").on('rowselect', function (event) {
                var args = event.args;
                var row = $("#jqxgrid_hosonhanvien").jqxGrid('getrowdata', args.rowindex);
                if (row == undefined)
                    return;
                var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + row['Ho'] + ' ' + row['Ten'] + '</div>';
                $("#jqxdropdownbutton").jqxDropDownButton('setContent', dropDownContent);
            });
            var rows = $('#jqxgrid_hosonhanvien').jqxGrid('getrows');
            $("#jqxgrid_hosonhanvien").jqxGrid('selectrow', rows.length - 1);
        });
    }
    function ViewModel(datagrid) {
        var self = this;
        self.datagrid = datagrid;
        self.items = ko.observableArray();

        self.source =
        {
            id: 'Id',
            datafields: [
               { name: 'Oid', type: 'string' },
               { name: 'SoHieuCongChuc', type: 'string' },
               { name: 'UserName', type: 'string' },
               { name: 'HoVaTen', type: 'string' },
               { name: 'Email', type: 'string' },
               { name: 'HoatDong', type: 'bool' },
               { name: 'TenBoPhan', type: 'string' },
               { name: 'LoaiTaiKhoan', type: 'string' }
            ],
            datatype: "json",
            // localdata: self.items()
            url: "/WebServices/GetList_QuanLyUserQuanTri",
            beforeprocessing: function (result) {
                self.returnData =result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
        {
            source: self.dataAdapter,
            width: '100%',
            selectionmode: 'checkbox',
            pageable: true,
            pagesize: 20,
            sortable: true,
            filterable: true,
            autorowheight: true,
            autoheight: true,
            theme: "darkBlue",
            columns: [
                {
                    text: 'STT', columntype: 'number', width: 35, editable: false,
                    cellsrenderer: function (row, column, value) {

                        return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                    }
                },
                { text: 'Mã nhân sự', datafield: 'SoHieuCongChuc', width: 120, align: 'center' },
                {
                    text: 'Tên user', datafield: 'UserName', width: 190, align: 'center',
                    cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties) {
                        var item = self.datagrid.jqxGrid('getrowdata', row);
                        return "<div class='jqx-grid-cell-child' style='text-align:left;'><a href='/#/kpi/userDetail?Id=" + item.Oid + "' style=''>" + cellvalue + "</a></div>";
                    }
                },
                { text: 'Họ tên', datafield: 'HoVaTen', width: 150, align: 'center' },
                { text: 'Tên bộ phận', datafield: 'TenBoPhan', width: 150, align: 'center' },
                { text: 'Loại tài khoản', datafield: 'LoaiTaiKhoan', width: 100, align: 'center' },
                { text: 'Email', datafield: 'Email', width: 150, align: 'center' },
                {
                    text: 'Trạng thái', datafield: 'HoatDong', columntype: 'checkbox', align: 'center', cellsalign: "middle"
                }
            ]
        });
    }
    ViewModel_Detail.prototype = {
        refreshObj: function () {
            var self = this;
            self.userName("");
            self.passWord("");
            self.accountSelected("");
            self.departmentSelected("");
            self.status('true');
            self.departmentSelected_nhansu(undefined);
            self.allSelected(false);
        },
        selectAll: function () {
            var self = this;
            ko.utils.arrayForEach(self.departments(), function (val) {
                val.Chon(!self.allSelected());
            });
            return true;
        },
        validate: function () {
            var self = this;
            return $.trim(self.userName()).length != 0 && $.trim(self.passWord()).length != 0;
        },
        validateUsernameExist: function (webUserId, userName) {
            var temp;
            $.ajax({
                type: 'POST',
                url: '/WebServices/WebUsers_KiemTraTrungUsername',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON({ webUserId: webUserId, userName: userName }),
                async: false,
                success: function (result) {
                    temp =result;
                }
            });
            return temp;
        },

        save: function () {
            var self = this;
            if (!self.validate())
                return;
            if (self.validateUsernameExist(null, self.userName())) {
                alert("Tên đăng nhập đã tồn tại");
                $("#txtUserName").focus();
                return;
            }
            self.departments.remove(function (item) { return item.Oid == null });
            var getselectedrowindexes = $('#jqxgrid_hosonhanvien').jqxGrid('getselectedrowindexes');
            if (getselectedrowindexes != undefined)
                var selectedrow_hsnhanvien = $('#jqxgrid_hosonhanvien').jqxGrid('getrowdata', getselectedrowindexes[0]);
            ko.utils.arrayForEach(self.departments(), function (val) {
                val.Chon = val.Chon();
            });

            var obj =
            {
                ThongTinNhanVien: self.departmentSelected_nhansu() == undefined ? null : selectedrow_hsnhanvien.Oid,
                UserName: self.userName(),
                Password: self.passWord(),
                HoatDong: self.status(),
                DanhSachDTO_BoPhan: self.departments(),
                WebGroupID: self.accountSelected() == undefined ? null : self.accountSelected(),
                DepartmentId: self.departmentSelected2() == undefined ? null : self.departmentSelected2()
            };
            $.ajax({
                data: JSON.stringify({ obj: obj }),
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                url: '/WebServices/Save_QuanLyUser',
                async: false,
                dataType: "json",
                success: function (result) {
                    alert("Lưu thành công !!");
                    $("#jqxgrid").jqxGrid('updatebounddata');
                    $("#popupWindow").jqxWindow('hide');

                }
            });
        }

    };
    ViewModel.prototype = {
        createNew: function () {
            $.get('/app/views/chamcong/User/AddNew.html', function (data) {
                $('#popupWindow').html(data);
                ko.cleanNode($('#popupWindow')[0]);
                $('#popupWindow').kendoWindow({
                    width: "80%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "10%",
                        left: "10%"
                    }

                });
                $('#popupWindow').data("kendoWindow").open();
                ko.applyBindings(new ViewModel_Detail(), document.getElementById('popupWindow'));
            });

        },
        xoa: function () {
            var self = this;
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var r = confirm("Bạn có chắc xóa hay không ?");
            if (r == true) {
                var selectedRecords = new Array();
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    selectedRecords.push({
                        Oid: row.Oid
                    });
                }
                if (selectedRecords.length > 0) {

                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/WebUsers_XoaUsers',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            userList: selectedRecords,
                            khoa: true
                        }),
                        success: function (result) {
                            alert("Xóa thành công !!");
                            self.datagrid.jqxGrid('updatebounddata');
                            self.datagrid.jqxGrid('clearselection');
                        }
                    });
                }
            } else {
                return;
            }
        }
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#userManage")[0]);
    });

</script>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
            <div class="row">
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: createNew">
                        <i class="btn-label glyphicon glyphicon-ok"></i>Tạo mới
                    </a>
                </div>
                <div class="col-lg-2 col-xs-12 col-sm-6">
                    <a href="#" class="btn btn-labeled btn-danger" style="width: 158px;" data-bind="click: xoa">
                        <i class="btn-label glyphicon glyphicon-remove"></i>Xóa
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 10px 0px 0px 0px;">
    <div id="jqxgrid"></div>
</div>
<div id="popupWindow"></div>

