
<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.UserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
    });
</script>
<script src="../../../../Components/jqwidgets/jqxdata.export.js"></script>
<script type="text/javascript">

    function ViewModel(datagrid) {
        var daXetAbc = [
           { Id: null, Name: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.TAT_CA") },
           { Id: false, Name: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.CHUA_XET") },
           { Id: true, Name: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.DA_XET") }
        ];
        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.month = ko.observable(new Date().getMonth() + 1);
        self.year = ko.observable(new Date().getFullYear());
        self.daXetAbc = ko.observableArray(daXetAbc);
        self.daXetAbcSelected = ko.observable(null);
        self.items = ko.observableArray();
        self.company = ko.observableArray();
        self.companySelected = ko.observable(null);
        $.ajax({
            type: 'POST',
            url: '/WebServices/QuanLyChamCong_GetCompanyListOfUser_New',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({ userId: session.UserId }),
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.company(obj);
                if (obj[0] != null)
                    self.companySelected(obj[0].Oid);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/KiemTraPhongBanXetABC_Find',
            async: false,
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                thang: self.month(),
                nam: self.year(),
                daXetXongAbc: self.daXetAbcSelected(),
                congTy: self.companySelected()
            }),
            dataType: "json",
            success: function (result) {
                var data = result;
                self.items(data);
            }
        });
        self.source =
        {
            id: 'Id',
            datafields: [
               { name: 'TenPhongBan', type: 'string' },
               { name: 'ThangNam', type: 'string' },
               { name: 'TrangThai', type: 'string' }
            ],
            datatype: "json",
            url: "/WebServices/KiemTraPhongBanXetABC_Find",
            localdata: self.items(),
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source);
        self.datagrid.jqxGrid({
            source: self.dataAdapter,
            width: '100%',
            pageable: true,
            pagesize: 20,
            sortable: true,
            filterable: true,
            autoheight: true,
            theme: "darkBlue",
            columns: [
                {
                    text: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.TABLE.STT"), columntype: 'number', width: 45, editable: false, cellsrenderer: function (row, column, value) {
                        return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                    }
                },
                { text: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.TABLE.PHONG_BAN"), datafield: 'TenPhongBan', width: 610, align: 'center' },
                { text: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.TABLE.THANG"), datafield: 'ThangNam', cellsalign: "middle", width: 100, align: 'center' },
                { text: dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.TABLE.TRANG_THAI"), datafield: 'TrangThai', cellsalign: "middle", align: 'center' }

            ]
        });
        self.datagrid.jqxGrid('rendered', function () {
            self.datagrid.jqxGrid('localizestrings', jqxLocalization());
        });
    }
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.month()) || self.month() < 0 || self.month() > 12) {
                alert(dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.ALERT.THANG_KHONG_HOP_LE"));
                return true;
            }
            else if (isNaN(self.year()) || self.year() < 0) {
                alert(dataLocalize("KIEM_TRA_CHOT_CONG_DON_VI.ALERT.NAM_KHONG_HOP_LE"));
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            $.ajax({
                type: 'POST',
                url: '/WebServices/KiemTraPhongBanXetABC_Find',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    thang: self.month(),
                    nam: self.year(),
                    daXetXongAbc: self.daXetAbcSelected(),
                    congTy: self.companySelected()
                }),
                dataType: "json",
                success: function (result) {
                    var data = result;
                    self.source.localdata = data;
                    self.dataAdapter = new $.jqx.dataAdapter(self.source);
                    self.datagrid.jqxGrid({ source: self.dataAdapter });
                }
            });
        },
        excel: function () {
            this.datagrid.jqxGrid('exportdata', 'xls', 'jqxgrid');
        }

    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"), $("#userManage"));
        ko.applyBindings(model, $("#kiemtraxetabc")[0]);
    });
</script>

<div id="kiemtraxetabc">
    <div class="alert alert-info" style="height:36px; background-color:#00234e; border-color:#000000"><h4><span data-i18n="KIEM_TRA_CHOT_CONG_DON_VI.KIEM_TRA_CHOT_CONG_DON_VI">KIỂM TRA CHỐT CÔNG ĐƠN VỊ</span></h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-info" style="width: 158px;" data-bind="click: excel">
                            <i class="btn-label glyphicon glyphicon-random"></i><span data-i18n="KIEM_TRA_CHOT_CONG_DON_VI.XUAT_EXCEL">Xuất Excel</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 5px 0px; text-align: center">

        <input type="text" data-i18n="[placeholder]KIEM_TRA_CHOT_CONG_DON_VI.THANG" placeholder="tháng" data-bind="value:month" style="width: 50px;height:32px; text-align: center" maxlength="2" />
        -
        <input type="text" data-i18n="[placeholder]KIEM_TRA_CHOT_CONG_DON_VI.NAM" placeholder="năm" data-bind="value:year" style="width: 50px;height:32px; text-align: center" maxlength="4" />
        <!-- ko if: company().length > 1 -->
        <select style="width: 250px" data-bind="options: company, optionsText: function (type) { return type.STT + '. ' + type.TenBoPhan }, optionsValue: 'Oid', value: companySelected"></select>
        <!-- /ko -->
        <select data-bind="options:daXetAbc, optionsText: 'Name', optionsValue: 'Id',value:daXetAbcSelected"></select>
        <input type="button" data-i18n="[value]KIEM_TRA_CHOT_CONG_DON_VI.TIM" value="Tìm" data-bind="click:search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 10px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
</div>
