<script type="text/javascript">
    var session = {};
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var source;
        var pathname = window.location.href;
        $.ajax({
            type: 'POST',
            url: '/WebServices/WebMenu_GetURLListBy_WebUserId',
            contentType: "application/json; charset=utf-8",
            data: ko.toJSON({
                webUserId: session.webUserId
            }),
            dataType: "json",
            async: false,
            success: function (result) {
                var data = result;
                source = data;
            }
        });
        var check = $.inArray(pathname.split("/")[4], source);
        //if (check < 0) {
        //    window.location.href = "../../Default.html";
        //}
    });
</script>
<script type="text/javascript">

    function ViewModel(datagrid) {

        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.isEdit = ko.observable(false);
        var loaiCaArr = [
    { Id: 0, Name: "Không nghỉ giữa giờ" },
    { Id: 1, Name: "Nghỉ giữa giờ" },
        ];
        self.loaiCa = ko.observableArray(loaiCaArr);
        self.visible = ko.observable();
        self.loaiCaSelected = ko.observable();
        self.loaiCaSelected.subscribe(function (newValue) {
            if (newValue==0)
            {
                self.visible(false);
            }
            else
            {
                self.visible(true);
            }
        });
        self.loaiCaSelected(loaiCaArr[1].Id);
        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'TenCa', type: 'string' },
                { name: 'LoaiCa', type: 'string' },
                { name: 'ThoiGianVaoSang', type: 'string' },
                { name: 'ThoiGianRaSang', type: 'string' },
                { name: 'ThoiGianBatDauNghiGiuaCa', type: 'string' },
                { name: 'ThoiGianKetThucNghiGiuaCa', type: 'string' },
                { name: 'ThoiGianVaoChieu', type: 'string' },
                { name: 'ThoiGianRaChieu', type: 'string' },
                { name: 'ThoiGianBDQuetBuoiSang', type: 'string' },
                { name: 'ThoiGianKTQuetBuoiChieu', type: 'string' },
                { name: 'SoPhutCong', type: 'string' },
                { name: 'SoPhutTru', type: 'string' },
                { name: 'TongSoGioNghiGiuaCa', type: 'string' },
                { name: 'TongSoGioLamViecBuoiSang', type: 'string' },
                { name: 'TongSoGioLamViecBuoiChieu', type: 'string' },
                { name: 'TongSoGioLamViecCaNgay', type: 'string' }
            ],
            id: 'Id',
            url: "/WebServices/GetList_CaChamCong",
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.checkDangSuDung = function (Oid) {
            var check;

            $.ajax({
                type: 'POST',
                url: '/WebServices/CaChamCong_CheckDangSuDung',
                contentType: "application/json; charset=utf-8",
                data: ko.toJSON({
                    Oid:Oid
                }),
                dataType: "json",
                async: false,
                success: function (result) {
                    check = result;
                }
            });
            return check;
        }
        var cellsrenderer = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 15px;">' + value + '</div>';
        }
        var leftcellsrenderer = function (row, column, value) {
            return '<div style="text-align: left; margin-top: 15px;margin-left:5px">' + value + '</div>';
        }
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                width: '100%',
                selectionmode: 'checkbox',
                pageable: true,
                pagesize: 10,
                sortable: true,
                rowsheight: 50,
                filterable: true,
                autorowheight: true,
                autoheight: true,
                theme: "darkBlue",
                columns: [
                    {
                        text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                            return "<div style='text-align:center;margin-top:15px;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: 'Tên khung giờ', datafield: 'TenCa', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: leftcellsrenderer
                    },
                    {
                        text: 'Loại khung', datafield: 'LoaiCa', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: leftcellsrenderer
                    },
                    {
                        text: 'Vào sáng', datafield: 'ThoiGianVaoSang', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    //{
                    //    text: 'Ra sáng', datafield: 'ThoiGianRaSang', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    //},
                    {
                        text: 'Bắt đầu nghỉ', datafield: 'ThoiGianBatDauNghiGiuaCa', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Kết thúc nghỉ', datafield: 'ThoiGianKetThucNghiGiuaCa', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    //{
                    //    text: 'Vào chiều', datafield: 'ThoiGianVaoChieu', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    //},
                    {
                        text: 'Ra chiều', datafield: 'ThoiGianRaChieu', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Bắt đầu quét', datafield: 'ThoiGianBDQuetBuoiSang', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Kết thúc quét', datafield: 'ThoiGianKTQuetBuoiChieu', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Số phút cộng', datafield: 'SoPhutCong', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Số phút trừ', datafield: 'SoPhutTru', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    {
                        text: 'Số giờ nghỉ', datafield: 'TongSoGioNghiGiuaCa', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    },
                    //{
                    //    text: 'Số giờ ca sáng', datafield: 'TongSoGioLamViecBuoiSang', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    //},
                    //{
                    //    text: 'Số giờ ca chiều', datafield: 'TongSoGioLamViecBuoiChieu', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    //},
                    {
                        text: 'Cả ngày', datafield: 'TongSoGioLamViecCaNgay', width: 120, align: 'center', cellsalign: "middle", cellsrenderer: cellsrenderer
                    }

                ]
            });
    }
    ViewModel.prototype = {
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        New: function () {
            var self = this;
            $.get('/app/views/chamcong/QuanLyChamCong/CaChamCong_New.html', function (data) {
                $('#popupWindowCCCNew').html(data);
                ko.cleanNode($('#popupWindowCCCNew')[0]);
                $('#popupWindowCCCNew').kendoWindow({
                    width: "70%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "20%"
                    }
                });
                $('#popupWindowCCCNew').data("kendoWindow").open();
                ko.applyBindings(self, document.getElementById('popupWindowCCCNew'));
            });
        },
        Edit: function () {
            var self = this;
            var getselectedrowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrowindexes[0]);
            if (getselectedrowindexes.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            if (getselectedrowindexes.length >1) {
                alert("Chỉ được chọn 1 dòng !!");
                return;
            }
            
            $.get('/app/views/chamcong/QuanLyChamCong/CaChamCong_Update.html', function (data) {
                $('#popupWindowCCCEdit').html(data);
                ko.cleanNode($('#popupWindowCCCEdit')[0]);
                $('#popupWindowCCCEdit').kendoWindow({
                    width: "70%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "15%"
                    }

                });
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/CaChamCong_GetByID',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({ id: selectedrow.Oid }),
                    async: false,
                    success: function (result) {
                        var obj = result;
                        $("#tbTenCa1").val(obj.TenCa);
                        self.loaiCaSelected(obj.LoaiCa);

                        $("#GioVaoSang1").val(obj.GioVaoSang);
                        $("#PhutVaoSang1").val(obj.PhutVaoSang);

                        //$("#GioRaSang1").val(obj.GioRaSang);
                        //$("#PhutRaSang1").val(obj.PhutRaSang);

                        $("#GioBatDauNghi1").val(obj.GioBatDauNghi);
                        $("#PhutBatDauNghi1").val(obj.PhutBatDauNghi);

                        $("#GioKetThucNghi1").val(obj.GioKetThucNghi);
                        $("#PhutKetThucNghi1").val(obj.PhutKetThucNghi);

                        //$("#GioVaoChieu1").val(obj.GioVaoChieu);
                        //$("#PhutVaoChieu1").val(obj.PhutVaoChieu);

                        $("#GioRaChieu1").val(obj.GioRaChieu);
                        $("#PhutRaChieu1").val(obj.PhutRaChieu);

                        $("#GioBatDauQuet1").val(obj.GioBatDauQuet);
                        $("#PhutBatDauQuet1").val(obj.PhutBatDauQuet);

                        $("#GioKetThucQuet1").val(obj.GioKetThucQuet);
                        $("#PhutKetThucQuet1").val(obj.PhutKetThucQuet);

                        $("#SoPhutCong1").val(obj.SoPhutCong);
                        $("#SoPhutTru1").val(obj.SoPhutTru);
                    }
                });
                $('#popupWindowCCCEdit').data("kendoWindow").open();

                ko.applyBindings(self, document.getElementById('popupWindowCCCEdit'));
            });
        },
        Update: function () {
            var self = this;
            var getselectedrow_edit = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrow_edit[0]);

                if (self.checkDangSuDung(selectedrow.Oid)) {
                    alert('Ca chấm công đang được sử dụng !!');
                    return;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/CaChamCong_Save',
                        contentType: "application/json; charset=utf-8",
                        data: ko.toJSON({
                            Oid: selectedrow.Oid,
                            TenCa: $("#tbTenCa1").val(),
                            LoaiCa:self.loaiCaSelected(),
                            GioVaoSang: $("#GioVaoSang1").val(),
                            PhutVaoSang: $("#PhutVaoSang1").val(),

                            //GioRaSang: $("#GioRaSang1").val(),
                            //PhutRaSang: $("#PhutRaSang1").val(),

                            GioBatDauNghi: $("#GioBatDauNghi1").val(),
                            PhutBatDauNghi: $("#PhutBatDauNghi1").val(),

                            GioKetThucNghi: $("#GioKetThucNghi1").val(),
                            PhutKetThucNghi: $("#PhutKetThucNghi1").val(),

                            //GioVaoChieu: $("#GioVaoChieu1").val(),
                            //PhutVaoChieu: $("#PhutVaoChieu1").val(),

                            GioRaChieu: $("#GioRaChieu1").val(),
                            PhutRaChieu: $("#PhutRaChieu1").val(),

                            GioBatDauQuet: $("#GioBatDauQuet1").val(),
                            PhutBatDauQuet: $("#PhutBatDauQuet1").val(),

                            GioKetThucQuet: $("#GioKetThucQuet1").val(),
                            PhutKetThucQuet: $("#PhutKetThucQuet1").val(),

                            SoPhutCong: $("#SoPhutCong1").val(),
                            SoPhutTru: $("#SoPhutTru1").val(),
                        }),
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            var obj = result;
                            if (obj.message == 'success') {
                                alert("Lưu thành công !!");
                                $("#jqxgrid").jqxGrid('updatebounddata');
                                $("#popupWindowCCCEdit").data("kendoWindow").close();
                            }
                            else {

                                alert("Lưu thất bại !!");
                                $("#jqxgrid").jqxGrid('updatebounddata');
                                $("#popupWindowCCCEdit").data("kendoWindow").close();
                            }
                        }
                    });
                    return;
            }
        },
        Create: function () {
            var self = this;

                $.ajax({
                    type: 'POST',
                    url: '/WebServices/CaChamCong_Save',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        Oid: "",
                        TenCa: $("#tbTenCa").val(),
                        LoaiCa: self.loaiCaSelected(),
                        GioVaoSang: $("#GioVaoSang").val() == '' ? 0 : $("#GioVaoSang").val(),
                        PhutVaoSang: $("#PhutVaoSang").val() == '' ? 0 : $("#PhutVaoSang").val(),

                        //GioRaSang: $("#GioRaSang").val(),
                        //PhutRaSang: $("#PhutRaSang").val(),

                        GioBatDauNghi: $("#GioBatDauNghi").val() == '' ? 0 : $("#GioBatDauNghi").val(),
                        PhutBatDauNghi: $("#PhutBatDauNghi").val() == '' ? 0 : $("#PhutBatDauNghi").val(),

                        GioKetThucNghi: $("#GioKetThucNghi").val() == '' ? 0 : $("#GioKetThucNghi").val(),
                        PhutKetThucNghi: $("#PhutKetThucNghi").val(),

                        //GioVaoChieu: $("#GioVaoChieu").val(),
                        //PhutVaoChieu: $("#PhutVaoChieu").val(),

                        GioRaChieu: $("#GioRaChieu").val() == '' ? 0 : $("#GioRaChieu").val(),
                        PhutRaChieu: $("#PhutRaChieu").val() == '' ? 0 : $("#PhutRaChieu").val(),

                        GioBatDauQuet: $("#GioBatDauQuet").val() == '' ? 0 : $("#GioBatDauQuet").val(),
                        PhutBatDauQuet: $("#PhutBatDauQuet").val() == '' ? 0 : $("#PhutBatDauQuet").val(),

                        GioKetThucQuet: $("#GioKetThucQuet").val() == '' ? 0 : $("#GioKetThucQuet").val(),
                        PhutKetThucQuet: $("#PhutKetThucQuet").val() == '' ? 0 : $("#PhutKetThucQuet").val(),

                        SoPhutCong: $("#SoPhutCong").val() == '' ? 0 : $("#SoPhutCong").val(),
                        SoPhutTru: $("#SoPhutTru").val() == '' ? 0 : $("#SoPhutTru").val(),
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        var obj = result;
                        if (obj.message == 'success') {
                            alert("Lưu thành công !!");
                            $("#jqxgrid").jqxGrid('updatebounddata');
                            $("#popupWindowCCCNew").data("kendoWindow").close();
                        }
                        else {
                            alert("Không thể lưu. Vui lòng kiểm tra dữ liệu !!");
                        }
                    }
                });
        },
        remove: function () {
            var self = this;
            var getselectedrowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrowindexes[0]);
            if (getselectedrowindexes.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            if (getselectedrowindexes.length > 1) {
                alert("Chỉ được chọn 1 dòng !!");
                return;
            }
            var r = confirm("Bạn có chắc xóa hay không ?");
            if (r == true) {
                if (self.checkDangSuDung(selectedrow.Oid)) {
                    alert('Ca chấm công đang được sử dụng !!');
                    return;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/CaChamCong_Delete',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            Oid: selectedrow.Oid,
                        }),
                        success: function (result) {
                            var obj = result;
                            if (obj.message == 'success')
                            {
                                alert("Xóa thành công !!");
                                self.datagrid.jqxGrid('updatebounddata');
                                self.datagrid.jqxGrid('clearselection');
                            }
                            else
                            {
                                alert("Không thể xóa !!");
                                self.datagrid.jqxGrid('updatebounddata');
                                self.datagrid.jqxGrid('clearselection');
                            }
                        }
                    });
                }
            } else {
                return;
            }
        },

    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#ChamCongNgayNghi")[0]);
    });
</script>
<div id="ChamCongNgayNghi">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: New">
                            <i class="btn-label glyphicon glyphicon-tags"></i>Tạo mới
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-blue" style="width: 158px;" data-bind="click: Edit">
                            <i class="btn-label glyphicon glyphicon-pencil"></i>Hiệu chỉnh
                        </a>
                    </div>

                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: remove">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Xóa
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
           </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
    <div id="popupWindowCCCNew"></div>
    <div id="popupWindowCCCEdit"></div>
</div>

