<script type="text/javascript">
    function ViewModel(datagrid) {
        var self = this;
        var session = {};
        self.Id = ko.observable();
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
                self.Id(session.Id);
            }
        });
        self.lyDoList = ko.observableArray();
        self.lyDoSelected = ko.observable();
        self.thuList = ko.observableArray([
{ Id: 1, Name: "T2" },
{ Id: 2, Name: "T3" },
{ Id: 3, Name: "T4" },
{ Id: 4, Name: "T5" },
{ Id: 5, Name: "T6" }
        ]);
        ko.utils.arrayForEach(self.thuList(), function (val) {
            val.Chon = ko.observable(val.Chon);
        });
        $.ajax({
            type: 'POST',
            url: '/WebServices/GetList_LyDo',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var obj = result;
                self.lyDoList(obj);
            }
        });
        self.returnData = [];
        self.datagrid = datagrid;
        self.month = ko.observable(new Date().getMonth() + 1);
        self.year = ko.observable(new Date().getFullYear());
        self.source = {
            datatype: 'json',
            datafields: [
            { name: 'Oid', type: 'string' },
            { name: 'ThoiGianBatDau', type: 'string' },
            { name: 'ThoiGianKetThuc', type: 'string' },
            { name: 'SoPhutDangKy', type: 'string' },
            { name: 'SoPhutThucTe', type: 'string' },
            { name: 'Ngay', type: 'date' },
            { name: 'LyDo', type: 'string' },
            { name: 'Duyet', type: 'string' }
            ],
            id: 'Id',
            sortcolumn: 'Name',
            sortdirection: 'asc',
            url: "/WebServices/CaNhanDangKyChamCongNgoaiGio_Find",
            formatdata: function (data) {
                return {
                    thang: self.month(),
                    nam: self.year(),
                    idNhanVien: self.Id()
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                width: '100%',
                selectionmode: 'checkbox',
                pageable: true,
                pagesize: 10,
                sortable: true,
                autoheight: true,
                autorowheight: true,
                theme: "darkBlue",
                columns: [
                     {
                         text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                             return "<div style='text-align:center;margin-top:5px;'>" + (value + 1) + "</div>";
                         }
                     },

                     {
                         text: 'Ngày', datafield: 'Ngay', width: 100, cellsformat: 'dd/MM/yyyy', align: 'center', cellsalign: "middle"
                     },
                     {
                         text: 'TG bắt đầu', datafield: 'ThoiGianBatDau', width: 100, align: 'center', cellsalign: "middle",
                     },
                     {
                         text: 'TG kết thúc', datafield: 'ThoiGianKetThuc', width: 100, align: 'center', cellsalign: "middle",
                     },
                     {
                         text: 'Số phút đăng ký', datafield: 'SoPhutDangKy', width: 130, align: 'center', cellsalign: "middle",
                     },
                     {
                         text: 'Số phút thực tế', datafield: 'SoPhutThucTe', width: 130, align: 'center', cellsalign: "middle",
                     },
                     {
                         text: 'Lý do', datafield: 'LyDo',  align: 'center', 
                     },
                     {
                         text: 'Trạng thái', datafield: 'Duyet', width: 80, align: 'center', cellsalign: "middle",
                         cellsrenderer: function (row, columnfield, cellvalue, defaulthtml, columnproperties) {
                             var str = "";
                             if (cellvalue == 0) {
                                 str = "<img src='/Images/InfoSmall.jpg' style='padding:2px 0px 0px 30px;' />";
                             }
                             if (cellvalue == 1) {
                                 str = "<img src='/Images/TT_yes.png' style='padding:2px 0px 0px 30px;'/>";
                             }
                             if (cellvalue == 2) {
                                 str = "<img src='/Images/TT_no.png' style='padding:2px 0px 0px 30px;'/>";
                             }
                             return str;
                         }
                     }
                ]
            });

    }
    //================
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.month()) || self.month() < 0 || self.month() > 12) {
                alert("Tháng không hợp lệ");
                return true;
            }
            else if (isNaN(self.year()) || self.year() < 0) {
                alert("Năm không hợp lệ");
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        New: function () {
            var self = this;
            $.get('/app/views/chamcong/QuanLyChamCong/DangKyChamCongNgoaiGio_New.html', function (data) {
                $('#popupWindowCCNGNew').html(data);
                ko.cleanNode($('#popupWindowCCNGNew')[0]);
                $('#popupWindowCCNGNew').kendoWindow({
                    width: "50%",
                    title: "",
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "20%"
                    }

                });
                $('#popupWindowCCNGNew').data("kendoWindow").open();
                $("#jqxFromDate1").jqxDateTimeInput({ width: '250px', height: '25px' });
                $("#jqxToDate1").jqxDateTimeInput({ width: '250px', height: '25px' });
                ko.applyBindings(self, document.getElementById('popupWindowCCNGNew'));
            });
        },
        save: function () {
            var self = this;
            ko.utils.arrayForEach(self.thuList(), function (val) {
                val.Chon = val.Chon();
            });
            var obj =
            {
                ThongTinNhanVien: self.Id(),
                DanhSachDTO_Thu: self.thuList(),
                TuNgay: $('#jqxFromDate1').jqxDateTimeInput('getDate'),
                DenNgay: $('#jqxToDate1').jqxDateTimeInput('getDate'),
                GioBatDau: $("#GioBatDau").val(),
                PhutBatDau: $("#PhutBatDau").val(),
                GioKetThuc: $("#GioKetThuc").val(),
                PhutKetThuc: $("#PhutKetThuc").val(),
                LyDo: self.lyDoSelected()
            };
            $.ajax({
                type: 'POST',
                data: JSON.stringify({ obj: obj }),
                contentType: "application/json; charset=utf-8",
                url: '/WebServices/Save_DangKyChamCongNgoaiGio',
                async: false,
                dataType: "json",
                success: function (result) {
                    alert("Lưu thành công !!");
                    $("#jqxgrid").jqxGrid('updatebounddata');
                    $("#popupWindowCCNGNew").data("kendoWindow").close();
                    location.reload();
                }
            });
        },
        remove: function () {
            var self = this;
            var rows = self.datagrid.jqxGrid('selectedrowindexes');
            if (rows.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            var r = confirm("Bạn có chắc chắn xoá hay khôngg ?");
            if (r == true) {
                var selectedRecords = new Array();
                for (var i = 0, l = rows.length; i < l ; i++) {
                    var row = self.datagrid.jqxGrid('getrowdata', rows[i]);
                    selectedRecords.push({
                        Oid: row.Oid,
                        Duyet: row.Duyet
                    });
                }
                if (selectedRecords.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/CaNhanDangKyChamCongNgoaiGio_DeleteList',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            list: selectedRecords
                        }),
                        complete: function (result) {
                            alert("Xóa thành công !!");
                            self.datagrid.jqxGrid('updatebounddata');
                            self.datagrid.jqxGrid('clearselection');
                        }
                    });
                }
            }
            else {
                return;
            }
        }
    };
    //=============
    $(function () {
        var session = {};     
        $.ajax({
            type: 'POST',
            url: '/Authentication/GetUserSessionInfo',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                session = result;
            }
        });
        var model = new ViewModel($("#jqxgrid"));          
        ko.applyBindings(model, $("#quanlycongtac")[0]);   
    });
</script>

<div id="quanlycongtac">

    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left:15px;">
                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: New">
                            <i class="btn-label glyphicon glyphicon-ok"></i>Tạo mới
                        </a>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-6">
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: remove">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Xóa
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <input type="text" placeholder="tháng" data-bind="value: month" style="width: 50px;height:32px; text-align: center" maxlength="2" />
        -
        <input type="text" placeholder="năm" data-bind="value: year" style="width: 50px;height:32px; text-align: center" maxlength="4" />
        <input type="button" value="Tìm" data-bind="click: search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
    <div id="popupWindowCCNGNew"></div>
    <div id="popupWindowCCNGEdit"></div>
</div>