
<div class="col-lg-12 col-xs-12 col-sm-12">
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ngày trả phép:</label>
            <div class="col-sm-7">
                <div id='jqxNgayTraPhepDate'></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <div class="col-sm-7">
                <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: LuuTraPhep">
                    <i class="btn-label glyphicon glyphicon-ok"></i>Lưu
                </a>
            </div>
        </div>
        <div class="form-group">
        </div>
    </div>
</div>