<script type="text/javascript">

    function ViewModel(datagrid) {

        var self = this;
        self.returnData = [];
        self.datagrid = datagrid;
        self.year = ko.observable(new Date().getFullYear());
        self.NghiBu = ko.observable(false);  
        self.source =
        {
            datatype: "json",
            datafields: [
                { name: 'Oid', type: 'string' },
                { name: 'TenNgayNghi', type: 'string' },
                { name: 'NgayNghi', type: 'date' },
                { name: 'NgayNghiBu', type: 'date' }
            ],
            id: 'Id',
            url: "/WebServices/NgayNghiTrongNam_Find",
            formatdata: function (data) {
                return {
                    nam: self.year()
                };
            },
            beforeprocessing: function (result) {
                self.returnData = result;
                return self.returnData;
            }
        };
        self.dataAdapter = new $.jqx.dataAdapter(self.source, { contentType: 'application/json; charset=utf-8' });
        self.datagrid.jqxGrid(
            {
                source: self.dataAdapter,
                width: '100%',
                selectionmode: 'checkbox',
                pageable: true,
                pagesize: 10,
                sortable: true,
                rowsheight: 50,
                filterable: true,
                autorowheight: true,
                autoheight: true,
                theme: "darkBlue",
                columns: [
                    {
                        text: 'STT', columntype: 'number', width: 35, editable: false, cellsrenderer: function (row, column, value) {
                            return "<div class='jqx-grid-cell-child'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: 'Tên ngày nghỉ', datafield: 'TenNgayNghi', align: 'center',
                    },
                     {
                         text: 'Ngày nghỉ', datafield: 'NgayNghi', width: 180, align: 'center', cellsalign: "middle", cellsformat: 'd/M/yyyy'
                     },
                     //{
                     //    text: 'Ngày nghỉ bù', datafield: 'NgayNghiBu', width: 180, align: 'center', cellsalign: "middle", cellsformat: 'd/M/yyyy'
                     //},

                ]
            });
    }
    ViewModel.prototype = {
        validate: function () {
            var self = this;
            if (isNaN(self.year()) || self.year() < 0) {
                alert("Năm không hợp lệ !!");
                return true;
            }
            return false;
        },
        search: function () {
            var self = this;
            if (self.validate())
                return;
            self.datagrid.jqxGrid('updatebounddata');
        },
        New: function () {
            var self = this;
            $.get('/app/views/chamcong/NgayNghiTrongNam/New.html', function (data) {
                $('#popupWindowNgayNghiNew').html(data);
                ko.cleanNode($('#popupWindowNgayNghiNew')[0]);
                $('#popupWindowNgayNghiNew').kendoWindow({
                    width: "60%",
                    title: "",
                    actions: [
                        "Close"
                    ],
                    position: {
                        top: "15%",
                        left: "20%"
                    }
                });
                $("#jqxFromDate").jqxDateTimeInput({ width: '250px', height: '25px' });
                $("#jqxToDate").jqxDateTimeInput({ width: '250px', height: '25px' });
                $('#popupWindowNgayNghiNew').data("kendoWindow").open();
                ko.applyBindings(self, document.getElementById('popupWindowNgayNghiNew'));
            });
        },
        Create: function () {
            var self = this;          
                $.ajax({
                    type: 'POST',
                    url: '/WebServices/NgayNghiTrongNam_Save',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({
                        TenNgayNghi: $("#TenNgayNghi").val(),
                        TuNgay: $('#jqxFromDate').jqxDateTimeInput('getDate'),
                        DenNgay: $('#jqxToDate').jqxDateTimeInput('getDate'),
                        Nam: self.year()
                    }),
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        alert("Lưu thành công !!");
                        $("#jqxgrid").jqxGrid('updatebounddata');
                        $("#popupWindowNgayNghiNew").data("kendoWindow").close();
                    }
                });
        },
        remove: function () {
            var self = this;
            var getselectedrowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
            var selectedrow = $('#jqxgrid').jqxGrid('getrowdata', getselectedrowindexes[0]);
            if (getselectedrowindexes.length == 0) {
                alert("Chưa có dòng nào được chọn !!");
                return;
            }
            if (getselectedrowindexes.length > 1) {
                alert("Chỉ được chọn 1 dòng !!");
                return;
            }
            var r = confirm("Bạn có chắc xóa hay không ?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '/WebServices/NgayNghiTrongNam_Delete',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: ko.toJSON({
                            Oid: selectedrow.Oid,
                        }),
                        success: function (result) {
                            //alert("Xóa thành công !!");
                            self.datagrid.jqxGrid('updatebounddata');
                            self.datagrid.jqxGrid('clearselection');
                        }
                    });
            }
        },
    };
    $(function () {
        var model = new ViewModel($("#jqxgrid"));
        ko.applyBindings(model, $("#ChamCongNgayNghi")[0]);
    });
</script>

<div id="ChamCongNgayNghi">
    <div class="alert alert-info" style="height:36px; background-color:#4450A0; border-color:#000000"><h4>QUẢN LÝ NGÀY NGHỈ TRONG NĂM</h4></div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="buttons-preview" id="userManage" style="margin-left: 15px;">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <a href="#" class="btn btn-labeled btn-palegreen" style="width: 158px;" data-bind="click: New">
                            <i class="btn-label glyphicon glyphicon-tags"></i>Tạo mới
                        </a>
                        <a href="#" class="btn btn-labeled btn-darkorange" style="width: 158px;" data-bind="click: remove">
                            <i class="btn-label glyphicon glyphicon-remove"></i>Xóa
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 10px 0px; text-align: center">
        <input type="text" placeholder="năm" data-bind="value: year" style="width: 50px;height:32px; text-align: center" maxlength="4" />
        <input type="button" value="Tìm" data-bind="click: search" style="width: 60px;height:32px;" />
    </div>
    <div style="padding: 0px 0px 0px 0px;">
        <div id="jqxgrid"></div>
    </div>
    <div id="popupWindowNgayNghiNew"></div>
</div>

